Repository bretmckee/game-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: autocopyright-python, autocopyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-generate, jscpd-diff

Path conditions:
  autocopyright-python: any of: \.py$
  autocopyright-typescript: any of: \.(ts|tsx)$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.css$, \.scss$, \.(md|markdown|mdown)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  python-compile: any of: \.py$
  mypy: any of: \.py$
  pytest-coverage: any of: ^(services|shared|tests)/.*\.py$
  diff-coverage: any of: ^(services|shared|tests)/.*\.py$
  frontend-build: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|html)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  vitest-coverage: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  diff-coverage-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  complexipy: any of: \.py$
  lizard-typescript: any of: ^frontend/src/.*\.(ts|tsx)$
  jscpd-generate: any of: \.py$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  jscpd-diff: any of: \.py$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$

chore: remove participant-reposition-bug planning artifacts
  .claude/commands/implement-participant-reposition-bug.md
  .copilot-tracking/planning/details/20260716-01-participant-reposition-bug-details.md
  .copilot-tracking/planning/plans/20260716-01-participant-reposition-bug.plan.md
  .copilot-tracking/research/20260716-01-participant-reposition-bug-research.md
Due: prettier

Add grafana-check-errors skill
  .claude/skills/grafana-check-errors/SKILL.md
Due: prettier

Fix ENVIRONMENT wiring for bot and api services
  compose.yaml
Due: none

Log Gateway disconnects by actual outcome, not on speculation
  services/bot/bot.py
  tests/unit/bot/test_bot_events.py
  tests/unit/bot/test_bot_ready.py
  tests/unit/bot/test_bot_reconnect_repopulation.py
  tests/unit/bot/test_guild_projection_incremental.py
  tests/unit/bot/test_sweep_metrics.py
  tests/unit/bot/test_sweep_orphaned_embeds.py
  tests/unit/bot/test_test_server.py
  tests/unit/bot/test_trigger_sweep.py
  tests/unit/services/bot/test_bot.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

Add OTel metrics for Gateway disconnect/reconnect events
  services/bot/bot.py
  tests/unit/services/bot/test_bot.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

Add shared metrics for game join/leave actions
  services/api/routes/games.py
  services/bot/handlers/join_game.py
  services/bot/handlers/leave_game.py
  shared/services/game_metrics.py
  tests/unit/bot/handlers/test_join_game_handler.py
  tests/unit/bot/handlers/test_leave_game_handler.py
  tests/unit/services/api/routes/test_games_endpoint_errors.py
  tests/unit/shared/services/test_game_metrics.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

Add metrics for game posted/cancelled/completed lifecycle
  services/api/routes/games.py
  services/bot/announcement_loop.py
  services/bot/bot.py
  services/bot/events/handlers.py
  shared/services/game_metrics.py
  tests/unit/bot/test_announcement_loop.py
  tests/unit/services/api/routes/test_games_endpoint_errors.py
  tests/unit/services/bot/events/test_handlers_game_created.py
  tests/unit/services/bot/events/test_handlers_status_transition.py
  tests/unit/services/bot/test_bot.py
  tests/unit/shared/services/test_game_metrics.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

Add game lifecycle dashboard, fix histogram metric names
  config.template/grafana-alloy/dashboards/cache-metrics-dashboard.json
  config.template/grafana-alloy/dashboards/embed-sweep-dashboard.json
  config.template/grafana-alloy/dashboards/game-lifecycle-dashboard.json
  config.template/grafana-alloy/dashboards/gateway-projection-dashboard.json
Due: prettier

Log git version on bot ready and API startup
  services/api/app.py
  services/bot/bot.py
  tests/unit/services/api/test_app.py
  tests/unit/services/bot/test_bot.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

Remove dashboard panels/files for deleted instrumentation
  config.template/grafana-alloy/dashboards/README.md
  config.template/grafana-alloy/dashboards/cache-metrics-dashboard.json
  config.template/grafana-alloy/dashboards/retry-daemon-dashboard.json
Due: prettier

Add remote-psql skill for querying deployed databases
  .claude/skills/remote-psql/SKILL.md
Due: prettier

Fix channel-mention validation false positives and vague errors
  frontend/src/components/ChannelValidationErrors.tsx
  frontend/src/components/__tests__/ChannelValidationErrors.test.tsx
  frontend/src/pages/__tests__/CreateGame.test.tsx
  frontend/src/pages/__tests__/EditGame.test.tsx
  services/api/services/channel_resolver.py
  services/api/services/games.py
  tests/integration/test_games_channel_mention_errors.py
  tests/unit/services/api/services/conftest.py
  tests/unit/services/api/services/test_channel_resolver.py
  tests/unit/services/api/services/test_games_service.py
Due: autocopyright-python, autocopyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-generate, jscpd-diff

Show event counts instead of req/s on lifecycle dashboard
  config.template/grafana-alloy/dashboards/game-lifecycle-dashboard.json
Due: prettier

fix: resolve display names for participant/host embed mentions
  services/bot/events/handlers.py
  services/bot/formatters/game_message.py
  services/bot/utils/discord_format.py
  tests/e2e/test_player_removal.py
  tests/unit/services/bot/events/test_handlers_game_created.py
  tests/unit/services/bot/formatters/test_game_message.py
  tests/unit/services/bot/utils/test_discord_format.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

test: stop leaking background listener tasks in bot unit tests
  tests/unit/bot/test_bot_ready.py
  tests/unit/services/bot/test_bot.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

Enforce priority roles imply Role Based signup method
  frontend/src/components/TemplateForm.tsx
  frontend/src/components/__tests__/GameForm.test.tsx
  frontend/src/components/__tests__/TemplateForm.test.tsx
  services/api/routes/templates.py
  shared/schemas/template.py
  tests/integration/test_template_creation.py
  tests/integration/test_templates.py
  tests/unit/schemas/test_schemas_template_schema.py
  tests/unit/services/api/routes/test_templates.py
Due: autocopyright-python, autocopyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-generate, jscpd-diff

Mention host and confirmed players in game announcements
  services/bot/formatters/game_message.py
  tests/unit/services/bot/formatters/test_game_message.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

Backfill existing templates for signup-method/priority-role invariant
  alembic/versions/bf79aeffb6b0_backfill_template_signup_method_.py
  shared/utils/template_signup_method_backfill.py
  tests/integration/test_template_signup_method_backfill_migration.py
  tests/unit/shared/utils/test_template_signup_method_backfill.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

Deduplicate host mention when host also signs up
  services/bot/formatters/game_message.py
  tests/unit/services/bot/formatters/test_game_message.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

Rename template Channel label to Announcement Channel
  frontend/src/components/TemplateForm.tsx
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

Use raw mentions for confirmed players, not resolved names
  services/bot/events/handlers.py
  services/bot/formatters/game_message.py
  tests/e2e/test_player_removal.py
  tests/unit/services/bot/events/test_handlers_game_created.py
  tests/unit/services/bot/formatters/test_game_message.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

docs: sync HOST-GUIDE.md with code, use "server" over "guild"
  README.md
  docs/HOST-GUIDE.md
  docs/PLAYER-GUIDE.md
  docs/SERVER-ADMIN.md
  docs/deployment/README.md
  docs/developer/README.md
Due: prettier

Add Help link to nav bar pointing to wiki
  frontend/src/components/Layout.tsx
  frontend/src/components/__tests__/Layout.test.tsx
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

fix: allow self-joins past capacity except HOST_SELECTED
  services/api/services/games.py
  tests/unit/api/services/test_games.py
  tests/unit/services/api/services/test_games_service.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: bot join handler rejects HOST_SELECTED self-joins
  services/bot/handlers/join_game.py
  tests/integration/test_game_signup_methods.py
  tests/unit/services/bot/handlers/test_join_game.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: hide Join button for HOST_SELECTED games in web UI
  frontend/src/components/GameCard.tsx
  frontend/src/components/__tests__/GameCard.test.tsx
  frontend/src/pages/GameDetails.tsx
  frontend/src/pages/__tests__/GameDetails.test.tsx
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

fix: stop deleting host-added participants omitted from edit payload
  frontend/src/components/GameForm.tsx
  frontend/src/components/__tests__/GameForm.test.tsx
  services/api/services/games.py
  tests/integration/test_games_crud.py
  tests/unit/services/api/services/test_games_edit_participants.py
  tests/unit/services/api/services/test_games_service.py
Due: autocopyright-python, autocopyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-generate, jscpd-diff

docs: add agent branch policy to commit-messages instructions
  .claude/config-sync-manifest.json
  .github/instructions/commit-messages.instructions.md
  CLAUDE.md
Due: prettier

fix: deliver host welcome message to host-added and promoted players
  services/api/services/games.py
  services/bot/events/handlers.py
  shared/message_formats.py
  shared/services/waitlist_transitions.py
  tests/e2e/test_join_notification.py
  tests/e2e/test_waitlist_promotion.py
  tests/integration/test_leave_game_promotion.py
  tests/unit/services/api/services/test_games_edit_participants.py
  tests/unit/services/bot/events/test_handlers_join_notification.py
  tests/unit/shared/services/test_waitlist_transitions.py
  tests/unit/shared/test_message_formats.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: notify waitlisted participants outside HOST_SELECTED_WITH_WAITLIST
  services/api/services/games.py
  services/bot/events/handlers.py
  tests/e2e/test_join_notification.py
  tests/unit/api/services/test_games.py
  tests/unit/bot/events/test_handlers_lifecycle_events.py
  tests/unit/services/bot/events/test_handlers_join_notification.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

docs: plan join-notification scheduling consolidation
  .claude/commands/implement-join-notification-scheduling-consolidation.md
  .copilot-tracking/planning/details/20260815-01-join-notification-scheduling-consolidation-details.md
  .copilot-tracking/planning/plans/20260815-01-join-notification-scheduling-consolidation.plan.md
  .copilot-tracking/research/20260815-01-join-notification-scheduling-consolidation-research.md
Due: prettier

feat: Phase 1 - Relocate schedule_join_notification primitive to shared/services/game_schedules.py
  .copilot-tracking/changes/20260815-01-join-notification-scheduling-consolidation-changes.md
  .copilot-tracking/planning/plans/20260815-01-join-notification-scheduling-consolidation.plan.md
  services/api/services/games.py
  services/api/services/notification_schedule.py
  services/bot/handlers/join_game.py
  shared/services/game_schedules.py
  tests/e2e/test_join_notification.py
  tests/unit/shared/services/test_game_schedules.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: Phase 2 - fix confirmed-only join-notification bug, rename to schedule_join_notifications_for_game
  .copilot-tracking/changes/20260815-01-join-notification-scheduling-consolidation-changes.md
  .copilot-tracking/planning/plans/20260815-01-join-notification-scheduling-consolidation.plan.md
  shared/services/game_schedules.py
  tests/unit/shared/services/test_game_schedules.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: Phase 3 - delete GameService._schedule_join_notifications_for_game, repoint callers
  .copilot-tracking/changes/20260815-01-join-notification-scheduling-consolidation-changes.md
  .copilot-tracking/planning/plans/20260815-01-join-notification-scheduling-consolidation.plan.md
  services/api/services/games.py
  tests/unit/api/services/test_games.py
  tests/unit/services/api/services/test_games_service.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: Phase 4 - remove dead code guild_queries.add_participant
  .copilot-tracking/changes/20260815-01-join-notification-scheduling-consolidation-changes.md
  .copilot-tracking/planning/plans/20260815-01-join-notification-scheduling-consolidation.plan.md
  shared/data_access/guild_queries.py
  tests/integration/test_guild_queries_integration.py
  tests/unit/shared/data_access/test_guild_queries_unit.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: scope update_schedule's DELETE to reminder rows only
  services/api/services/notification_schedule.py
  tests/integration/test_notification_schedule.py
  tests/unit/services/api/services/test_notification_schedule.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: waitlist join DM wrongly claims host selects participants
  services/bot/events/handlers.py
  shared/message_formats.py
  tests/unit/services/bot/events/test_handlers_join_notification.py
  tests/unit/shared/test_message_formats.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

docs: add research notes for per-function mutation testing gate (CI/CD)
  .copilot-tracking/research/20260422-03-test-quality-cicd-mutmut-research.md
Due: prettier

chore: add mutation testing tooling and research
  .gitignore
  pyproject.toml
  scripts/mutmut-logic-survivors.py
Due: autocopyright-python, python-compile, mypy, complexipy, jscpd-generate, jscpd-diff

docs: add research notes for Remove RabbitMQ task
  .copilot-tracking/research/20260408-02-remove-rabbitmq-research.md
Due: prettier
