Repository bretmckee/game-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-copyright-python, add-copyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-diff

Path conditions:
  add-copyright-python: any of: \.py$
  add-copyright-typescript: any of: \.(ts|tsx)$
  prettier: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.css$, \.scss$, \.(md|markdown|mdown)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  python-compile: any of: \.py$
  mypy: any of: \.py$
  pytest-coverage: any of: ^(services|shared|tests)/.*\.py$
  diff-coverage: any of: ^(services|shared|tests)/.*\.py$
  frontend-build: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|html)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  vitest-coverage: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  diff-coverage-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  complexipy: any of: \.py$
  lizard-typescript: any of: ^frontend/src/.*\.(ts|tsx)$
  jscpd-diff: any of: \.py$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$

Complete ReminderSelector implementation (Phase 3: Cleanup)
  .copilot-tracking/changes/20260208-01-reminder-time-selector-changes.md
  .copilot-tracking/plans/20260208-01-reminder-time-selector-plan.instructions.md
  .copilot-tracking/prompts/implement-reminder-time-selector.prompt.md
  frontend/src/utils/__tests__/fieldValidation.test.ts
  frontend/src/utils/fieldValidation.ts
Due: add-copyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-diff

Add research and planning for secure public image architecture
  .copilot-tracking/details/20260207-02-public-image-endpoints-details.md
  .copilot-tracking/plans/20260207-02-public-image-endpoints-plan.instructions.md
  .copilot-tracking/prompts/implement-public-image-endpoints.prompt.md
  .copilot-tracking/research/20260207-02-public-image-endpoints-research.md
Due: none

Add game_images table migration and models (Phase 0)
  .copilot-tracking/changes/20260207-02-public-image-endpoints-changes.md
  .copilot-tracking/plans/20260207-02-public-image-endpoints-plan.instructions.md
  alembic/versions/dc81dd7fe299_migrate_images_to_separate_table_with_.py
  shared/models/__init__.py
  shared/models/game.py
  shared/models/game_image.py
Due: add-copyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-diff

Implement image storage service with SHA256 deduplication (Phase 1)
  .copilot-tracking/changes/20260207-02-public-image-endpoints-changes.md
  .copilot-tracking/plans/20260207-02-public-image-endpoints-plan.instructions.md
  shared/models/game_image.py
  shared/services/__init__.py
  shared/services/image_storage.py
  tests/integration/shared/__init__.py
  tests/integration/shared/services/__init__.py
  tests/integration/shared/services/test_image_storage.py
Due: add-copyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-diff

Update bot and frontend to use public image URLs
  .copilot-tracking/changes/20260207-02-public-image-endpoints-changes.md
  .copilot-tracking/plans/20260207-02-public-image-endpoints-plan.instructions.md
  frontend/src/pages/GameDetails.tsx
  frontend/src/types/index.ts
  services/api/routes/games.py
  services/bot/events/handlers.py
  services/bot/formatters/game_message.py
  shared/schemas/game.py
  tests/services/bot/formatters/test_game_message.py
Due: add-copyright-python, add-copyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-diff

Remove deprecated authenticated image endpoints
  .copilot-tracking/changes/20260207-02-public-image-endpoints-changes.md
  .copilot-tracking/plans/20260207-02-public-image-endpoints-plan.instructions.md
  .copilot-tracking/prompts/implement-public-image-endpoints.prompt.md
  docs/developer/README.md
  docs/developer/public-image-architecture.md
  services/api/routes/games.py
  tests/services/api/routes/conftest.py
  tests/services/api/routes/test_games_image_serving.py
Due: add-copyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-diff

Add 240s timeouts to slow integration/e2e tests
  tests/e2e/test_game_reminder.py
  tests/e2e/test_game_status_transitions.py
  tests/e2e/test_join_notification.py
  tests/integration/test_retry_daemon.py
Due: add-copyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-diff

Add test randomization with pytest-randomly and Vitest shuffle
  frontend/vitest.config.ts
  pyproject.toml
  tests/integration/services/api/routes/test_public_images.py
  tests/integration/services/api/routes/test_public_images_rate_limit.py
  uv.lock
Due: add-copyright-python, add-copyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, diff-coverage-frontend, complexipy, jscpd-diff

Add autocopyright wrapper for extensionless shell scripts
  .pre-commit-config.yaml
  docker/api-entrypoint.sh
  docker/bot-entrypoint.sh
  docker/frontend-entrypoint.sh
  frontend/vite.config.ts
  frontend/vitest.config.ts
  scripts/autocopyright-wrapper.sh
  scripts/check_commit_duplicates.py
  scripts/data_migration_create_default_templates.py
  scripts/init_rabbitmq.py
  scripts/verify_button_states.py
Due: add-copyright-python, add-copyright-typescript, prettier, eslint, python-compile, mypy, frontend-build, typescript, diff-coverage-frontend, complexipy, jscpd-diff

Add planning files for Discord channel links in game location field
  .copilot-tracking/details/20260210-01-channel-links-in-game-location-details.md
  .copilot-tracking/plans/20260210-01-channel-links-in-game-location-plan.instructions.md
  .copilot-tracking/prompts/implement-channel-links-in-game-location.prompt.md
  .copilot-tracking/research/20260210-01-channel-links-in-game-location-research.md
Due: none

feat: integrate channel resolution into game service (Phase 2)
  .copilot-tracking/changes/20260210-01-channel-links-in-game-location-changes.md
  .copilot-tracking/plans/20260210-01-channel-links-in-game-location-plan.instructions.md
  services/api/routes/games.py
  services/api/services/games.py
  tests/integration/services/api/services/test_game_image_integration.py
  tests/integration/test_games_route_guild_isolation.py
  tests/services/api/services/conftest.py
  tests/services/api/services/test_games.py
Due: add-copyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-diff

feat: add channel validation error display in game creation UI
  .copilot-tracking/changes/20260210-01-channel-links-in-game-location-changes.md
  .copilot-tracking/plans/20260210-01-channel-links-in-game-location-plan.instructions.md
  frontend/src/components/ChannelValidationErrors.tsx
  frontend/src/components/GameForm.tsx
  frontend/src/components/__tests__/ChannelValidationErrors.test.tsx
  frontend/src/pages/CreateGame.tsx
  frontend/src/pages/__tests__/CreateGame.test.tsx
Due: add-copyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-diff

refactor: migrate chatmodes to custom agents
  .github/agents/task-planner.agent.md
  .github/agents/task-researcher.agent.md
  .github/instructions/researcher-enhancements.instructions.md
Due: none

Restructure Phase 5 tasks for incremental implementation
  .copilot-tracking/details/20260214-01-discord-webhook-events-automatic-sync-details.md
  .copilot-tracking/plans/20260214-01-discord-webhook-events-automatic-sync.plan.md
Due: none
