Repository bretmckee/game-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: autocopyright-python, autocopyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-generate, jscpd-diff

autocopyright-python:
  name: Add copyright headers (Python)
  entry: scripts/autocopyright-wrapper.sh -s "#" -l ./templates/mit-template.jinja2
  language: script
  require_serial: true

autocopyright-typescript:
  name: Add copyright headers (TypeScript)
  entry: scripts/autocopyright-wrapper.sh -s "//" -l ./templates/mit-template.jinja2
  language: script
  require_serial: true

prettier:
  name: Prettier format
  entry: prettier --write --config frontend/.prettierrc
  language: node
  additional_dependencies:
  - prettier@^3.7.4

eslint:
  name: ESLint
  entry: eslint --config frontend/eslint.config.js frontend/src/ --fix
  language: node
  pass_filenames: false
  additional_dependencies:
  - eslint@^9.0.0
  - '@eslint/js@^9.39.2'
  - typescript-eslint@^8.49.0
  - '@typescript-eslint/eslint-plugin@^8.0.0'
  - '@typescript-eslint/parser@^8.0.0'
  ...

python-compile:
  name: Python compilation check
  entry: python -m compileall -q
  language: python
  args:
  - services
  - shared
  - tests
  pass_filenames: false

mypy:
  name: mypy type check
  entry: uv run mypy
  language: system
  pass_filenames: false
  args:
  - shared/
  - services/

pytest-coverage:
  name: Python unit tests with coverage
  entry: bash -c 'output=$(uv run pytest --timeout=30 --cov --cov-report=xml --cov-report= -qq 2>&1); if [ $? -ne 0 ]; then echo "$output"; exit 1; fi'
  language: system
  pass_filenames: false
  verbose: true

diff-coverage:
  name: Python diff coverage check
  ...

frontend-build:
  name: Frontend build check
  entry: bash -c 'cd frontend && npm run build'
  language: system
  pass_filenames: false

typescript:
  name: TypeScript check
  entry: tsc --project frontend/tsconfig.json --noEmit
  language: node
  pass_filenames: false
  additional_dependencies:
  - typescript@^5.9.3

vitest-coverage:
  name: Frontend unit tests with coverage
  entry: scripts/run-frontend-coverage.sh
  language: system
  pass_filenames: false
  verbose: true

diff-coverage-frontend:
  name: Frontend diff coverage check
  ...

complexipy:
  name: complexipy cognitive complexity check
  entry: complexipy
  language: python
  pass_filenames: false
  additional_dependencies:
  - complexipy~=4.2.0

lizard-typescript:
  name: lizard typescript complexity check
  entry: lizard -l typescript frontend/src/ --CCN 15 --warnings_only
  language: python
  pass_filenames: false
  additional_dependencies:
  - lizard~=1.20.0

jscpd-generate:
  name: Generate duplicate code report
  entry: jscpd services shared frontend/src --config .jscpd.json --threshold 100 --reporters json --output .jscpd-report
  language: node
  pass_filenames: false
  additional_dependencies:
  - jscpd

jscpd-diff:
  name: Check for duplicates in changed lines
  entry: python scripts/check_commit_duplicates.py .jscpd-report/jscpd-report.json
  language: python
  pass_filenames: false
  verbose: true

feat: Phase 4 — clone_confirmation DM format + bot view
  .copilot-tracking/changes/20260302-01-game-clone-changes.md
  .copilot-tracking/plans/20260302-01-game-clone.plan.md
  services/bot/views/clone_confirmation_view.py
  services/bot/views/game_view.py
  shared/message_formats.py
  tests/services/bot/views/test_game_view.py
  tests/unit/bot/views/__init__.py
  tests/unit/bot/views/test_clone_confirmation_view.py
  tests/unit/test_clone_confirmation_dm.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

Phase 5: wire clone_confirmation notification type into bot handler
  .copilot-tracking/changes/20260302-01-game-clone-changes.md
  .copilot-tracking/plans/20260302-01-game-clone.plan.md
  services/bot/events/handlers.py
  tests/integration/test_clone_confirmation_notification.py
  tests/services/bot/events/test_handlers.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

docs: improve SKIP_STARTUP/SKIP_CLEANUP comments in test scripts
  scripts/run-e2e-tests.sh
  scripts/run-integration-tests.sh
Due: none

chore: remove game-clone tracking files after feature completion
  .copilot-tracking/details/20260302-01-game-clone-details.md
  .copilot-tracking/plans/20260302-01-game-clone.plan.md
  .copilot-tracking/prompts/implement-game-clone.prompt.md
  .copilot-tracking/research/20260302-01-game-clone-research.md
Due: prettier

planning: consolidate 3 scheduler daemon containers into 1 (20260305-01)
  .copilot-tracking/details/20260305-01-scheduler-daemon-consolidation-details.md
  .copilot-tracking/plans/20260305-01-scheduler-daemon-consolidation.plan.md
  .copilot-tracking/prompts/implement-scheduler-daemon-consolidation.prompt.md
  .copilot-tracking/research/20260305-01-scheduler-daemon-consolidation-research.md
Due: prettier

feat(scheduler): add service_name to SchedulerDaemon (Phase 1)
  .copilot-tracking/changes/20260305-01-scheduler-daemon-consolidation-changes.md
  .copilot-tracking/details/20260305-01-scheduler-daemon-consolidation-details.md
  .copilot-tracking/plans/20260305-01-scheduler-daemon-consolidation.plan.md
  services/scheduler/generic_scheduler_daemon.py
  services/scheduler/notification_daemon_wrapper.py
  services/scheduler/participant_action_daemon_wrapper.py
  services/scheduler/status_transition_daemon_wrapper.py
  tests/services/scheduler/test_generic_scheduler_daemon.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

Consolidate scheduler daemons into single container (Phases 2-4)
  .copilot-tracking/changes/20260305-01-scheduler-daemon-consolidation-changes.md
  .copilot-tracking/plans/20260305-01-scheduler-daemon-consolidation.plan.md
  compose.e2e.yaml
  compose.int.yaml
  compose.override.yaml
  compose.prod.yaml
  compose.staging.yaml
  compose.yaml
  docker/scheduler.Dockerfile
  services/scheduler/daemon_runner.py
  services/scheduler/scheduler_daemon_wrapper.py
  tests/unit/services/scheduler/test_scheduler_daemon_wrapper.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

scheduler: consolidate daemon containers (phases 5-6)
  .copilot-tracking/changes/20260305-01-scheduler-daemon-consolidation-changes.md
  .copilot-tracking/plans/20260305-01-scheduler-daemon-consolidation.plan.md
  .github/workflows/ci-cd.yml
  config.template/env.template
  docker/notification-daemon.Dockerfile
  docker/participant-action-daemon.Dockerfile
  docker/status-transition-daemon.Dockerfile
  docs/deployment/configuration.md
  docs/deployment/quickstart.md
  services/api/services/games.py
  services/retry/__init__.py
  services/scheduler/generic_scheduler_daemon.py
  services/scheduler/notification_daemon_wrapper.py
  services/scheduler/participant_action_daemon_wrapper.py
  services/scheduler/status_transition_daemon_wrapper.py
  shared/models/game_status_schedule.py
  shared/models/participant_action_schedule.py
  shared/schemas/events.py
  tests/conftest.py
  tests/e2e/test_clone_game_e2e.py
  tests/e2e/test_join_notification.py
  tests/integration/test_clone_confirmation_notification.py
  tests/integration/test_notification_daemon.py
  tests/integration/test_participant_action_daemon.py
  tests/integration/test_status_transitions.py
  tests/unit/services/test_clone_game.py
  tests/unit/services/test_participant_action_daemon_wrapper.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

research: GameStatus enum consolidation
  .copilot-tracking/research/20260308-01-game-status-consolidation-research.md
Due: prettier

research: game announcement archive feature
  .copilot-tracking/research/20260308-02-game-archive-feature-research.md
Due: prettier

Remove scheduler daemon consolidation research, plan, and prompt files
  .copilot-tracking/details/20260305-01-scheduler-daemon-consolidation-details.md
  .copilot-tracking/plans/20260305-01-scheduler-daemon-consolidation.plan.md
  .copilot-tracking/prompts/implement-scheduler-daemon-consolidation.prompt.md
  .copilot-tracking/research/20260305-01-scheduler-daemon-consolidation-research.md
Due: prettier

Add planning files for coverage collection infrastructure fix
  .copilot-tracking/details/20260308-03-coverage-collection-infrastructure-fix-details.md
  .copilot-tracking/plans/20260308-03-coverage-collection-infrastructure-fix.plan.md
  .copilot-tracking/prompts/implement-coverage-collection-infrastructure-fix.prompt.md
  .copilot-tracking/research/20260308-03-test-coverage-gaps-research.md
Due: prettier

planning: auth route testing via fake Discord server (task 20260308-04)
  .copilot-tracking/details/20260308-04-auth-oauth-testing-details.md
  .copilot-tracking/plans/20260308-04-auth-oauth-testing.plan.md
  .copilot-tracking/prompts/implement-auth-oauth-testing.prompt.md
  .copilot-tracking/research/20260308-04-auth-oauth-testing-research.md
Due: prettier

refactor(discord): make DiscordAPIClient URL configurable via api_base_url
  .copilot-tracking/changes/20260308-04-auth-oauth-testing-changes.md
  .copilot-tracking/plans/20260308-04-auth-oauth-testing.plan.md
  shared/discord/client.py
  tests/unit/shared/discord/test_client.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: add fake-discord service and compose wiring (Phase 3)
  .copilot-tracking/changes/20260308-04-auth-oauth-testing-changes.md
  .copilot-tracking/plans/20260308-04-auth-oauth-testing.plan.md
  compose.int.yaml
  tests/integration/fixtures/fake_discord_app.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

Remove tracking files
  .copilot-tracking/details/20260308-01-game-status-consolidation-details.md
  .copilot-tracking/plans/20260308-01-game-status-consolidation.plan.md
  .copilot-tracking/prompts/implement-game-status-consolidation.prompt.md
  .copilot-tracking/research/20260308-01-game-status-consolidation-research.md
Due: prettier

research+plan: game announcement archive feature
  .copilot-tracking/planning/details/20260311-01-game-archive-feature-details.md
  .copilot-tracking/planning/plans/20260311-01-game-archive-feature.plan.md
  .copilot-tracking/planning/prompts/implement-game-archive-feature.prompt.md
  .copilot-tracking/research/20260308-02-game-archive-feature-research.md
Due: prettier

feat: wire template archive fields through API
  .copilot-tracking/changes/20260311-01-game-archive-feature-changes.md
  .copilot-tracking/planning/plans/20260311-01-game-archive-feature.plan.md
  services/api/routes/templates.py
  services/api/services/games.py
  shared/schemas/template.py
  tests/services/api/routes/test_templates.py
  tests/services/api/services/test_games.py
  tests/unit/schemas/test_template_schema.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: repair broken tests after game archive feature
  .copilot-tracking/changes/20260311-01-game-archive-feature-changes.md
  .copilot-tracking/planning/plans/20260311-01-game-archive-feature.plan.md
  compose.e2e.yaml
  config.template/env.template
  docs/developer/TESTING.md
  scripts/run-e2e-tests.sh
  services/init/seed_e2e.py
  tests/e2e/conftest.py
  tests/e2e/helpers/discord.py
  tests/e2e/test_00_environment.py
  tests/e2e/test_game_archive.py
  tests/integration/test_games_archive_fields.py
  tests/integration/test_participant_action_schedule_migration.py
  tests/integration/test_template_archive_fields.py
  tests/services/api/routes/test_templates.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

chore: untrack output files and add gitignore entries
  .gitignore
  output-coverage.txt
Due: none

docs: add local python setup make target
  Makefile
  docs/developer/SETUP.md
Due: prettier

perf: replace per-channel fetch with single guild channels call
  services/api/routes/guilds.py
  services/api/routes/templates.py
  tests/services/api/routes/test_guilds.py
  tests/services/api/routes/test_templates.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: enforce Discord embed description limits and fix display overflow
  .copilot-tracking/changes/20260314-01-discord-embed-description-limit-changes.md
  .copilot-tracking/planning/plans/20260314-01-discord-embed-description-limit.plan.md
  frontend/src/components/GameForm.tsx
  frontend/src/components/__tests__/TemplateForm.validation.test.tsx
  frontend/src/constants/ui.ts
  frontend/src/pages/GameDetails.tsx
  services/api/routes/export.py
  services/bot/formatters/game_message.py
  shared/discord/game_embeds.py
  shared/schemas/game.py
  shared/schemas/template.py
  tests/integration/test_template_creation.py
  tests/services/bot/formatters/test_game_message.py
  tests/shared/schemas/__init__.py
  tests/shared/schemas/test_game_schema.py
  tests/shared/schemas/test_template_schema.py
Due: autocopyright-python, autocopyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-generate, jscpd-diff

chore: remove completed discord embed description limit tracking files
  .copilot-tracking/planning/details/20260314-01-discord-embed-description-limit-details.md
  .copilot-tracking/planning/plans/20260314-01-discord-embed-description-limit.plan.md
  .copilot-tracking/planning/prompts/implement-discord-embed-description-limit.prompt.md
  .copilot-tracking/research/20260314-01-discord-embed-description-limit-research.md
Due: prettier

docs: clarify TDD applies only to unit tests, not integration/e2e
  .github/instructions/integration-tests.instructions.md
  .github/instructions/test-driven-development.instructions.md
Due: prettier

docs: enforce tee-first output collection for integration and e2e tests
  .github/instructions/integration-tests.instructions.md
  .github/instructions/test-execution.instructions.md
  scripts/run-e2e-tests.sh
  scripts/run-integration-tests.sh
Due: prettier

docs: add research and planning for cancelled game cleanup
  .copilot-tracking/planning/details/20260314-01-cancelled-game-cleanup-details.md
  .copilot-tracking/planning/plans/20260314-01-cancelled-game-cleanup.plan.md
  .copilot-tracking/planning/prompts/implement-cancelled-game-cleanup.prompt.md
  .copilot-tracking/research/20260314-01-cancelled-game-cleanup-research.md
Due: prettier

feat: delete game row and Discord message on cancellation
  .copilot-tracking/changes/20260314-01-cancelled-game-cleanup-changes.md
  .copilot-tracking/planning/plans/20260314-01-cancelled-game-cleanup.plan.md
  services/api/services/games.py
  services/bot/events/handlers.py
  tests/e2e/test_game_authorization.py
  tests/e2e/test_game_cancellation.py
  tests/integration/services/api/services/test_game_image_integration.py
  tests/unit/services/api/services/test_games.py
  tests/unit/services/bot/events/test_handlers.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

test: remove test_guild_fixture_cleanup from e2e suite
  tests/e2e/test_00_environment.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: sort channel dropdowns and filter BrowseGames channels to relevant only
  frontend/src/pages/BrowseGames.tsx
  frontend/src/pages/__tests__/BrowseGames.test.tsx
  services/api/routes/guilds.py
  tests/integration/api/routes/test_guilds.py
Due: autocopyright-python, autocopyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-generate, jscpd-diff

chore: remove completed cancelled game cleanup planning files
  .copilot-tracking/planning/details/20260314-01-cancelled-game-cleanup-details.md
  .copilot-tracking/planning/plans/20260314-01-cancelled-game-cleanup.plan.md
  .copilot-tracking/planning/prompts/implement-cancelled-game-cleanup.prompt.md
  .copilot-tracking/research/20260314-01-cancelled-game-cleanup-research.md
Due: prettier

fix: repair coverage measurement for service containers
  .copilot-tracking/research/20260308-03-test-coverage-gaps-research.md
  compose.int.yaml
  docker/api.Dockerfile
  docker/bot.Dockerfile
  docker/init.Dockerfile
  docker/retry.Dockerfile
  docker/scheduler.Dockerfile
  pyproject.toml
  services/bot/main.py
  services/init/main.py
  services/scheduler/daemon_runner.py
  shared/version.py
  tests/e2e/conftest.py
  tests/unit/services/api/auth/test_tokens.py
  tests/unit/services/init/test_init_main.py
  tests/unit/services/scheduler/test_daemon_runner_run.py
  tests/unit/services/scheduler/test_daemon_runner_signals.py
  tests/unit/shared/test_version.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

docs: clarify TDD applicability and remove planner duplication
  .github/agents/task-planner.agent.md
  .github/instructions/test-driven-development.instructions.md
Due: prettier

test: Phase 2 bot auth and utility unit tests to 100% coverage
  .copilot-tracking/changes/20260308-03-test-coverage-gaps-changes.md
  .copilot-tracking/planning/plans/20260308-03-test-coverage-gaps.plan.md
  tests/unit/services/bot/auth/test_cache.py
  tests/unit/services/bot/auth/test_role_checker.py
  tests/unit/services/bot/handlers/test_utils.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: add phase 3 integration tests and fix channels.py eager loading
  .copilot-tracking/planning/plans/20260308-03-test-coverage-gaps.plan.md
  services/api/routes/channels.py
  tests/integration/test_channels.py
  tests/integration/test_guilds.py
  tests/integration/test_templates.py
  tests/unit/services/api/routes/test_channels.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

refactor: simplify coverage-report.sh file handling
  scripts/coverage-report.sh
Due: none

refactor: split pytest pre-commit hook into random and coverage passes
  .pre-commit-config.yaml
Due: none

fix: cancel pending background tasks on teardown
  services/bot/events/handlers.py
  tests/unit/services/bot/events/test_handlers.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

Path conditions:
  autocopyright-python: any of: \.py$
  autocopyright-typescript: any of: \.(ts|tsx)$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.css$, \.scss$, \.(md|markdown|mdown)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  python-compile: any of: \.py$
  mypy: any of: \.py$
  pytest-coverage: any of: ^(services|shared|tests)/.*\.py$
  diff-coverage: any of: ^(services|shared|tests)/.*\.py$
  frontend-build: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|html)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  vitest-coverage: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  diff-coverage-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  complexipy: any of: \.py$
  lizard-typescript: any of: ^frontend/src/.*\.(ts|tsx)$
  jscpd-generate: any of: \.py$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  jscpd-diff: any of: \.py$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
