Repository bretmckee/game-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: autocopyright-python, autocopyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-generate, jscpd-diff

autocopyright-python:
  name: Add copyright headers (Python)
  entry: scripts/autocopyright-wrapper.sh -s "#" -l ./templates/mit-template.jinja2
  language: script
  require_serial: true

autocopyright-typescript:
  name: Add copyright headers (TypeScript)
  entry: scripts/autocopyright-wrapper.sh -s "//" -l ./templates/mit-template.jinja2
  language: script
  require_serial: true

prettier:
  name: Prettier format
  entry: prettier --write --config frontend/.prettierrc
  language: node
  additional_dependencies:
  - prettier@^3.7.4

eslint:
  name: ESLint
  entry: eslint --config frontend/eslint.config.js frontend/src/ --fix
  language: node
  pass_filenames: false
  additional_dependencies:
  - eslint@^9.0.0
  - '@eslint/js@^9.39.2'
  - typescript-eslint@^8.49.0
  - '@typescript-eslint/eslint-plugin@^8.0.0'
  - '@typescript-eslint/parser@^8.0.0'
  ...

python-compile:
  name: Python compilation check
  entry: python -m compileall -q
  language: python
  args:
  - services
  - shared
  - tests
  pass_filenames: false

mypy:
  name: mypy type check
  entry: uv run mypy
  language: system
  pass_filenames: false
  args:
  - shared/
  - services/

pytest-coverage:
  name: Python unit tests with coverage
  entry: bash -c 'output=$(uv run pytest --timeout=30 --cov --cov-report=xml --cov-report= -qq 2>&1); if [ $? -ne 0 ]; then echo "$output"; exit 1; fi'
  language: system
  pass_filenames: false
  verbose: true

diff-coverage:
  name: Python diff coverage check
  ...

frontend-build:
  name: Frontend build check
  entry: bash -c 'cd frontend && npm run build'
  language: system
  pass_filenames: false

typescript:
  name: TypeScript check
  entry: tsc --project frontend/tsconfig.json --noEmit
  language: node
  pass_filenames: false
  additional_dependencies:
  - typescript@^5.9.3

vitest-coverage:
  name: Frontend unit tests with coverage
  entry: scripts/run-frontend-coverage.sh
  language: system
  pass_filenames: false
  verbose: true

diff-coverage-frontend:
  name: Frontend diff coverage check
  ...

complexipy:
  name: complexipy cognitive complexity check
  entry: complexipy
  language: python
  pass_filenames: false
  additional_dependencies:
  - complexipy~=4.2.0

lizard-typescript:
  name: lizard typescript complexity check
  entry: lizard -l typescript frontend/src/ --CCN 15 --warnings_only
  language: python
  pass_filenames: false
  additional_dependencies:
  - lizard~=1.20.0

jscpd-generate:
  name: Generate duplicate code report
  entry: jscpd services shared frontend/src --config .jscpd.json --threshold 100 --reporters json --output .jscpd-report
  language: node
  pass_filenames: false
  additional_dependencies:
  - jscpd

jscpd-diff:
  name: Check for duplicates in changed lines
  entry: python scripts/check_commit_duplicates.py .jscpd-report/jscpd-report.json
  language: python
  pass_filenames: false
  verbose: true

fix: restore testmondata on coverage hook failure to prevent stale db
  .gitignore
  .pre-commit-config.yaml
  scripts/run-unit-tests.sh
Due: none

fix: address UI feedback on game form reminder and label display
  frontend/src/components/EditableParticipantList.tsx
  frontend/src/components/GameCard.tsx
  frontend/src/components/GameForm.tsx
  frontend/src/components/ReminderSelector.tsx
  frontend/src/constants/time.ts
  frontend/src/pages/GameDetails.tsx
  frontend/src/pages/__tests__/EditGame.test.tsx
  frontend/src/pages/__tests__/GameDetails.test.tsx
  frontend/src/pages/__tests__/MyGames.test.tsx
  frontend/src/utils/__tests__/fieldValidation.test.ts
  frontend/src/utils/fieldValidation.ts
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

fix: align complexipy version across pre-commit, uv.lock, and CI; fix complexity
  .pre-commit-config.yaml
  pyproject.toml
  scripts/run-unit-tests.sh
  services/api/services/channel_resolver.py
  uv.lock
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: create status schedules unconditionally for deferred games
  services/api/services/games.py
  services/bot/announcement_loop.py
  shared/services/game_schedules.py
  tests/e2e/test_deferred_game_announcement.py
  tests/unit/bot/test_announcement_loop.py
  tests/unit/services/api/services/test_games_service.py
  tests/unit/services/test_game_service_persist_and_publish.py
  tests/unit/shared/services/test_game_schedules.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: suppress noisy third-party loggers at INFO floor
  services/api/main.py
  services/bot/main.py
  services/retry/retry_daemon_wrapper.py
  services/scheduler/scheduler_daemon_wrapper.py
  shared/utils/logging.py
  tests/unit/services/api/test_api_main.py
  tests/unit/services/bot/test_bot_main.py
  tests/unit/services/retry/test_retry_daemon_wrapper.py
  tests/unit/services/scheduler/test_scheduler_daemon_wrapper.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: remove rogue basicConfig from app.py; add pika to noise suppression
  services/api/app.py
  services/api/main.py
  shared/utils/logging.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

plan: incremental Redis projection updates
  .copilot-tracking/planning/details/20260606-01-incremental-projection-updates-details.md
  .copilot-tracking/planning/plans/20260606-01-incremental-projection-updates.plan.md
  .copilot-tracking/planning/prompts/implement-incremental-projection-updates.prompt.md
  .copilot-tracking/research/20260606-01-incremental-projection-updates-research.md
Due: prettier

test(integration): add baseline tests for repopulate_all
  .copilot-tracking/changes/20260606-01-incremental-projection-updates-changes.md
  .copilot-tracking/planning/plans/20260606-01-incremental-projection-updates.plan.md
  tests/integration/test_guild_projection_writes.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: add update_member for incremental on_member_update writes
  .copilot-tracking/changes/20260606-01-incremental-projection-updates-changes.md
  .copilot-tracking/planning/plans/20260606-01-incremental-projection-updates.plan.md
  services/bot/bot.py
  services/bot/guild_projection.py
  tests/integration/test_guild_projection_writes.py
  tests/unit/bot/test_bot_member_event_worker.py
  tests/unit/bot/test_guild_projection_incremental.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: add update_user and on_user_update for incremental user projection writes
  .copilot-tracking/changes/20260606-01-incremental-projection-updates-changes.md
  .copilot-tracking/planning/plans/20260606-01-incremental-projection-updates.plan.md
  services/bot/bot.py
  services/bot/guild_projection.py
  tests/integration/test_guild_projection_writes.py
  tests/unit/bot/test_bot_member_event_worker.py
  tests/unit/bot/test_guild_projection_incremental.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: fix on_resumed and add on_guild_available to trigger repopulate_all
  .copilot-tracking/planning/plans/20260606-01-incremental-projection-updates.plan.md
  services/bot/bot.py
  tests/unit/bot/test_bot_reconnect_repopulation.py
  tests/unit/services/bot/test_bot.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: add info-level logging to incremental projection functions
  services/bot/guild_projection.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: remove coalescing worker now that all handlers use incremental writes
  .copilot-tracking/planning/plans/20260606-01-incremental-projection-updates.plan.md
  services/bot/bot.py
  services/bot/guild_projection.py
  tests/unit/bot/test_bot_member_event_worker.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

chore: remove planning and tracking files for incremental projection updates
  .copilot-tracking/planning/details/20260606-01-incremental-projection-updates-details.md
  .copilot-tracking/planning/plans/20260606-01-incremental-projection-updates.plan.md
  .copilot-tracking/planning/prompts/implement-incremental-projection-updates.prompt.md
  .copilot-tracking/research/20260606-01-incremental-projection-updates-research.md
Due: prettier

feat: raise mention suggestion limit to 10 and cap with longer-prefix message
  services/api/services/participant_resolver.py
  tests/unit/services/api/services/test_participant_resolver.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: validate required API config fields at startup
  services/api/config.py
  services/api/main.py
  services/api/routes/public.py
  tests/conftest.py
  tests/unit/services/api/test_api_config.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

Add BIND_IP variable
  compose.prod.yaml
  config.template/env.template
Due: none

fix: repopulate Redis projection on guild join and remove
  services/bot/bot.py
  tests/unit/services/bot/test_bot.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: rebuild Redis guild/role/channel caches on guild join
  services/bot/bot.py
  tests/unit/services/bot/test_bot.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

refactor: rename _rebuild_redis_from_gateway to _rebuild_guild_channel_cache
  services/bot/bot.py
  tests/e2e/test_gateway_cache_e2e.py
  tests/unit/bot/test_bot_ready.py
  tests/unit/services/bot/test_bot.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

docs: add prod testing guide using Oracle Cloud and Tailscale TCP passthrough
  docs/deployment/README.md
  docs/deployment/prod-testing-with-oracle-tailscale.md
Due: prettier

fix: add Redis monitor user and RabbitMQ Prometheus plugin for Alloy metrics
  compose.yaml
  config.template/env.template
  config.template/grafana-alloy/config.alloy
  config.template/rabbitmq/enabled_plugins
  docker/redis-entrypoint.sh
Due: none

feat: add Caddy OTLP metrics and tracing for frontend observability
  compose.yaml
  docker/Caddyfile.prod
  docker/Caddyfile.staging
Due: none

feat: add test environment with Caddy frontend and dev networking
  compose.test.yaml
Due: none

refactor: give each noisy logger its own minimum level floor
  shared/utils/logging.py
  tests/unit/shared/utils/test_logging.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

docs: add research notes for per-function mutation testing gate (CI/CD)
  .copilot-tracking/research/20260422-03-test-quality-cicd-mutmut-research.md
Due: prettier

docs: add research notes for unit test quality audit via mutation testing
  .copilot-tracking/research/20260421-01-unit-test-quality-mutation-testing-research.md
Due: prettier

docs: add research notes for Remove RabbitMQ task
  .copilot-tracking/research/20260408-02-remove-rabbitmq-research.md
Due: prettier

docs: add research notes for Remove Scheduler Service task
  .copilot-tracking/research/20260408-03-remove-scheduler-research.md
Due: prettier

docs: add research notes for zero-assertion test gate (pre-commit)
  .copilot-tracking/research/20260422-02-test-quality-precommit-gate-research.md
Due: prettier

chore: add mutation testing tooling and research
  .gitignore
  pyproject.toml
  scripts/mutmut-logic-survivors.py
Due: autocopyright-python, python-compile, mypy, complexipy, jscpd-generate, jscpd-diff

docs: research document for integration test admin_db RLS bypass defect
  .copilot-tracking/research/20260427-01-integration-tests-admin-db-rls-bypass-research.md
Due: prettier

ci: add staging/develop branch container publishing
  .github/workflows/ci-cd.yml
Due: none

feat: add recur_rule DM + view stubs and RED tests (Phase 2)
  .copilot-tracking/changes/20260615-01-recurring-games-changes.md
  .copilot-tracking/planning/plans/20260615-01-recurring-games.plan.md
  services/bot/views/recurrence_confirmation_view.py
  shared/message_formats.py
  tests/unit/services/bot/views/test_recurrence_confirmation_view.py
  tests/unit/shared/test_message_formats.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix(frontend): render URL locations as clickable links in GameDetails
  frontend/src/pages/GameDetails.tsx
  frontend/src/pages/__tests__/GameDetails.where_display.test.tsx
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

fix(frontend): resolve prefix-collision ambiguity by storing resolved Discord ID on suggestion select
  frontend/src/components/EditableParticipantList.tsx
  frontend/src/components/GameForm.tsx
  frontend/src/components/__tests__/EditableParticipantList.test.tsx
  frontend/src/pages/CreateGame.tsx
  frontend/src/pages/EditGame.tsx
  frontend/src/pages/__tests__/CreateGame.test.tsx
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

research: recurring games design
  .copilot-tracking/planning/details/20260615-01-recurring-games-details.md
  .copilot-tracking/planning/plans/20260615-01-recurring-games.plan.md
  .copilot-tracking/planning/prompts/implement-recurring-games.prompt.md
  .copilot-tracking/research/20260615-01-recurring-games-research.md
Due: prettier

docs(planner): add commit message template and no-auto-commit rule
  .github/agents/task-planner.agent.md
Due: prettier

feat(recurring): Phase 5 — implement _system_clone_for_recurrence GREEN
  .copilot-tracking/changes/20260615-01-recurring-games-changes.md
  .copilot-tracking/planning/plans/20260615-01-recurring-games.plan.md
  services/api/services/games.py
  tests/unit/services/test_system_clone_for_recurrence.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

Path conditions:
  autocopyright-python: any of: \.py$
  autocopyright-typescript: any of: \.(ts|tsx)$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.css$, \.scss$, \.(md|markdown|mdown)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  python-compile: any of: \.py$
  mypy: any of: \.py$
  pytest-coverage: any of: ^(services|shared|tests)/.*\.py$
  diff-coverage: any of: ^(services|shared|tests)/.*\.py$
  frontend-build: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|html)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  vitest-coverage: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  diff-coverage-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  complexipy: any of: \.py$
  lizard-typescript: any of: ^frontend/src/.*\.(ts|tsx)$
  jscpd-generate: any of: \.py$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  jscpd-diff: any of: \.py$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
