Repository bretmckee/game-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: autocopyright-python, autocopyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-generate, jscpd-diff

Path conditions:
  autocopyright-python: any of: \.py$
  autocopyright-typescript: any of: \.(ts|tsx)$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.css$, \.scss$, \.(md|markdown|mdown)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  python-compile: any of: \.py$
  mypy: any of: \.py$
  pytest-coverage: any of: ^(services|shared|tests)/.*\.py$
  diff-coverage: any of: ^(services|shared|tests)/.*\.py$
  frontend-build: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|html)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  vitest-coverage: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  diff-coverage-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  complexipy: any of: \.py$
  lizard-typescript: any of: ^frontend/src/.*\.(ts|tsx)$
  jscpd-generate: any of: \.py$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  jscpd-diff: any of: \.py$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$

chore(mutmut): add make restamp target and refresh v2 baseline from cold run
  Makefile
  mutmut-baseline.json
Due: prettier

chore(mutmut): raise large-file limit to 2MB and regenerate debt ledger v8
  .pre-commit-config.yaml
  mutmut-baseline.json
  scripts/mutmut-logic-survivors.py
  scripts/mutmut_ledger.py
Due: autocopyright-python, prettier, python-compile, mypy, complexipy, jscpd-generate, jscpd-diff

feat(mutmut): function-scoped mutation gate with ratchet debt ledger
  .pre-commit-config.yaml
  .prettierignore
  mutmut-baseline.json
  scripts/mutmut_ledger.py
Due: autocopyright-python, prettier, python-compile, mypy, complexipy, jscpd-generate, jscpd-diff

chore(mutmut): restamp ratchet baseline from cold pass on develop
  .copilot-tracking/testing/mutation-census/20260904-restamp-on-develop.json
  .prettierignore
  mutmut-baseline.json
Due: prettier

chore(mutmut): get mutation testing working repo-wide
  .gitignore
  pyproject.toml
  scripts/mutmut-logic-survivors.py
  scripts/run-mutmut.py
  tests/unit/services/api/test_api_config.py
  tests/unit/services/bot/test_bot_config.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

chore(mutmut): upgrade to >=3.7.0,<4 and migrate config keys
  .copilot-tracking/research/20260901-01-mutmut-upgrade-validation-research.md
  pyproject.toml
  uv.lock
Due: prettier

chore: sync uv.lock mutmut specifier to pyproject.toml
  uv.lock
Due: none

docs(mutmut): add Phase 1 security-paydown plan and research
  .claude/commands/implement-phase1-security-paydown.md
  .claude/config-sync-manifest.json
  .copilot-tracking/planning/details/20260905-01-phase1-security-paydown-details.md
  .copilot-tracking/planning/plans/20260905-01-phase1-security-paydown.plan.md
  .copilot-tracking/planning/prompts/implement-phase1-security-paydown.prompt.md
  .copilot-tracking/research/20260905-01-phase1-security-paydown-research.md
Due: prettier

docs: add game posting/scheduling cleanup research
  .copilot-tracking/research/20260911-01-game-posting-schedule-cleanup-research.md
Due: prettier

chore: ignore mutmut output and personal/local tool state
  .gitignore
Due: none

docs: add clone-game review/edit-before-create research and plan
  .claude/commands/implement-clone-game-review-redesign.md
  .copilot-tracking/planning/details/20260915-01-clone-game-review-redesign-details.md
  .copilot-tracking/planning/plans/20260915-01-clone-game-review-redesign.plan.md
  .copilot-tracking/research/20260915-01-clone-game-review-redesign-research.md
Due: prettier

fix: shorten implement-clone-game-review-redesign description
  .claude/commands/implement-clone-game-review-redesign.md
Due: prettier

feat: Phase 1 - fix resolve_mentions_in_text regex for <@id> tokens
  .copilot-tracking/changes/20260915-01-clone-game-review-redesign-changes.md
  .copilot-tracking/planning/plans/20260915-01-clone-game-review-redesign.plan.md
  services/api/services/participant_resolver.py
  tests/unit/services/api/services/test_participant_resolver.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: Phase 2 - extend CloneGameRequest with override fields
  .copilot-tracking/changes/20260915-01-clone-game-review-redesign-changes.md
  .copilot-tracking/planning/plans/20260915-01-clone-game-review-redesign.plan.md
  services/api/schemas/clone_game.py
  tests/unit/schemas/test_clone_game_schema.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: Phase 3 - Add default_host_user_id to create_game/_resolve_game_host
  .copilot-tracking/changes/20260915-01-clone-game-review-redesign-changes.md
  .copilot-tracking/planning/plans/20260915-01-clone-game-review-redesign.plan.md
  services/api/services/games.py
  tests/unit/services/api/services/test_games_service.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: Phase 4 - clone_game delegates to create_game
  .copilot-tracking/changes/20260915-01-clone-game-review-redesign-changes.md
  .copilot-tracking/planning/plans/20260915-01-clone-game-review-redesign.plan.md
  services/api/routes/games.py
  services/api/services/games.py
  tests/integration/test_clone_game_endpoint.py
  tests/integration/test_recurrence_clone.py
  tests/unit/services/test_clone_game.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: Phase 5 - re-add deadline-carryover scheduling for clone_game
  .copilot-tracking/changes/20260915-01-clone-game-review-redesign-changes.md
  .copilot-tracking/planning/plans/20260915-01-clone-game-review-redesign.plan.md
  services/api/services/games.py
  tests/integration/test_clone_game_endpoint.py
  tests/unit/services/test_clone_game.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: Phase 6 - multipart clone route with raw image upload support
  .copilot-tracking/changes/20260915-01-clone-game-review-redesign-changes.md
  .copilot-tracking/planning/plans/20260915-01-clone-game-review-redesign.plan.md
  services/api/routes/games.py
  services/api/services/games.py
  tests/e2e/test_clone_game_e2e.py
  tests/integration/test_clone_game_endpoint.py
  tests/integration/test_games_crud.py
  tests/integration/test_recurrence_clone.py
  tests/integration/test_rewards_fields.py
  tests/unit/services/api/routes/test_games_endpoint_errors.py
  tests/unit/services/api/routes/test_games_routes.py
  tests/unit/services/test_clone_game.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: Phase 7 - Full integration test pass for clone-game redesign
  .copilot-tracking/changes/20260915-01-clone-game-review-redesign-changes.md
  .copilot-tracking/planning/plans/20260915-01-clone-game-review-redesign.plan.md
  tests/integration/test_clone_game_endpoint.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: Phase 8 - GameForm-based two-stage CloneGame screen
  .copilot-tracking/changes/20260915-01-clone-game-review-redesign-changes.md
  .copilot-tracking/planning/plans/20260915-01-clone-game-review-redesign.plan.md
  frontend/src/pages/CloneGame.tsx
  frontend/src/pages/__tests__/CloneGame.test.tsx
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

feat: Phase 9 - Wire CloneGame.tsx's submit handler to clone endpoint
  .copilot-tracking/changes/20260915-01-clone-game-review-redesign-changes.md
  .copilot-tracking/planning/plans/20260915-01-clone-game-review-redesign.plan.md
  frontend/src/pages/CloneGame.tsx
  frontend/src/pages/__tests__/CloneGame.test.tsx
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

feat: Phase 10 - Update e2e clone test for title-at-clone-time
  .copilot-tracking/changes/20260915-01-clone-game-review-redesign-changes.md
  .copilot-tracking/planning/plans/20260915-01-clone-game-review-redesign.plan.md
  tests/e2e/test_clone_game_e2e.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: prevent infinite render loop in DurationSelector
  frontend/src/components/DurationSelector.tsx
  frontend/src/components/__tests__/DurationSelector.test.tsx
  frontend/src/pages/__tests__/CloneGame.test.tsx
  frontend/src/pages/__tests__/CreateGame.test.tsx
  frontend/src/pages/__tests__/EditGame.test.tsx
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

fix: prevent UnboundLocalError crash on malformed game form input
  services/api/routes/games.py
  tests/unit/services/api/routes/test_games_endpoint_errors.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

test: cover clone-game review redesign coverage gaps
  frontend/src/pages/__tests__/CloneGame.test.tsx
  tests/unit/services/api/routes/test_games_endpoint_errors.py
  tests/unit/services/api/services/test_games_service.py
  tests/unit/services/api/services/test_participant_resolver.py
Due: autocopyright-python, autocopyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-generate, jscpd-diff

test: add clone-game integration coverage for untested paths
  tests/integration/test_clone_game_endpoint.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: stop hiding @mentions glued to a stray '<' in text scan
  services/api/services/participant_resolver.py
  tests/unit/services/api/services/test_participant_resolver.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: stop hiding #mentions glued to a stray '<' in location text
  services/api/services/channel_resolver.py
  tests/unit/services/api/services/test_channel_resolver.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

test: cover CloneGame's resolvedMention participant-mapping branch
  frontend/src/pages/__tests__/CloneGame.test.tsx
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

Reverse name priority for participant seats page
  services/api/routes/games.py
  services/api/services/display_names.py
  tests/unit/services/api/routes/test_games_participant_seats.py
  tests/unit/services/api/services/test_display_names.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

Fix integration tests for reversed primary-name priority
  tests/integration/test_participant_seats_endpoint.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff
