Repository bretmckee/game-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-copyright-python, add-copyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-diff

add-copyright-python:
  name: Add copyright headers (Python)
  entry: autocopyright -s "#" -d alembic -d services -d shared -d tests -g "*.py" -l "./templates/agpl-template.jinja2"
  language: python
  pass_filenames: false
  require_serial: true
  additional_dependencies:
  - autocopyright~=1.1.0

add-copyright-typescript:
  name: Add copyright headers (TypeScript)
  entry: autocopyright -s "//" -d frontend/src -g "*.ts" -g "*.tsx" -l "./templates/agpl-template.jinja2"
  language: python
  pass_filenames: false
  require_serial: true
  additional_dependencies:
  - autocopyright~=1.1.0

prettier:
  name: Prettier format
  entry: prettier --write --config frontend/.prettierrc
  language: node
  additional_dependencies:
  - prettier@^3.7.4

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint:fix'
  language: system
  pass_filenames: false

python-compile:
  name: Python compilation check
  entry: uv run python -m compileall -q
  language: system
  args:
  - services
  - shared
  - tests
  pass_filenames: false

mypy:
  name: mypy type check
  entry: uv run mypy
  language: system
  pass_filenames: false
  args:
  - shared/
  - services/

pytest-coverage:
  name: Python unit tests with coverage
  entry: bash -c 'output=$(uv run pytest --cov --cov-report=xml --cov-report= -qq 2>&1); if [ $? -ne 0 ]; then echo "$output"; exit 1; fi'
  language: system
  pass_filenames: false
  verbose: true

diff-coverage:
  name: Python diff coverage check
  ...

frontend-build:
  name: Frontend build check
  entry: bash -c 'cd frontend && npm run build'
  language: system
  pass_filenames: false

typescript:
  name: TypeScript check
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

vitest-coverage:
  name: Frontend unit tests with coverage
  ...

diff-coverage-frontend:
  name: Frontend diff coverage check
  ...

complexipy:
  name: complexipy cognitive complexity check
  entry: complexipy
  language: python
  pass_filenames: false
  additional_dependencies:
  - complexipy~=4.2.0

lizard-typescript:
  name: lizard typescript complexity check
  entry: lizard -l typescript frontend/src/ --CCN 15 --warnings_only
  language: python
  pass_filenames: false
  additional_dependencies:
  - lizard~=1.20.0

jscpd-diff:
  name: Check for duplicates in changed lines
  entry: bash -c 'jscpd services shared frontend/src --config .jscpd.json --threshold 100 --format json --output .jscpd-report && python scripts/check_commit_duplicates.py .jscpd-report/jscpd-report.json'
  language: node
  pass_filenames: false
  verbose: true
  ...

Consolidate API_BASE_URL/API_URL into BACKEND_URL
  .copilot-tracking/changes/20260129-url-configuration-consolidation-changes.md
  DEPLOYMENT_QUICKSTART.md
  RUNTIME_CONFIG.md
  TESTING_OAUTH.md
  compose.e2e.yaml
  compose.override.yaml
  compose.yaml
  config.template/env.template
  docker/frontend-config.template.js
  docker/frontend-entrypoint.sh
  frontend/src/api/client.ts
  frontend/src/vite-env.d.ts
  services/api/config.py
  services/bot/config.py
  services/bot/formatters/game_message.py
  tests/conftest.py
  tests/e2e/test_00_environment.py
  tests/services/api/test_config.py
  tests/services/bot/formatters/test_game_message.py
Due: add-copyright-python, add-copyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-diff

Refactor _handle_game_created to reduce cognitive complexity
  services/bot/events/handlers.py
  tests/services/bot/events/test_handlers.py
Due: add-copyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-diff

fix: pre-commit jscpd duplicate detection
  .pre-commit-config.yaml
  scripts/check_commit_duplicates.py
Due: add-copyright-python, python-compile, mypy, complexipy, jscpd-diff

refactor: remove commits from game service layer (Phase 3)
  .copilot-tracking/changes/20260130-service-layer-transaction-management-changes.md
  .copilot-tracking/plans/20260130-service-layer-transaction-management-plan.instructions.md
  services/api/services/games.py
  tests/services/api/services/test_games.py
Due: add-copyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-diff

Make Docker cache sharing mode configurable with private as default
  DOCKER_CACHE_OPTIMIZATION.md
  compose.e2e.yaml
  compose.int.yaml
  compose.yaml
  docker/api.Dockerfile
  docker/bot.Dockerfile
  docker/init.Dockerfile
  docker/notification-daemon.Dockerfile
  docker/retry.Dockerfile
  docker/status-transition-daemon.Dockerfile
  docker/test.Dockerfile
Due: none

Add planning files for service layer transaction management
  .copilot-tracking/details/20260130-service-layer-transaction-management-details.md
  .copilot-tracking/plans/20260130-service-layer-transaction-management-plan.instructions.md
  .copilot-tracking/prompts/implement-service-layer-transaction-management.prompt.md
  .copilot-tracking/research/20260130-service-layer-transaction-management-research.md
Due: none

Phase 1: Remove premature commits from guild and channel services
  .copilot-tracking/changes/20260130-service-layer-transaction-management-changes.md
  .copilot-tracking/plans/20260130-service-layer-transaction-management-plan.instructions.md
  complexipy.json
  services/api/routes/channels.py
  services/api/routes/guilds.py
  services/api/services/channel_service.py
  services/api/services/guild_service.py
  tests/services/api/routes/test_channels.py
  tests/services/api/services/test_channel_service.py
  tests/services/api/services/test_guild_service.py
Due: add-copyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-diff

refactor(template-service): remove commits from template service layer
  .copilot-tracking/changes/20260130-service-layer-transaction-management-changes.md
  .copilot-tracking/plans/20260130-service-layer-transaction-management-plan.instructions.md
  services/api/services/template_service.py
  tests/services/api/services/test_template_service.py
Due: add-copyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-diff

docs: Add comprehensive transaction management documentation and guidelines
  .copilot-tracking/changes/20260130-service-layer-transaction-management-changes.md
  .copilot-tracking/plans/20260130-service-layer-transaction-management-plan.instructions.md
  .copilot-tracking/prompts/implement-service-layer-transaction-management.prompt.md
  .github/instructions/fastapi-transaction-patterns.instructions.md
  docs/TRANSACTION_MANAGEMENT.md
  services/api/services/notification_schedule.py
  services/api/services/participant_resolver.py
Due: add-copyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-diff

Remove manual commit from auth callback
  .copilot-tracking/changes/20260130-service-layer-transaction-management-changes.md
  .copilot-tracking/plans/20260130-service-layer-transaction-management-plan.instructions.md
  services/api/routes/auth.py
Due: add-copyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-diff

feat: implement transaction atomicity integration tests
  .copilot-tracking/changes/20260130-service-layer-transaction-management-changes.md
  .copilot-tracking/plans/20260130-service-layer-transaction-management-plan.instructions.md
  scripts/run-integration-tests.sh
  tests/integration/test_transaction_atomicity.py
Due: add-copyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-diff

Fix RLS context synchronization for guild sync operation
  services/api/middleware/error_handler.py
  services/api/services/guild_service.py
  services/api/services/template_service.py
Due: add-copyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-diff

Implement deferred event publishing to fix race condition
  docs/DEFERRED_EVENT_PUBLISHING.md
  services/api/routes/games.py
  services/api/services/games.py
  shared/database.py
  shared/messaging/deferred_publisher.py
  tests/services/api/services/conftest.py
  tests/services/api/services/test_games.py
  tests/services/api/services/test_games_promotion.py
  tests/shared/messaging/test_deferred_publisher.py
  tests/shared/test_database_deferred_publishing.py
Due: add-copyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-diff

Add documentation reorganization planning files
  .copilot-tracking/details/20260201-documentation-reorganization-by-persona-details.md
  .copilot-tracking/plans/20260201-documentation-reorganization-by-persona-plan.instructions.md
  .copilot-tracking/prompts/implement-documentation-reorganization-by-persona.prompt.md
  .copilot-tracking/research/20260201-documentation-reorganization-by-persona-research.md
Due: none

docs: Phase 1 persona-based documentation reorganization
  .copilot-tracking/changes/20260201-documentation-reorganization-by-persona-changes.md
  .copilot-tracking/plans/20260201-documentation-reorganization-by-persona-plan.instructions.md
  README.md
  docs/GUILD-ADMIN.md
  docs/HOST-GUIDE.md
  docs/PLAYER-GUIDE.md
  docs/deployment/README.md
  docs/developer/README.md
Due: none

docs: improve diagram readability with black text
  .copilot-tracking/changes/20260201-documentation-reorganization-by-persona-changes.md
  .copilot-tracking/plans/20260201-documentation-reorganization-by-persona-plan.instructions.md
  docs/developer/README.md
  docs/developer/SETUP.md
  docs/developer/TESTING.md
  docs/developer/architecture.md
  docs/developer/cloudflare-tunnel.md
  docs/developer/compose-dependencies.md
  docs/developer/database.md
  docs/developer/deferred-events.md
  docs/developer/local-act-testing.md
  docs/developer/oauth-flow.md
  docs/developer/production-readiness.md
  docs/developer/transaction-management.md
Due: none

docs: Phase 3 - Organize deployment documentation
  .copilot-tracking/changes/20260201-documentation-reorganization-by-persona-changes.md
  .copilot-tracking/plans/20260201-documentation-reorganization-by-persona-plan.instructions.md
  docs/deployment/README.md
  docs/deployment/configuration.md
  docs/deployment/docker.md
  docs/deployment/quickstart.md
  docs/deployment/version-management.md
Due: none

docs: reorganize documentation by user persona
  .copilot-tracking/changes/20260201-documentation-reorganization-by-persona-changes.md
  .copilot-tracking/plans/20260201-documentation-reorganization-by-persona-plan.instructions.md
  .copilot-tracking/research/20251224-microservice-communication-architecture.md
  .github/instructions/fastapi-transaction-patterns.instructions.md
  DEPLOYMENT_QUICKSTART.md
  DOCKER_CACHE_OPTIMIZATION.md
  DOCKER_PORTS.md
  README.md
  RUNTIME_CONFIG.md
  TESTING_COVERAGE.md
  TESTING_E2E.md
  TESTING_OAUTH.md
  VERSION_MANAGEMENT.md
  config.template/env.template
  docs/developer/README.md
  scripts/coverage-report.sh
  scripts/run-e2e-tests.sh
Due: none

Remove all remaining Celery references from codebase
  .github/instructions/python.instructions.md
  services/scheduler/config.py
  services/scheduler/tasks/__init__.py
  shared/cache/client.py
  shared/database.py
  shared/messaging/sync_publisher.py
Due: add-copyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-diff

fix: Update frontend to use position_type/position instead of deprecated pre_filled_position
  frontend/src/components/GameForm.tsx
  frontend/src/components/ParticipantList.tsx
  frontend/src/components/__tests__/GameCard.test.tsx
  frontend/src/pages/EditGame.tsx
  frontend/src/pages/__tests__/EditGame.test.tsx
  frontend/src/types/index.ts
  shared/models/participant.py
Due: add-copyright-python, add-copyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-diff

Fix dev container working directory configuration
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

Fix template creation greenlet error and improve error handling
  frontend/src/pages/TemplateManagement.tsx
  services/api/middleware/error_handler.py
  services/api/routes/templates.py
  services/api/services/template_service.py
  shared/cache/client.py
  shared/data_access/guild_isolation.py
  shared/database.py
  tests/services/api/routes/test_templates.py
  tests/shared/data_access/test_guild_isolation.py
Due: add-copyright-python, add-copyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-diff

Add planning files for template creation test coverage
  .copilot-tracking/details/20260201-template-creation-test-coverage-details.md
  .copilot-tracking/plans/20260201-template-creation-test-coverage-plan.instructions.md
  .copilot-tracking/prompts/implement-template-creation-test-coverage.prompt.md
  .copilot-tracking/research/20260201-template-creation-test-coverage-research.md
Due: none

test: Add comprehensive integration tests for template creation API
  .copilot-tracking/changes/20260201-template-creation-test-coverage-changes.md
  .copilot-tracking/plans/20260201-template-creation-test-coverage-plan.instructions.md
  .copilot-tracking/prompts/implement-template-creation-test-coverage.prompt.md
  tests/integration/test_template_creation.py
Due: add-copyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-diff

chore: Remove completed documentation reorganization prompt file
  .copilot-tracking/prompts/implement-documentation-reorganization-by-persona.prompt.md
Due: none

Add E2E test hermetic isolation planning files
  .copilot-tracking/details/20260201-e2e-test-hermetic-isolation-details.md
  .copilot-tracking/plans/20260201-e2e-test-hermetic-isolation-plan.instructions.md
  .copilot-tracking/prompts/implement-e2e-test-hermetic-isolation.prompt.md
  .copilot-tracking/research/20260201-e2e-test-hermetic-isolation-research.md
Due: none

Add CASCADE DELETE for guild and channel foreign keys
  alembic/versions/cc016b875896_add_cascade_delete_guild_channel_.py
Due: add-copyright-python, python-compile, mypy, complexipy, jscpd-diff

Implement hermetic E2E test fixtures with automatic cleanup
  .copilot-tracking/changes/20260201-e2e-test-hermetic-isolation-changes.md
  .copilot-tracking/plans/20260201-e2e-test-hermetic-isolation-plan.instructions.md
  .copilot-tracking/prompts/implement-e2e-test-hermetic-isolation.prompt.md
  docs/developer/TESTING.md
  services/init/main.py
  services/init/seed_e2e.py
  tests/e2e/conftest.py
  tests/e2e/test_00_environment.py
  tests/e2e/test_01_authentication.py
  tests/e2e/test_guild_isolation_e2e.py
  tests/e2e/test_guild_routes_e2e.py
  tests/e2e/test_user_join.py
Due: add-copyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-diff

Add research and planning files for guild sync e2e test coverage
  .copilot-tracking/details/20260201-guild-sync-e2e-test-coverage-details.md
  .copilot-tracking/plans/20260201-guild-sync-e2e-test-coverage-plan.instructions.md
  .copilot-tracking/prompts/implement-guild-sync-e2e-test-coverage.prompt.md
  .copilot-tracking/research/20260201-guild-sync-e2e-test-coverage-research.md
Due: none

test: Add comprehensive guild sync e2e test coverage
  .copilot-tracking/changes/20260201-guild-sync-e2e-test-coverage-changes.md
  .copilot-tracking/plans/20260201-guild-sync-e2e-test-coverage-plan.instructions.md
  tests/e2e/test_guild_sync_e2e.py
Due: add-copyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-diff

Migrate guild sync E2E tests to hermetic fixture pattern
  .copilot-tracking/research/20260201-guild-sync-e2e-test-coverage-research.md
  tests/e2e/test_guild_sync_e2e.py
Due: add-copyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-diff

Remove unused root conftest.py and test_oauth.py
  conftest.py
  docs/developer/TESTING.md
  pyproject.toml
  test_oauth.py
Due: add-copyright-python, python-compile, mypy, complexipy, jscpd-diff

Add autocopyright official repository migration planning files
  .copilot-tracking/details/20260204-autocopyright-official-repository-migration-details.md
  .copilot-tracking/plans/20260204-autocopyright-official-repository-migration-plan.instructions.md
  .copilot-tracking/prompts/implement-autocopyright-official-repository-migration.prompt.md
  .copilot-tracking/research/20260204-autocopyright-precommit-direct-integration-research.md
Due: none

Add copyright headers to shell scripts
  .pre-commit-config.yaml
  scripts/coverage-report.sh
  scripts/generate_trace_record.sh
  scripts/migrate_postgres_15_to_17.sh
  scripts/run-e2e-tests.sh
  scripts/run-integration-tests.sh
  scripts/show_trace_counts.sh
Due: none

refactor(pre-commit): convert 5 hooks to standalone isolated environments
  .copilot-tracking/changes/20260204-precommit-complete-standalone-changes.md
  .copilot-tracking/details/20260204-precommit-complete-standalone-details.md
  .copilot-tracking/plans/20260204-precommit-complete-standalone-plan.instructions.md
  .copilot-tracking/research/20260204-precommit-complete-standalone-research.md
  .pre-commit-config.yaml
Due: none

Path conditions:
  add-copyright-python: any of: \.py$
  add-copyright-typescript: any of: \.(ts|tsx)$
  prettier: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.css$, \.scss$, \.(md|markdown|mdown)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  python-compile: any of: \.py$
  mypy: any of: \.py$
  pytest-coverage: any of: ^(services|shared|tests)/.*\.py$
  diff-coverage: any of: ^(services|shared|tests)/.*\.py$
  frontend-build: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|html)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  vitest-coverage: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  diff-coverage-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  complexipy: any of: \.py$
  lizard-typescript: any of: ^frontend/src/.*\.(ts|tsx)$
  jscpd-diff: any of: \.py$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
