Repository bretmckee/game-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: autocopyright-python, autocopyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-generate, jscpd-diff

Path conditions:
  autocopyright-python: any of: \.py$
  autocopyright-typescript: any of: \.(ts|tsx)$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.css$, \.scss$, \.(md|markdown|mdown)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  python-compile: any of: \.py$
  mypy: any of: \.py$
  pytest-coverage: any of: ^(services|shared|tests)/.*\.py$
  diff-coverage: any of: ^(services|shared|tests)/.*\.py$
  frontend-build: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|html)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  vitest-coverage: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  diff-coverage-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  complexipy: any of: \.py$
  lizard-typescript: any of: ^frontend/src/.*\.(ts|tsx)$
  jscpd-generate: any of: \.py$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  jscpd-diff: any of: \.py$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$

fix(pre-commit): compare diff-cover against HEAD instead of origin/main
  .pre-commit-config.yaml
Due: none

plan: add web UI game creation fixes research and planning
  .copilot-tracking/planning/details/20260529-01-web-ui-game-creation-fixes-details.md
  .copilot-tracking/planning/plans/20260529-01-web-ui-game-creation-fixes.plan.md
  .copilot-tracking/planning/prompts/implement-web-ui-game-creation-fixes.prompt.md
  .copilot-tracking/research/20260529-01-web-ui-game-creation-fixes-research.md
Due: prettier

feat: render <#id> and <@id> tokens in game description and signup_instructions
  services/api/routes/games.py
  services/api/services/channel_resolver.py
  tests/unit/services/api/routes/test_games_helpers.py
  tests/unit/services/api/services/test_channel_resolver.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: resolve channel mentions in description and signup_instructions
  .copilot-tracking/changes/20260529-01-web-ui-game-creation-fixes-changes.md
  .copilot-tracking/planning/plans/20260529-01-web-ui-game-creation-fixes.plan.md
  services/api/services/channel_resolver.py
  services/api/services/games.py
  tests/unit/services/api/services/conftest.py
  tests/unit/services/api/services/test_channel_resolver.py
  tests/unit/services/api/services/test_games_service.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: append MIME-based file extension to game image URLs
  .copilot-tracking/changes/20260529-01-web-ui-game-creation-fixes-changes.md
  .copilot-tracking/planning/plans/20260529-01-web-ui-game-creation-fixes.plan.md
  services/api/routes/public.py
  services/bot/events/handlers.py
  services/bot/formatters/game_message.py
  tests/integration/services/api/routes/test_public_images.py
  tests/unit/services/api/routes/test_public.py
  tests/unit/services/bot/events/test_handlers_game_created.py
  tests/unit/services/bot/formatters/test_game_message.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: resolve @mentions in description and signup_instructions
  .copilot-tracking/changes/20260529-01-web-ui-game-creation-fixes-changes.md
  .copilot-tracking/planning/plans/20260529-01-web-ui-game-creation-fixes.plan.md
  services/api/services/games.py
  services/api/services/participant_resolver.py
  tests/unit/services/api/services/test_games_service.py
  tests/unit/services/api/services/test_participant_resolver.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: treat period-containing usernames as atomic mention tokens
  frontend/src/components/GameForm.tsx
  frontend/src/components/__tests__/GameForm.error-handling.test.tsx
  frontend/src/pages/CreateGame.tsx
  frontend/src/pages/EditGame.tsx
  frontend/src/pages/__tests__/CreateGame.test.tsx
  frontend/src/pages/__tests__/EditGame.test.tsx
  services/api/services/participant_resolver.py
  tests/unit/services/api/services/test_participant_resolver.py
Due: autocopyright-python, autocopyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-generate, jscpd-diff

docs: warn against running pytest --testmon manually
  .github/copilot-instructions.md
  CLAUDE.md
Due: prettier

feat: add custom emoji resolution for game description/signup_instructions
  .copilot-tracking/planning/plans/20260529-01-web-ui-game-creation-fixes.plan.md
  services/api/services/emoji_resolver.py
  services/api/services/games.py
  services/bot/bot.py
  shared/cache/keys.py
  shared/cache/operations.py
  shared/cache/ttl.py
  shared/discord/client.py
  tests/e2e/test_gateway_cache_e2e.py
  tests/unit/api/services/test_emoji_resolver.py
  tests/unit/api/services/test_games.py
  tests/unit/bot/test_bot_events.py
  tests/unit/bot/test_bot_ready.py
  tests/unit/shared/cache/test_keys.py
  tests/unit/shared/cache/test_operations.py
  tests/unit/shared/discord/test_discord_api_client.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: resolve and display custom emoji in all game text fields
  .copilot-tracking/changes/20260529-01-web-ui-game-creation-fixes-changes.md
  docker/redis-entrypoint.sh
  services/api/routes/games.py
  services/api/services/emoji_resolver.py
  services/api/services/games.py
  tests/unit/api/services/test_emoji_resolver.py
  tests/unit/api/services/test_games.py
  tests/unit/services/api/routes/test_games_helpers.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: add jump URL link to join and promotion DMs
  services/api/services/games.py
  services/bot/events/handlers.py
  shared/message_formats.py
  tests/e2e/test_join_notification.py
  tests/e2e/test_waitlist_promotion.py
  tests/unit/services/api/services/test_games_promotion.py
  tests/unit/services/bot/events/test_handlers_join_notification.py
  tests/unit/shared/test_message_formats.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

chore: remove completed web-ui-game-creation-fixes tracking files
  .copilot-tracking/planning/details/20260529-01-web-ui-game-creation-fixes-details.md
  .copilot-tracking/planning/plans/20260529-01-web-ui-game-creation-fixes.plan.md
  .copilot-tracking/planning/prompts/implement-web-ui-game-creation-fixes.prompt.md
  .copilot-tracking/research/20260529-01-web-ui-game-creation-fixes-research.md
Due: prettier

plan: add mention/emoji resolution test coverage planning
  .copilot-tracking/planning/details/20260530-01-mention-emoji-test-coverage-details.md
  .copilot-tracking/planning/plans/20260530-01-mention-emoji-test-coverage.plan.md
  .copilot-tracking/planning/prompts/implement-mention-emoji-test-coverage.prompt.md
  .copilot-tracking/research/20260530-01-mention-emoji-test-coverage-research.md
Due: prettier

test: add integration tests for mention and emoji field display
  .copilot-tracking/changes/20260530-01-mention-emoji-test-coverage-changes.md
  .copilot-tracking/planning/plans/20260530-01-mention-emoji-test-coverage.plan.md
  tests/integration/test_games_field_display.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

test: augment e2e tests with channel and user mention assertions
  .copilot-tracking/changes/20260530-01-mention-emoji-test-coverage-changes.md
  .copilot-tracking/planning/plans/20260530-01-mention-emoji-test-coverage.plan.md
  tests/e2e/test_channel_mentions.py
  tests/e2e/test_join_notification.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: add DISCORD_TEST_EMOJI_NAME optional e2e env var
  .copilot-tracking/changes/20260530-01-mention-emoji-test-coverage-changes.md
  .copilot-tracking/planning/plans/20260530-01-mention-emoji-test-coverage.plan.md
  compose.e2e.yaml
  config.template/env.template
  docs/developer/TESTING.md
Due: prettier

chore: remove completed mention-emoji test coverage planning files
  .copilot-tracking/planning/details/20260530-01-mention-emoji-test-coverage-details.md
  .copilot-tracking/planning/plans/20260530-01-mention-emoji-test-coverage.plan.md
  .copilot-tracking/planning/prompts/implement-mention-emoji-test-coverage.prompt.md
  .copilot-tracking/research/20260530-01-mention-emoji-test-coverage-research.md
Due: prettier

plan: deferred game announcement feature
  .copilot-tracking/planning/details/20260530-01-deferred-game-announcement-details.md
  .copilot-tracking/planning/plans/20260530-01-deferred-game-announcement.plan.md
  .copilot-tracking/planning/prompts/implement-deferred-game-announcement.prompt.md
  .copilot-tracking/research/20260530-01-deferred-game-announcement-research.md
Due: prettier

feat: Phase 1 — add post_at database column, model, and schemas
  .copilot-tracking/changes/20260530-01-deferred-game-announcement-changes.md
  alembic/versions/20260530_add_post_at_game_sessions.py
  services/api/routes/games.py
  shared/models/game.py
  shared/schemas/game.py
  tests/unit/shared/models/test_game_session.py
  tests/unit/shared/schemas/test_game_schema.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: API create path parses and gates on post_at (Phase 2)
  .copilot-tracking/changes/20260530-01-deferred-game-announcement-changes.md
  .copilot-tracking/planning/plans/20260530-01-deferred-game-announcement.plan.md
  services/api/routes/games.py
  services/api/services/games.py
  tests/unit/services/api/routes/test_games_routes.py
  tests/unit/services/api/services/test_games_service.py
  tests/unit/services/test_game_service_persist_and_publish.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: Phase 3 deferred game announcement API guards
  .copilot-tracking/changes/20260530-01-deferred-game-announcement-changes.md
  .copilot-tracking/planning/plans/20260530-01-deferred-game-announcement.plan.md
  alembic/versions/20260530_add_post_at_game_sessions.py
  services/api/routes/games.py
  services/api/services/games.py
  tests/integration/test_deferred_game_announcement.py
  tests/unit/services/api/routes/test_games_endpoint_errors.py
  tests/unit/services/api/routes/test_games_helpers.py
  tests/unit/services/api/routes/test_games_routes.py
  tests/unit/services/api/services/test_games_service.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: add deferred game announcement via post_at
  .copilot-tracking/planning/plans/20260530-01-deferred-game-announcement.plan.md
  alembic/versions/20260530_add_post_at_game_sessions.py
  compose.e2e.yaml
  config.template/env.template
  docs/developer/TESTING.md
  pyproject.toml
  services/api/routes/games.py
  services/api/services/games.py
  services/bot/announcement_loop.py
  services/bot/bot.py
  services/init/seed_e2e.py
  shared/services/game_schedules.py
  tests/e2e/conftest.py
  tests/e2e/test_deferred_game_announcement.py
  tests/unit/bot/test_announcement_loop.py
  tests/unit/bot/test_bot_ready.py
  tests/unit/services/api/routes/test_games_endpoint_errors.py
  tests/unit/services/api/routes/test_games_routes.py
  tests/unit/services/api/services/test_games_service.py
  tests/unit/services/init/test_seed_e2e.py
  tests/unit/services/test_game_service_persist_and_publish.py
  tests/unit/shared/services/test_game_schedules.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

chore: remove completed deferred-game-announcement tracking files
  .copilot-tracking/planning/details/20260530-01-deferred-game-announcement-details.md
  .copilot-tracking/planning/plans/20260530-01-deferred-game-announcement.plan.md
  .copilot-tracking/planning/prompts/implement-deferred-game-announcement.prompt.md
  .copilot-tracking/research/20260530-01-deferred-game-announcement-research.md
Due: prettier

feat: frontend post_at field with deferred announcement badge
  .copilot-tracking/changes/20260530-01-deferred-game-announcement-changes.md
  .copilot-tracking/planning/changes/20260530-01-deferred-game-announcement-changes.md
  .copilot-tracking/planning/plans/20260530-01-deferred-game-announcement.plan.md
  frontend/src/components/GameCard.tsx
  frontend/src/components/GameForm.tsx
  frontend/src/pages/CreateGame.tsx
  frontend/src/pages/EditGame.tsx
  frontend/src/pages/GameDetails.tsx
  frontend/src/pages/__tests__/CreateGame.test.tsx
  frontend/src/pages/__tests__/EditGame.archiveBranches.test.tsx
  frontend/src/pages/__tests__/EditGame.test.tsx
  frontend/src/pages/__tests__/GameDetails.test.tsx
  frontend/src/pages/__tests__/MyGames.test.tsx
  frontend/src/types/__tests__/index.test.ts
  frontend/src/types/index.ts
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

docs(planner): enforce full pre-commit gate at every phase boundary
  .github/agents/task-planner.agent.md
Due: prettier

docs(planner): require integration and e2e test execution before phase commit
  .github/agents/task-planner.agent.md
Due: prettier

feat: add signup_method param + entered_waitlist() to partition logic (Phase 2)
  .copilot-tracking/planning/plans/20260530-01-host-selected-waitlist.plan.md
  shared/utils/participant_sorting.py
  tests/unit/shared/utils/test_participant_sorting.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: phase 4 — backend callers, SELF_ADDED upsert, demotion notifications
  .copilot-tracking/planning/plans/20260530-01-host-selected-waitlist.plan.md
  services/api/routes/games.py
  services/api/services/games.py
  services/bot/events/handlers.py
  shared/services/game_schedules.py
  shared/utils/participant_sorting.py
  tests/integration/test_game_signup_methods.py
  tests/unit/services/api/services/test_games_edit_participants.py
  tests/unit/services/api/services/test_games_promotion.py
  tests/unit/services/api/services/test_games_service.py
  tests/unit/services/bot/events/test_handlers_join_notification.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

plan: HOST_SELECTED_WITH_WAITLIST signup mode
  .copilot-tracking/planning/details/20260530-01-host-selected-waitlist-details.md
  .copilot-tracking/planning/plans/20260530-01-host-selected-waitlist.plan.md
  .copilot-tracking/planning/prompts/implement-host-selected-waitlist.prompt.md
  .copilot-tracking/research/20260530-01-host-selected-waitlist-research.md
Due: prettier

feat: add HOST_SELECTED_WITH_WAITLIST enum value (Phase 1)
  .copilot-tracking/changes/20260530-01-host-selected-waitlist-changes.md
  .copilot-tracking/planning/plans/20260530-01-host-selected-waitlist.plan.md
  frontend/src/types/index.ts
  shared/models/signup_method.py
  tests/unit/shared/models/test_signup_method.py
Due: autocopyright-python, autocopyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-generate, jscpd-diff

feat: add join_waitlist and waitlist_demotion DM formats (Phase 3)
  .copilot-tracking/planning/plans/20260530-01-host-selected-waitlist.plan.md
  shared/message_formats.py
  tests/unit/shared/test_message_formats.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: phase 5 — bot join button, waitlist DM dispatch
  .copilot-tracking/changes/20260530-01-host-selected-waitlist-changes.md
  .copilot-tracking/planning/plans/20260530-01-host-selected-waitlist.plan.md
  services/bot/events/handlers.py
  services/bot/views/game_view.py
  shared/message_formats.py
  tests/e2e/conftest.py
  tests/e2e/helpers/discord.py
  tests/e2e/test_join_notification.py
  tests/e2e/test_signup_methods.py
  tests/e2e/test_waitlist_promotion.py
  tests/unit/services/bot/events/test_handlers_join_notification.py
  tests/unit/services/bot/views/conftest.py
  tests/unit/services/bot/views/test_game_view.py
  tests/unit/shared/test_message_formats.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: phase 6 — open slot placeholders in bot game embed
  .copilot-tracking/changes/20260530-01-host-selected-waitlist-changes.md
  .copilot-tracking/planning/plans/20260530-01-host-selected-waitlist.plan.md
  services/bot/formatters/game_message.py
  tests/unit/services/bot/formatters/conftest.py
  tests/unit/services/bot/formatters/test_game_message.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: phase 7 — frontend HOST_SELECTED_WITH_WAITLIST checkbox and open slot rows
  .copilot-tracking/changes/20260530-01-host-selected-waitlist-changes.md
  .copilot-tracking/planning/plans/20260530-01-host-selected-waitlist.plan.md
  frontend/src/components/EditableParticipantList.tsx
  frontend/src/components/GameForm.tsx
  frontend/src/components/__tests__/EditableParticipantList.test.tsx
  frontend/src/components/__tests__/GameForm.test.tsx
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

feat: show open slot placeholders in host-selected-with-waitlist mode
  frontend/src/components/EditableParticipantList.tsx
  frontend/src/components/GameForm.tsx
  frontend/src/components/ParticipantList.tsx
  frontend/src/components/__tests__/EditableParticipantList.test.tsx
  frontend/src/components/__tests__/GameForm.test.tsx
  frontend/src/pages/GameDetails.tsx
  frontend/src/types/index.ts
  services/api/routes/games.py
  services/bot/formatters/game_message.py
  shared/schemas/game.py
  tests/unit/services/api/routes/test_games_helpers.py
  tests/unit/services/bot/formatters/test_game_message.py
Due: autocopyright-python, autocopyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-generate, jscpd-diff

fix: update promotion DM text and matching assertions
  shared/message_formats.py
  tests/unit/services/api/services/test_games_promotion.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: make test_user_discord_user_id fixture hermetic
  tests/e2e/conftest.py
  tests/e2e/test_waitlist_promotion.py
  tests/shared/e2e_fixtures/helpers/test_discord_helpers.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

chore: remove host-selected-waitlist planning and research files
  .copilot-tracking/planning/details/20260530-01-host-selected-waitlist-details.md
  .copilot-tracking/planning/plans/20260530-01-host-selected-waitlist.plan.md
  .copilot-tracking/planning/prompts/implement-host-selected-waitlist.prompt.md
  .copilot-tracking/research/20260530-01-host-selected-waitlist-research.md
Due: prettier

plan: host notification when HOST_ADDED player drops out
  .copilot-tracking/planning/details/20260531-01-host-added-dropout-notification-details.md
  .copilot-tracking/planning/plans/20260531-01-host-added-dropout-notification.plan.md
  .copilot-tracking/planning/prompts/implement-host-added-dropout-notification.prompt.md
  .copilot-tracking/research/20260531-01-host-added-dropout-notification-research.md
Due: prettier

feat: notify host when HOST_ADDED participant drops out
  .copilot-tracking/changes/20260531-01-host-added-dropout-notification-changes.md
  .copilot-tracking/planning/plans/20260531-01-host-added-dropout-notification.plan.md
  services/api/services/games.py
  services/bot/handlers/leave_game.py
  shared/message_formats.py
  tests/e2e/helpers/discord.py
  tests/e2e/test_host_added_dropout_notification.py
  tests/integration/test_leave_game.py
  tests/shared/e2e_fixtures/helpers/test_discord_helpers.py
  tests/unit/api/services/test_games.py
  tests/unit/bot/handlers/test_leave_game_handler.py
  tests/unit/shared/test_message_formats.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff
