Repository bretmckee/game-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-copyright-python, add-copyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-diff

Path conditions:
  add-copyright-python: any of: \.py$
  add-copyright-typescript: any of: \.(ts|tsx)$
  prettier: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.css$, \.scss$, \.(md|markdown|mdown)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  python-compile: any of: \.py$
  mypy: any of: \.py$
  pytest-coverage: any of: ^(services|shared|tests)/.*\.py$
  diff-coverage: any of: ^(services|shared|tests)/.*\.py$
  frontend-build: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|html)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  vitest-coverage: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  diff-coverage-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  complexipy: any of: \.py$
  lizard-typescript: any of: ^frontend/src/.*\.(ts|tsx)$
  jscpd-diff: any of: \.py$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$

Add planning files for template description deletion bug fix
  .copilot-tracking/details/20260205-template-description-deletion-bug-details.md
  .copilot-tracking/plans/20260205-template-description-deletion-bug-plan.instructions.md
  .copilot-tracking/prompts/implement-template-description-deletion-bug.prompt.md
  .copilot-tracking/research/20260205-template-description-deletion-bug-research.md
Due: none

Fix template description deletion bug
  .copilot-tracking/changes/20260205-template-description-deletion-bug-changes.md
  .copilot-tracking/plans/20260205-template-description-deletion-bug-plan.instructions.md
  .copilot-tracking/prompts/implement-template-description-deletion-bug.prompt.md
  frontend/src/components/TemplateForm.tsx
  frontend/src/components/__tests__/TemplateForm.test.tsx
  services/api/services/template_service.py
  tests/integration/test_template_field_clearing.py
  tests/services/api/services/test_template_service.py
Due: add-copyright-python, add-copyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-diff

feat: extend sync_user_guilds to refresh channels for existing guilds
  .copilot-tracking/changes/20260205-channel-sync-via-guild-sync-button-changes.md
  .copilot-tracking/plans/20260205-channel-sync-via-guild-sync-button-plan.instructions.md
  services/api/services/guild_service.py
  tests/services/api/services/test_guild_service.py
Due: add-copyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-diff

feat: add updated_channels to sync response and filter inactive channels
  .copilot-tracking/changes/20260205-channel-sync-via-guild-sync-button-changes.md
  .copilot-tracking/plans/20260205-channel-lazy-loading-guild-setup-plan.instructions.md
  .copilot-tracking/plans/20260205-channel-sync-via-guild-sync-button-plan.instructions.md
  services/api/routes/guilds.py
  shared/schemas/guild.py
Due: add-copyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-diff

Implement Phase 3: Frontend real-time updates with comprehensive tests
  .copilot-tracking/changes/20260205-01-web-join-game-ux-changes.md
  .copilot-tracking/plans/20260205-01-web-join-game-ux-plan.instructions.md
  frontend/src/components/GameCard.tsx
  frontend/src/components/__tests__/GameCard.test.tsx
  frontend/src/hooks/__tests__/useGameUpdates.test.ts
  frontend/src/hooks/useGameUpdates.ts
  frontend/src/pages/BrowseGames.tsx
  frontend/src/pages/MyGames.tsx
  frontend/src/pages/__tests__/BrowseGames.test.tsx
  frontend/src/pages/__tests__/MyGames.test.tsx
Due: add-copyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-diff

Fix SSE integration test flakiness and add comprehensive test coverage
  .copilot-tracking/changes/20260205-01-web-join-game-ux-changes.md
  services/api/routes/sse.py
  services/api/services/sse_bridge.py
  shared/messaging/publisher.py
  tests/integration/test_sse_bridge.py
  tests/unit/services/api/services/test_sse_bridge.py
Due: add-copyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-diff

feat: implement guild-based routing for game.updated events
  .copilot-tracking/changes/20260205-01-web-join-game-ux-changes.md
  .copilot-tracking/plans/20260205-01-web-join-game-ux-plan.instructions.md
  services/api/services/games.py
  services/bot/events/publisher.py
  services/bot/handlers/join_game.py
  services/bot/handlers/leave_game.py
  shared/messaging/infrastructure.py
  tests/services/bot/events/test_publisher.py
Due: add-copyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-diff

Fix SSE real-time sync with BYPASSRLS and keepalive detection
  .copilot-tracking/changes/20260205-01-web-join-game-ux-changes.md
  .copilot-tracking/plans/20260205-01-web-join-game-ux-plan.instructions.md
  .copilot-tracking/prompts/implement-web-join-game-ux.prompt.md
  compose.yaml
  docker/frontend-nginx.conf
  frontend/src/components/GameCard.tsx
  frontend/src/components/__tests__/GameCard.test.tsx
  frontend/src/hooks/__tests__/useGameUpdates.test.ts
  frontend/src/hooks/useGameUpdates.ts
  services/api/routes/sse.py
  services/api/services/games.py
  services/api/services/sse_bridge.py
  services/bot/events/handlers.py
  services/bot/handlers/join_game.py
  services/bot/handlers/leave_game.py
  shared/database.py
  tests/services/api/services/conftest.py
  tests/services/api/services/test_games.py
  tests/services/api/services/test_sse_bridge.py
  tests/services/bot/events/test_handlers.py
Due: add-copyright-python, add-copyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-diff

Integrate Test-Driven Development (TDD) methodology across instruction system
  .github/chatmodes/task-planner.chatmode.md
  .github/instructions/coding-best-practices.instructions.md
  .github/instructions/integration-tests.instructions.md
  .github/instructions/python.instructions.md
  .github/instructions/reactjs.instructions.md
  .github/instructions/task-implementation.instructions.md
  .github/instructions/test-driven-development.instructions.md
  .github/instructions/typescript-5-es2022.instructions.md
Due: none

Fix TDD instructions to write tests for actual behavior, not NotImplementedError
  .github/instructions/test-driven-development.instructions.md
Due: none

Refactor vitest-coverage hook to use external script
  .pre-commit-config.yaml
  scripts/run-frontend-coverage.sh
Due: none

Add backend template schema max_length constraints
  .copilot-tracking/changes/20260207-01-game-form-validation-changes.md
  .copilot-tracking/plans/20260207-01-game-form-validation-plan.instructions.md
  shared/schemas/template.py
  tests/integration/test_template_creation.py
Due: add-copyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-diff

fix: ensure pytest-timeout plugin loads in coverage-report.sh
  scripts/coverage-report.sh
Due: none

Add DurationSelector component with TDD
  .copilot-tracking/changes/20260207-01-game-form-validation-changes.md
  .copilot-tracking/plans/20260207-01-game-form-validation-plan.instructions.md
  frontend/src/components/DurationSelector.tsx
  frontend/src/components/__tests__/DurationSelector.test.tsx
Due: add-copyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-diff

feat: complete game form validation implementation
  .copilot-tracking/changes/20260207-01-game-form-validation-changes.md
  .copilot-tracking/plans/20260207-01-game-form-validation-plan.instructions.md
  .copilot-tracking/prompts/implement-game-form-validation.prompt.md
  frontend/src/components/GameForm.tsx
  frontend/src/components/__tests__/GameForm.error-handling.test.tsx
Due: add-copyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-diff

Align test timeout settings with pre-commit hooks
  frontend/vitest.config.ts
  pyproject.toml
Due: add-copyright-typescript, prettier, eslint, frontend-build, typescript, diff-coverage-frontend, jscpd-diff

Fix TDD workflow in game form validation task plan
  .copilot-tracking/details/20260207-01-game-form-validation-details.md
  .copilot-tracking/plans/20260207-01-game-form-validation-plan.instructions.md
  .copilot-tracking/research/20260207-01-game-form-validation-research.md
Due: none

Add planning files for reminder time selector component
  .copilot-tracking/details/20260208-01-reminder-time-selector-details.md
  .copilot-tracking/plans/20260208-01-reminder-time-selector-plan.instructions.md
  .copilot-tracking/prompts/implement-reminder-time-selector.prompt.md
  .copilot-tracking/research/20260208-01-reminder-time-selector-research.md
Due: none

Add ReminderSelector component with chip UI (Phase 0)
  .copilot-tracking/changes/20260208-01-reminder-time-selector-changes.md
  .copilot-tracking/plans/20260208-01-reminder-time-selector-plan.instructions.md
  frontend/src/components/ReminderSelector.tsx
  frontend/src/components/__tests__/ReminderSelector.test.tsx
Due: add-copyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-diff
