Repository bretmckee/game-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: autocopyright-python, autocopyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-generate, jscpd-diff

Path conditions:
  autocopyright-python: any of: \.py$
  autocopyright-typescript: any of: \.(ts|tsx)$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.css$, \.scss$, \.(md|markdown|mdown)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  python-compile: any of: \.py$
  mypy: any of: \.py$
  pytest-coverage: any of: ^(services|shared|tests)/.*\.py$
  diff-coverage: any of: ^(services|shared|tests)/.*\.py$
  frontend-build: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|html)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  vitest-coverage: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  diff-coverage-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  complexipy: any of: \.py$
  lizard-typescript: any of: ^frontend/src/.*\.(ts|tsx)$
  jscpd-generate: any of: \.py$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  jscpd-diff: any of: \.py$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$

Fix template description deletion bug
  .copilot-tracking/changes/20260205-template-description-deletion-bug-changes.md
  .copilot-tracking/plans/20260205-template-description-deletion-bug-plan.instructions.md
  .copilot-tracking/prompts/implement-template-description-deletion-bug.prompt.md
  frontend/src/components/TemplateForm.tsx
  frontend/src/components/__tests__/TemplateForm.test.tsx
  services/api/services/template_service.py
  tests/integration/test_template_field_clearing.py
  tests/services/api/services/test_template_service.py
Due: autocopyright-python, autocopyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-generate, jscpd-diff

Refactor vitest-coverage hook to use external script
  .pre-commit-config.yaml
  scripts/run-frontend-coverage.sh
Due: none

Add 240s timeouts to slow integration/e2e tests
  tests/e2e/test_game_reminder.py
  tests/e2e/test_game_status_transitions.py
  tests/e2e/test_join_notification.py
  tests/integration/test_retry_daemon.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

Add game_images table migration and models (Phase 0)
  .copilot-tracking/changes/20260207-02-public-image-endpoints-changes.md
  .copilot-tracking/plans/20260207-02-public-image-endpoints-plan.instructions.md
  alembic/versions/dc81dd7fe299_migrate_images_to_separate_table_with_.py
  shared/models/__init__.py
  shared/models/game.py
  shared/models/game_image.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

Implement Phase 3: Frontend real-time updates with comprehensive tests
  .copilot-tracking/changes/20260205-01-web-join-game-ux-changes.md
  .copilot-tracking/plans/20260205-01-web-join-game-ux-plan.instructions.md
  frontend/src/components/GameCard.tsx
  frontend/src/components/__tests__/GameCard.test.tsx
  frontend/src/hooks/__tests__/useGameUpdates.test.ts
  frontend/src/hooks/useGameUpdates.ts
  frontend/src/pages/BrowseGames.tsx
  frontend/src/pages/MyGames.tsx
  frontend/src/pages/__tests__/BrowseGames.test.tsx
  frontend/src/pages/__tests__/MyGames.test.tsx
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

Add planning files for template description deletion bug fix
  .copilot-tracking/details/20260205-template-description-deletion-bug-details.md
  .copilot-tracking/plans/20260205-template-description-deletion-bug-plan.instructions.md
  .copilot-tracking/prompts/implement-template-description-deletion-bug.prompt.md
  .copilot-tracking/research/20260205-template-description-deletion-bug-research.md
Due: prettier

Add planning files for Discord channel links in game location field
  .copilot-tracking/details/20260210-01-channel-links-in-game-location-details.md
  .copilot-tracking/plans/20260210-01-channel-links-in-game-location-plan.instructions.md
  .copilot-tracking/prompts/implement-channel-links-in-game-location.prompt.md
  .copilot-tracking/research/20260210-01-channel-links-in-game-location-research.md
Due: prettier

Update bot and frontend to use public image URLs
  .copilot-tracking/changes/20260207-02-public-image-endpoints-changes.md
  .copilot-tracking/plans/20260207-02-public-image-endpoints-plan.instructions.md
  frontend/src/pages/GameDetails.tsx
  frontend/src/types/index.ts
  services/api/routes/games.py
  services/bot/events/handlers.py
  services/bot/formatters/game_message.py
  shared/schemas/game.py
  tests/services/bot/formatters/test_game_message.py
Due: autocopyright-python, autocopyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-generate, jscpd-diff

refactor(pre-commit): convert 5 hooks to standalone isolated environments
  .copilot-tracking/changes/20260204-precommit-complete-standalone-changes.md
  .copilot-tracking/details/20260204-precommit-complete-standalone-details.md
  .copilot-tracking/plans/20260204-precommit-complete-standalone-plan.instructions.md
  .copilot-tracking/research/20260204-precommit-complete-standalone-research.md
  .pre-commit-config.yaml
Due: prettier

feat: integrate channel resolution into game service (Phase 2)
  .copilot-tracking/changes/20260210-01-channel-links-in-game-location-changes.md
  .copilot-tracking/plans/20260210-01-channel-links-in-game-location-plan.instructions.md
  services/api/routes/games.py
  services/api/services/games.py
  tests/integration/services/api/services/test_game_image_integration.py
  tests/integration/test_games_route_guild_isolation.py
  tests/services/api/services/conftest.py
  tests/services/api/services/test_games.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: add channel validation error display in game creation UI
  .copilot-tracking/changes/20260210-01-channel-links-in-game-location-changes.md
  .copilot-tracking/plans/20260210-01-channel-links-in-game-location-plan.instructions.md
  frontend/src/components/ChannelValidationErrors.tsx
  frontend/src/components/GameForm.tsx
  frontend/src/components/__tests__/ChannelValidationErrors.test.tsx
  frontend/src/pages/CreateGame.tsx
  frontend/src/pages/__tests__/CreateGame.test.tsx
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

Restructure Phase 5 tasks for incremental implementation
  .copilot-tracking/details/20260214-01-discord-webhook-events-automatic-sync-details.md
  .copilot-tracking/plans/20260214-01-discord-webhook-events-automatic-sync.plan.md
Due: prettier

Add planning and research for copyright validation pre-commit hook
  .copilot-tracking/details/20260215-01-copyright-validation-precommit-details.md
  .copilot-tracking/plans/20260215-01-copyright-validation-precommit.plan.md
  .copilot-tracking/prompts/implement-copyright-validation-precommit.prompt.md
  .copilot-tracking/research/20260215-01-copyright-validation-precommit-research.md
Due: prettier

feat: Add E2E test for bot startup guild sync with pytest-order
  .copilot-tracking/changes/20260214-01-discord-webhook-events-automatic-sync-changes.md
  .copilot-tracking/plans/20260214-01-discord-webhook-events-automatic-sync.plan.md
  .copilot-tracking/research/20260214-01-discord-webhook-events-automatic-sync-research.md
  compose.e2e.yaml
  compose.yaml
  docker/bot.Dockerfile
  pyproject.toml
  services/api/routes/channels.py
  services/api/services/guild_service.py
  services/bot/bot.py
  services/bot/guild_sync.py
  shared/data_access/guild_queries.py
  tests/e2e/conftest.py
  tests/e2e/test_00_bot_startup_sync.py
  tests/services/api/routes/test_channels.py
  tests/services/api/services/test_guild_service.py
  tests/services/bot/test_guild_sync.py
  uv.lock
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

refactor: migrate chatmodes to custom agents
  .github/agents/task-planner.agent.md
  .github/agents/task-researcher.agent.md
  .github/instructions/researcher-enhancements.instructions.md
Due: prettier

test-scripts: update e2e and integration runners
  scripts/run-e2e-tests.sh
  scripts/run-integration-tests.sh
Due: none

feat: implement Discord webhook Ed25519 signature validation
  .copilot-tracking/changes/20260214-01-discord-webhook-events-automatic-sync-changes.md
  .copilot-tracking/plans/20260214-01-discord-webhook-events-automatic-sync.plan.md
  services/api/dependencies/__init__.py
  services/api/dependencies/discord_webhook.py
  tests/services/api/dependencies/test_discord_webhook.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

Add pre-commit hook to validate copyright headers
  .copilot-tracking/changes/20260215-01-copyright-validation-precommit-changes.md
  .copilot-tracking/plans/20260215-01-copyright-validation-precommit.plan.md
  .copilot-tracking/prompts/implement-copyright-validation-precommit.prompt.md
  .gitignore
  .pre-commit-config.yaml
  docker/test.Dockerfile
  scripts/check-copyright-precommit.sh
  scripts/check-copyright.py
  scripts/generate-copyright-references.sh
  tests/unit/test_check_copyright.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

Update Discord webhook plan to follow corrected TDD methodology
  .copilot-tracking/details/20260214-01-discord-webhook-events-automatic-sync-details.md
  .copilot-tracking/plans/20260214-01-discord-webhook-events-automatic-sync.plan.md
Due: prettier

refactor: simplify guild sync architecture - bot owns its startup sync
  .copilot-tracking/details/20260214-01-discord-webhook-events-automatic-sync-details.md
  .copilot-tracking/plans/20260214-01-discord-webhook-events-automatic-sync.plan.md
  .copilot-tracking/research/20260214-01-discord-webhook-events-automatic-sync-research.md
Due: prettier

Fix TDD methodology: use xfail/failing markers instead of expecting NotImplementedError
  .github/agents/task-planner.agent.md
  .github/agents/task-researcher.agent.md
  .github/instructions/coding-best-practices.instructions.md
  .github/instructions/integration-tests.instructions.md
  .github/instructions/python.instructions.md
  .github/instructions/reactjs.instructions.md
  .github/instructions/task-implementation.instructions.md
  .github/instructions/test-driven-development.instructions.md
  .github/instructions/typescript-5-es2022.instructions.md
Due: prettier

Add configurable duplicate detection thresholds with pattern-based overrides
  .pre-commit-config.yaml
  pyproject.toml
  scripts/check_commit_duplicates.py
Due: autocopyright-python, python-compile, mypy, complexipy, jscpd-generate, jscpd-diff

Add planning files for remove-channel-refresh-from-guild-sync
  .copilot-tracking/details/20260228-01-remove-channel-refresh-from-guild-sync-details.md
  .copilot-tracking/plans/20260228-01-remove-channel-refresh-from-guild-sync.plan.md
  .copilot-tracking/prompts/implement-remove-channel-refresh-from-guild-sync.prompt.md
  .copilot-tracking/research/20260228-01-remove-channel-refresh-from-guild-sync-research.md
Due: prettier

Remove completed webhook removal task tracking files
  .copilot-tracking/details/20260226-01-remove-webhooks-use-gateway-events-details.md
  .copilot-tracking/plans/20260226-01-remove-webhooks-use-gateway-events.plan.md
  .copilot-tracking/prompts/implement-remove-webhooks-use-gateway-events.prompt.md
  .copilot-tracking/research/20260226-01-remove-webhooks-use-gateway-events-research.md
Due: prettier

docs: add instruction files for agents, AI prompt engineering, and prompts
  .github/instructions/agents.instructions.md
  .github/instructions/ai-prompt-engineering-safety-best-practices.instructions.md
  .github/instructions/prompt.instructions.md
Due: prettier

fix: Add chardet version constraint to fix requests compatibility
  docker/test.Dockerfile
  pyproject.toml
  uv.lock
Due: none

Fix deprecated Ruff lint rules and optimize autocopyright hook
  .pre-commit-config.yaml
  pyproject.toml
  scripts/autocopyright-wrapper.sh
  services/bot/bot.py
  services/bot/commands/setup.py
  shared/telemetry.py
  tests/services/api/services/test_games_promotion.py
  tests/services/bot/commands/test_setup.py
  tests/services/bot/test_bot.py
  uv.lock
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

Complete phases 4-6: Rate limiting, guild sync, and verification
  .copilot-tracking/changes/20260226-01-remove-webhooks-use-gateway-events-changes.md
  .copilot-tracking/plans/20260226-01-remove-webhooks-use-gateway-events.plan.md
  compose.e2e.yaml
  compose.int.yaml
  compose.yaml
  services/api/routes/__init__.py
  services/api/routes/guilds.py
  services/api/services/guild_service.py
  services/bot/bot.py
  services/bot/guild_sync.py
  shared/cache/keys.py
  shared/cache/ttl.py
  shared/discord/client.py
  tests/e2e/conftest.py
  tests/e2e/test_guild_sync_e2e.py
  tests/integration/test_guild_sync_channel_operations.py
  tests/services/api/routes/test_guilds.py
  tests/services/api/services/test_guild_service.py
  tests/services/bot/test_bot.py
  tests/services/bot/test_guild_sync.py
  tests/shared/discord/test_client.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

Add planning files for removing Discord webhooks and using gateway events
  .copilot-tracking/details/20260226-01-remove-webhooks-use-gateway-events-details.md
  .copilot-tracking/plans/20260226-01-remove-webhooks-use-gateway-events.plan.md
  .copilot-tracking/prompts/implement-remove-webhooks-use-gateway-events.prompt.md
Due: prettier

Remove channel refresh from guild sync
  .copilot-tracking/changes/20260228-01-remove-channel-refresh-from-guild-sync-changes.md
  .copilot-tracking/plans/20260228-01-remove-channel-refresh-from-guild-sync.plan.md
  frontend/src/api/guilds.ts
  frontend/src/pages/GuildListPage.tsx
  frontend/src/pages/__tests__/GuildListPage.test.tsx
  services/api/routes/guilds.py
  services/api/services/guild_service.py
  services/bot/guild_sync.py
  shared/schemas/guild.py
  tests/e2e/test_channel_refresh_e2e.py
  tests/e2e/test_guild_sync_e2e.py
  tests/services/api/routes/test_guilds.py
  tests/services/bot/test_guild_sync.py
  tests/unit/api/services/test_guild_service_channel_refresh.py
Due: autocopyright-python, autocopyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-generate, jscpd-diff

feat: add bot maintainer privilege infrastructure (Phases 1-2, 4)
  .copilot-tracking/changes/20260301-01-bot-maintainer-privilege-changes.md
  .copilot-tracking/plans/20260301-01-bot-maintainer-privilege.plan.md
  compose.override.yaml
  services/api/app.py
  services/api/auth/oauth2.py
  services/api/auth/tokens.py
  services/api/routes/auth.py
  services/api/routes/maintainers.py
  shared/cache/keys.py
  shared/cache/ttl.py
  shared/discord/client.py
  tests/integration/test_maintainers.py
  tests/shared/auth_helpers.py
  tests/unit/services/api/auth/test_oauth2.py
  tests/unit/services/api/auth/test_tokens.py
  tests/unit/services/api/routes/test_maintainers.py
  tests/unit/shared/discord/test_client.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: Phase 3 route and permission updates for bot-maintainer privilege
  .copilot-tracking/changes/20260301-01-bot-maintainer-privilege-changes.md
  .copilot-tracking/plans/20260301-01-bot-maintainer-privilege.plan.md
  services/api/auth/tokens.py
  services/api/dependencies/permissions.py
  services/api/routes/auth.py
  services/api/routes/guilds.py
  services/api/services/sse_bridge.py
  shared/database.py
  shared/schemas/auth.py
  tests/conftest.py
  tests/services/api/routes/test_export.py
  tests/services/api/routes/test_guilds.py
  tests/services/api/test_database_dependencies.py
  tests/unit/services/api/auth/test_tokens.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: add frontend maintainer privilege controls (Phase 5)
  .copilot-tracking/changes/20260301-01-bot-maintainer-privilege-changes.md
  .copilot-tracking/plans/20260301-01-bot-maintainer-privilege.plan.md
  frontend/src/api/maintainers.test.ts
  frontend/src/api/maintainers.ts
  frontend/src/pages/GuildListPage.tsx
  frontend/src/pages/__tests__/GuildListPage.test.tsx
  frontend/src/types/index.ts
  services/api/dependencies/permissions.py
  services/api/routes/maintainers.py
  services/api/routes/templates.py
  services/api/services/template_service.py
  tests/integration/test_maintainers.py
  tests/services/api/routes/test_templates.py
  tests/services/api/services/test_template_service.py
Due: autocopyright-python, autocopyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-generate, jscpd-diff

chore: remove bot-maintainer-privilege planning and prompt files
  .copilot-tracking/details/20260301-01-bot-maintainer-privilege-details.md
  .copilot-tracking/plans/20260301-01-bot-maintainer-privilege.plan.md
  .copilot-tracking/prompts/implement-bot-maintainer-privilege.prompt.md
  .copilot-tracking/research/20260301-01-bot-maintainer-privilege-research.md
Due: prettier

Use pytest quiet mode in coverage-report.sh to reduce scrolling
  compose.e2e.yaml
  docker/test.Dockerfile
  scripts/coverage-report.sh
Due: none

Add check-lint-suppressions pre-commit hook
  .copilot-tracking/changes/20260301-02-lint-suppression-scanner-changes.md
  .copilot-tracking/plans/20260301-02-lint-suppression-scanner.plan.md
  .github/instructions/quality-check-overrides.instructions.md
  .pre-commit-config.yaml
  scripts/check_lint_suppressions.py
  tests/unit/scripts/__init__.py
  tests/unit/scripts/test_check_lint_suppressions.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

Remove lint-suppression-scanner planning artifacts
  .copilot-tracking/details/20260301-02-lint-suppression-scanner-details.md
  .copilot-tracking/plans/20260301-02-lint-suppression-scanner.plan.md
  .copilot-tracking/prompts/implement-lint-suppression-scanner.prompt.md
  .copilot-tracking/research/20260301-02-lint-suppression-scanner-research.md
Due: prettier

chore: add planning files for remove-require-host-role task
  .copilot-tracking/details/20260301-03-remove-require-host-role-details.md
  .copilot-tracking/plans/20260301-03-remove-require-host-role.plan.md
  .copilot-tracking/prompts/implement-remove-require-host-role.prompt.md
  .copilot-tracking/research/20260301-03-remove-require-host-role-research.md
Due: prettier

Phase 3: Add PARTICIPANT_DROP_DUE event type, builder, and bot handler
  .copilot-tracking/changes/20260302-01-game-clone-changes.md
  .copilot-tracking/plans/20260302-01-game-clone.plan.md
  services/bot/handlers/participant_drop.py
  services/scheduler/participant_action_event_builder.py
  shared/messaging/events.py
  tests/integration/test_participant_drop_event.py
  tests/unit/bot/__init__.py
  tests/unit/bot/handlers/__init__.py
  tests/unit/bot/handlers/test_participant_drop_handler.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff
