Repository bretmckee/game-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: autocopyright-python, autocopyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-generate, jscpd-diff

Path conditions:
  autocopyright-python: any of: \.py$
  autocopyright-typescript: any of: \.(ts|tsx)$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.css$, \.scss$, \.(md|markdown|mdown)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  python-compile: any of: \.py$
  mypy: any of: \.py$
  pytest-coverage: any of: ^(services|shared|tests)/.*\.py$
  diff-coverage: any of: ^(services|shared|tests)/.*\.py$
  frontend-build: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|html)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  vitest-coverage: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  diff-coverage-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  complexipy: any of: \.py$
  lizard-typescript: any of: ^frontend/src/.*\.(ts|tsx)$
  jscpd-generate: any of: \.py$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  jscpd-diff: any of: \.py$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$

feat: add reason label to sweep metrics
  services/bot/bot.py
  tests/unit/bot/test_sweep_metrics.py
  tests/unit/bot/test_trigger_sweep.py
  tests/unit/services/bot/test_bot.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: add gateway projection and embed sweep Grafana dashboards
  config.template/grafana-alloy/dashboards/embed-sweep-dashboard.json
  config.template/grafana-alloy/dashboards/gateway-projection-dashboard.json
Due: prettier

plan: eliminate Discord REST call in GET /api/v1/auth/user
  .copilot-tracking/planning/details/20260424-01-eliminate-discord-rest-call-get-user-info-details.md
  .copilot-tracking/planning/plans/20260424-01-eliminate-discord-rest-call-get-user-info.plan.md
  .copilot-tracking/planning/prompts/implement-eliminate-discord-rest-call-get-user-info.prompt.md
  .copilot-tracking/research/20260424-01-eliminate-discord-rest-call-get-user-info-research.md
Due: prettier

perf: eliminate Discord REST call from GET /api/v1/auth/user
  .copilot-tracking/changes/20260424-01-eliminate-discord-rest-call-get-user-info-changes.md
  .copilot-tracking/planning/plans/20260424-01-eliminate-discord-rest-call-get-user-info.plan.md
  services/api/auth/tokens.py
  services/api/routes/auth.py
  tests/unit/services/api/auth/test_tokens.py
  tests/unit/services/api/routes/test_auth_routes.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: remove deprecated access_token parameters (phases 1-5)
  .copilot-tracking/changes/20260425-01-unused-underscore-prefixed-parameters-changes.md
  .copilot-tracking/planning/plans/20260425-01-unused-underscore-prefixed-parameters.plan.md
  .devcontainer/devcontainer-lock.json
  services/api/auth/roles.py
  services/api/database/queries.py
  services/api/dependencies/permissions.py
  services/api/routes/export.py
  services/api/routes/games.py
  services/api/routes/guilds.py
  services/api/routes/templates.py
  services/api/services/games.py
  services/api/services/template_service.py
  tests/integration/services/api/services/test_game_image_integration.py
  tests/integration/test_rls_enforcement.py
  tests/unit/api/services/test_games.py
  tests/unit/services/api/auth/test_roles.py
  tests/unit/services/api/database/test_queries.py
  tests/unit/services/api/dependencies/test_api_permissions.py
  tests/unit/services/api/dependencies/test_permissions_migration.py
  tests/unit/services/api/routes/test_guilds_routes.py
  tests/unit/services/api/services/test_games_service.py
  tests/unit/services/api/services/test_template_service.py
  tests/unit/services/api/test_negative_authorization.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: store username in test session helper and verify in auth test
  tests/integration/test_auth_routes.py
  tests/shared/auth_helpers.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

chore: remove completed planning files for unused-underscore-prefixed-parameters
  .copilot-tracking/planning/details/20260425-01-unused-underscore-prefixed-parameters-details.md
  .copilot-tracking/planning/plans/20260425-01-unused-underscore-prefixed-parameters.plan.md
  .copilot-tracking/planning/prompts/implement-unused-underscore-prefixed-parameters.prompt.md
  .copilot-tracking/research/20260425-01-unused-underscore-prefixed-parameters-research.md
Due: prettier

research: replace fetch_message REST calls with PartialMessage
  .copilot-tracking/planning/details/20260425-03-replace-fetch-message-with-partial-message-details.md
  .copilot-tracking/planning/plans/20260425-03-replace-fetch-message-with-partial-message.plan.md
  .copilot-tracking/planning/prompts/implement-replace-fetch-message-with-partial-message.prompt.md
  .copilot-tracking/research/20260425-03-replace-fetch-message-with-partial-message-research.md
Due: prettier

chore: add research and planning files for remove-dead-discord-rest-code task
  .copilot-tracking/planning/details/20260425-02-remove-dead-discord-rest-code-details.md
  .copilot-tracking/planning/plans/20260425-02-remove-dead-discord-rest-code.plan.md
  .copilot-tracking/planning/prompts/implement-remove-dead-discord-rest-code.prompt.md
  .copilot-tracking/research/20260425-02-remove-dead-discord-rest-code-research.md
Due: prettier

refactor: replace fetch_message REST calls with get_partial_message cache
  .copilot-tracking/changes/20260425-03-replace-fetch-message-with-partial-message-changes.md
  .copilot-tracking/planning/plans/20260425-03-replace-fetch-message-with-partial-message.plan.md
  services/bot/events/handlers.py
  tests/unit/bot/events/test_handlers_lifecycle_events.py
  tests/unit/bot/events/test_handlers_misc.py
  tests/unit/services/bot/events/test_channel_worker.py
  tests/unit/services/bot/events/test_handlers.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

chore: remove completed planning files for replace-fetch-message-with-partial-message
  .copilot-tracking/planning/details/20260425-03-replace-fetch-message-with-partial-message-details.md
  .copilot-tracking/planning/plans/20260425-03-replace-fetch-message-with-partial-message.plan.md
  .copilot-tracking/planning/prompts/implement-replace-fetch-message-with-partial-message.prompt.md
  .copilot-tracking/research/20260425-03-replace-fetch-message-with-partial-message-research.md
Due: prettier

chore: add Redis ACL key ownership research and planning files
  .copilot-tracking/planning/details/20260421-03-redis-acl-key-ownership-details.md
  .copilot-tracking/planning/plans/20260421-03-redis-acl-key-ownership.plan.md
  .copilot-tracking/planning/prompts/implement-redis-acl-key-ownership.prompt.md
  .copilot-tracking/research/20260421-03-redis-acl-key-ownership-research.md
Due: prettier

feat: wire Redis ACL infrastructure with per-service credentials (Phase 4)
  .copilot-tracking/changes/20260421-03-redis-acl-key-ownership-changes.md
  .copilot-tracking/planning/plans/20260421-03-redis-acl-key-ownership.plan.md
  compose.e2e.yaml
  compose.int.yaml
  compose.yaml
  config.template/env.template
  docker/redis-entrypoint.sh
Due: prettier

chore: remove completed planning files for redis-acl-key-ownership
  .copilot-tracking/planning/details/20260421-03-redis-acl-key-ownership-details.md
  .copilot-tracking/planning/plans/20260421-03-redis-acl-key-ownership.plan.md
  .copilot-tracking/planning/prompts/implement-redis-acl-key-ownership.prompt.md
  .copilot-tracking/research/20260421-03-redis-acl-key-ownership-research.md
Due: prettier

feat: add role filter and pagination fields to game list API (phases 1-2)
  .copilot-tracking/changes/20260425-01-game-list-pagination-changes.md
  .copilot-tracking/planning/plans/20260425-01-game-list-pagination.plan.md
  services/api/routes/games.py
  services/api/services/games.py
  shared/schemas/game.py
  tests/unit/services/api/routes/test_games_endpoint_errors.py
  tests/unit/services/api/routes/test_games_routes.py
  tests/unit/services/api/services/test_games_service.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: add pagination UI to BrowseGames and MyGames (phases 3-4)
  .copilot-tracking/changes/20260425-01-game-list-pagination-changes.md
  .copilot-tracking/planning/plans/20260425-01-game-list-pagination.plan.md
  frontend/src/pages/BrowseGames.tsx
  frontend/src/pages/MyGames.tsx
  frontend/src/pages/__tests__/BrowseGames.test.tsx
  frontend/src/pages/__tests__/MyGames.test.tsx
  frontend/src/types/index.ts
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

fix: refresh full game lists on SSE update in MyGames
  frontend/src/pages/MyGames.tsx
  frontend/src/pages/__tests__/MyGames.test.tsx
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

chore: remove completed planning files for game-list-pagination
  .copilot-tracking/planning/details/20260425-01-game-list-pagination-details.md
  .copilot-tracking/planning/plans/20260425-01-game-list-pagination.plan.md
  .copilot-tracking/planning/prompts/implement-game-list-pagination.prompt.md
  .copilot-tracking/research/20260425-01-game-list-pagination-research.md
Due: prettier

fix: include host-joined games in participant role filter
  services/api/services/games.py
  tests/unit/services/api/services/test_games_service.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

docs: add research notes for Remove Scheduler Service task
  .copilot-tracking/research/20260408-03-remove-scheduler-research.md
Due: prettier

docs: add research notes for zero-assertion test gate (pre-commit)
  .copilot-tracking/research/20260422-02-test-quality-precommit-gate-research.md
Due: prettier

docs: add research notes for unit test quality audit via mutation testing
  .copilot-tracking/research/20260421-01-unit-test-quality-mutation-testing-research.md
Due: prettier

chore: add mutation testing tooling and research
  .gitignore
  pyproject.toml
  scripts/mutmut-logic-survivors.py
Due: autocopyright-python, python-compile, mypy, complexipy, jscpd-generate, jscpd-diff

docs: add research notes for Remove RabbitMQ task
  .copilot-tracking/research/20260408-02-remove-rabbitmq-research.md
Due: prettier

docs: add research notes for per-function mutation testing gate (CI/CD)
  .copilot-tracking/research/20260422-03-test-quality-cicd-mutmut-research.md
Due: prettier

refactor: coalesce member-event projection rebuilds via asyncio.Event worker
  .copilot-tracking/changes/20260426-01-coalesce-member-update-projection-changes.md
  .copilot-tracking/planning/plans/20260426-01-coalesce-member-update-projection.plan.md
  services/bot/bot.py
  services/bot/guild_projection.py
  tests/unit/bot/test_bot_member_event_worker.py
  tests/unit/bot/test_bot_ready.py
  tests/unit/bot/test_guild_projection.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

chore: remove completed planning files for coalesce-member-update-projection
  .copilot-tracking/planning/details/20260426-01-coalesce-member-update-projection-details.md
  .copilot-tracking/planning/plans/20260426-01-coalesce-member-update-projection.plan.md
  .copilot-tracking/planning/prompts/implement-coalesce-member-update-projection.prompt.md
  .copilot-tracking/research/20260426-01-coalesce-member-update-projection-research.md
Due: prettier

fix: preserve newlines in description and signup instructions on GameDetails
  frontend/src/pages/GameDetails.tsx
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

fix(metrics): use unit={member} for members_written gauge and fix dashboard query
  services/bot/guild_projection.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff
