Repository bretmckee/game-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: autocopyright-python, autocopyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-generate, jscpd-diff

Path conditions:
  autocopyright-python: any of: \.py$
  autocopyright-typescript: any of: \.(ts|tsx)$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.css$, \.scss$, \.(md|markdown|mdown)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  python-compile: any of: \.py$
  mypy: any of: \.py$
  pytest-coverage: any of: ^(services|shared|tests)/.*\.py$
  diff-coverage: any of: ^(services|shared|tests)/.*\.py$
  frontend-build: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|html)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  vitest-coverage: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  diff-coverage-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  complexipy: any of: \.py$
  lizard-typescript: any of: ^frontend/src/.*\.(ts|tsx)$
  jscpd-generate: any of: \.py$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  jscpd-diff: any of: \.py$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$

docs: add research notes for unit test quality audit via mutation testing
  .copilot-tracking/research/20260421-01-unit-test-quality-mutation-testing-research.md
Due: prettier

docs: add research notes for Remove Scheduler Service task
  .copilot-tracking/research/20260408-03-remove-scheduler-research.md
Due: prettier

docs: add research notes for zero-assertion test gate (pre-commit)
  .copilot-tracking/research/20260422-02-test-quality-precommit-gate-research.md
Due: prettier

docs: research document for integration test admin_db RLS bypass defect
  .copilot-tracking/research/20260427-01-integration-tests-admin-db-rls-bypass-research.md
Due: prettier

docs: add reminder-schedule consolidation research and plan
  .claude/commands/implement-reminder-schedule-consolidation.md
  .copilot-tracking/planning/details/20260816-01-reminder-schedule-consolidation-details.md
  .copilot-tracking/planning/plans/20260816-01-reminder-schedule-consolidation.plan.md
  .copilot-tracking/research/20260815-02-reminder-schedule-consolidation-research.md
Due: prettier

docs: add research and plan for calendar link improvements
  .claude/commands/implement-calendar-link-improvements.md
  .copilot-tracking/planning/details/20260816-01-calendar-link-improvements-details.md
  .copilot-tracking/planning/plans/20260816-01-calendar-link-improvements.plan.md
  .copilot-tracking/research/20260816-01-calendar-link-improvements-research.md
Due: prettier

chore: remove calendar link improvements tracking files
  .copilot-tracking/changes/20260816-01-calendar-link-improvements-changes.md
  .copilot-tracking/planning/details/20260816-01-calendar-link-improvements-details.md
  .copilot-tracking/planning/plans/20260816-01-calendar-link-improvements.plan.md
  .copilot-tracking/research/20260816-01-calendar-link-improvements-research.md
Due: prettier

feat: Phase 2 - wire Google Calendar link into Discord embed Links field
  .copilot-tracking/changes/20260816-01-calendar-link-improvements-changes.md
  .copilot-tracking/planning/plans/20260816-01-calendar-link-improvements.plan.md
  services/bot/formatters/game_message.py
  tests/e2e/helpers/discord.py
  tests/e2e/test_game_announcement.py
  tests/unit/services/bot/formatters/test_game_message.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: multi-column layout for game card participants/waitlist
  services/bot/formatters/game_message.py
  services/bot/utils/discord_format.py
  tests/e2e/helpers/discord.py
  tests/e2e/test_game_announcement.py
  tests/unit/services/bot/formatters/test_game_message.py
  tests/unit/services/bot/utils/test_discord_format.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: correct calendar link URL pattern in e2e embed check
  tests/e2e/helpers/discord.py
  tests/e2e/test_game_announcement.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: Phase 3 - Redis-backed calendar export token helpers
  .copilot-tracking/changes/20260816-01-calendar-link-improvements-changes.md
  .copilot-tracking/planning/plans/20260816-01-calendar-link-improvements.plan.md
  services/api/auth/tokens.py
  shared/cache/keys.py
  shared/cache/operations.py
  shared/cache/ttl.py
  tests/unit/services/api/auth/test_tokens.py
  tests/unit/shared/cache/test_keys.py
  tests/unit/shared/cache/test_operations.py
  tests/unit/shared/cache/test_ttl.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: Phase 1 - Google Calendar quick-add URL builder
  .copilot-tracking/changes/20260816-01-calendar-link-improvements-changes.md
  .copilot-tracking/planning/plans/20260816-01-calendar-link-improvements.plan.md
  services/bot/utils/discord_format.py
  tests/unit/services/bot/utils/test_discord_format.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: Phase 5 - public unauthenticated .ics calendar export route
  .copilot-tracking/changes/20260816-01-calendar-link-improvements-changes.md
  .copilot-tracking/planning/plans/20260816-01-calendar-link-improvements.plan.md
  services/api/app.py
  services/api/routes/public.py
  tests/integration/services/api/routes/test_public_calendar.py
  tests/unit/services/api/routes/test_public.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: raise participant/waitlist display caps, close max_players update gap
  services/bot/formatters/game_message.py
  shared/schemas/game.py
  tests/integration/test_transaction_atomicity.py
  tests/unit/services/bot/formatters/test_game_message.py
  tests/unit/shared/schemas/test_game_schema.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: Phase 4 - authenticated calendar export mint-token route
  .copilot-tracking/changes/20260816-01-calendar-link-improvements-changes.md
  .copilot-tracking/planning/plans/20260816-01-calendar-link-improvements.plan.md
  services/api/routes/export.py
  shared/schemas/export.py
  tests/unit/services/api/routes/test_export.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: give participants and waitlist matching 3-column rows
  services/bot/formatters/game_message.py
  services/bot/utils/discord_format.py
  tests/e2e/helpers/discord.py
  tests/e2e/test_game_announcement.py
  tests/unit/services/bot/formatters/test_game_message.py
  tests/unit/services/bot/utils/test_discord_format.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: Phase 7 - migrate ExportButton/GameDetails to mint-then-navigate
  .copilot-tracking/changes/20260816-01-calendar-link-improvements-changes.md
  .copilot-tracking/planning/plans/20260816-01-calendar-link-improvements.plan.md
  frontend/src/components/ExportButton.tsx
  frontend/src/components/__tests__/ExportButton.test.tsx
  frontend/src/pages/GameDetails.tsx
  frontend/src/pages/__tests__/GameDetails.calendar_export.test.tsx
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

feat: link waitlist/participant truncation note to game page
  services/bot/formatters/game_message.py
  tests/unit/services/bot/formatters/test_game_message.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: Phase 6 - mint-then-navigate calendar export flow (frontend)
  .copilot-tracking/changes/20260816-01-calendar-link-improvements-changes.md
  .copilot-tracking/planning/plans/20260816-01-calendar-link-improvements.plan.md
  frontend/src/api/calendarExport.ts
  frontend/src/pages/DownloadCalendar.tsx
  frontend/src/pages/__tests__/DownloadCalendar.test.tsx
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

chore: remove join-notification scheduling consolidation tracking files
  .copilot-tracking/changes/20260815-01-join-notification-scheduling-consolidation-changes.md
  .copilot-tracking/planning/details/20260815-01-join-notification-scheduling-consolidation-details.md
  .copilot-tracking/planning/plans/20260815-01-join-notification-scheduling-consolidation.plan.md
  .copilot-tracking/research/20260815-01-join-notification-scheduling-consolidation-research.md
Due: prettier

Harden game embed field packing, shorten labels
  services/bot/formatters/game_message.py
  shared/utils/limits.py
  tests/e2e/helpers/discord.py
  tests/e2e/test_game_announcement.py
  tests/e2e/test_player_removal.py
  tests/e2e/test_user_join.py
  tests/e2e/test_waitlist_promotion.py
  tests/unit/services/bot/formatters/test_game_message.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

Remove dead format_participant_list utility
  services/bot/utils/__init__.py
  services/bot/utils/discord_format.py
  tests/unit/services/bot/utils/test_discord_format.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

Rename Links embed field to Add to Calendar
  services/bot/formatters/game_message.py
  tests/e2e/helpers/discord.py
  tests/e2e/test_game_announcement.py
  tests/unit/services/bot/formatters/test_game_message.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: pin pytest-timeout below broken 2.5.0, freeze test image deps
  docker/test.Dockerfile
  pyproject.toml
  uv.lock
Due: none

Accept Discord thread links/mentions in location text
  services/api/services/channel_resolver.py
  services/bot/bot.py
  tests/unit/bot/test_bot_events.py
  tests/unit/bot/test_bot_ready.py
  tests/unit/services/api/services/test_channel_resolver.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

Bold numbered-list markers to stop Discord auto-list padding
  services/bot/formatters/game_message.py
  tests/e2e/helpers/discord.py
  tests/e2e/test_game_announcement.py
  tests/unit/services/bot/formatters/test_game_message.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: limit game reminder DMs to first waitlisted participant
  services/bot/events/handlers.py
  tests/unit/services/bot/events/test_handlers_game_reminder.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

docs: add research and planning for reminder channel-post delivery
  .claude/commands/implement-reminder-channel-post.md
  .copilot-tracking/planning/details/20260823-01-reminder-channel-post-details.md
  .copilot-tracking/planning/plans/20260823-01-reminder-channel-post.plan.md
  .copilot-tracking/research/20260823-01-reminder-channel-post-research.md
Due: prettier

feat: Phase 1 - location channel resolution helper for reminder delivery
  .copilot-tracking/changes/20260823-01-reminder-channel-post-changes.md
  shared/utils/discord.py
  tests/unit/shared/utils/test_discord_utils.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: Phase 2 - hybrid channel-post reminder delivery with DM fallback
  .copilot-tracking/changes/20260823-01-reminder-channel-post-changes.md
  services/bot/events/handlers.py
  services/bot/formatters/game_message.py
  tests/unit/services/bot/events/test_handlers_game_reminder.py
  tests/unit/services/bot/formatters/test_game_message.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: Phase 3 - rewrite reminder e2e test for hybrid delivery
  .copilot-tracking/changes/20260823-01-reminder-channel-post-changes.md
  .copilot-tracking/planning/plans/20260823-01-reminder-channel-post.plan.md
  tests/e2e/helpers/discord.py
  tests/e2e/test_game_reminder.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

docs: extend reminder channel-post plan with host DM-only opt-out phases
  .claude/config-sync-manifest.json
  .copilot-tracking/planning/details/20260823-01-reminder-channel-post-details.md
  .copilot-tracking/planning/plans/20260823-01-reminder-channel-post.plan.md
  .copilot-tracking/planning/prompts/implement-reminder-channel-post.prompt.md
  .copilot-tracking/research/20260823-01-reminder-channel-post-research.md
Due: prettier

feat: Phase 4 - reminders_as_dms backend flag for host DM-only opt-out
  .copilot-tracking/changes/20260823-01-reminder-channel-post-changes.md
  .copilot-tracking/planning/plans/20260823-01-reminder-channel-post.plan.md
  alembic/versions/07db1045a251_add_reminders_as_dms.py
  services/api/routes/games.py
  services/api/services/games.py
  shared/models/game.py
  shared/schemas/game.py
  shared/services/game_schedules.py
  tests/integration/test_rewards_fields.py
  tests/unit/services/api/services/test_games_service.py
  tests/unit/services/api/services/test_update_game_fields_helpers.py
  tests/unit/services/test_system_clone_for_recurrence.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: compact reminder embed, thread locations, DM-only opt-out short-circuit
  .copilot-tracking/changes/20260823-01-reminder-channel-post-changes.md
  .copilot-tracking/planning/plans/20260823-01-reminder-channel-post.plan.md
  docs/SERVER-ADMIN.md
  services/bot/events/handlers.py
  services/bot/formatters/game_message.py
  tests/e2e/helpers/discord.py
  tests/e2e/test_game_reminder.py
  tests/unit/services/bot/events/test_handlers_game_created.py
  tests/unit/services/bot/events/test_handlers_game_reminder.py
  tests/unit/services/bot/formatters/test_game_message.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: add 'Always send reminders as DMs' checkbox to game forms (Phase 6)
  .copilot-tracking/planning/plans/20260823-01-reminder-channel-post.plan.md
  frontend/src/components/GameForm.tsx
  frontend/src/components/ReminderSelector.tsx
  frontend/src/components/__tests__/GameForm.remindersAsDms.test.tsx
  frontend/src/pages/CreateGame.tsx
  frontend/src/pages/EditGame.tsx
  frontend/src/pages/__tests__/CreateGame.test.tsx
  frontend/src/pages/__tests__/EditGame.archiveBranches.test.tsx
  frontend/src/types/index.ts
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

chore: remove completed reminder-channel-post tracking files
  .claude/commands/implement-reminder-channel-post.md
  .copilot-tracking/planning/plans/20260823-01-reminder-channel-post.plan.md
  .copilot-tracking/planning/prompts/implement-reminder-channel-post.prompt.md
  .copilot-tracking/research/20260823-01-reminder-channel-post-research.md
Due: prettier

test(e2e): cover reminders_as_dms delivery matrix
  tests/e2e/test_game_reminder.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix(devcontainer): make apt install resilient and add tmux
  .devcontainer/Dockerfile
Due: none

feat(devcontainer): install DeepSeek Harness and forward its port
  .devcontainer/devcontainer.json
Due: prettier
