Repository bretmckee/game-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: autocopyright-python, autocopyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-generate, jscpd-diff

Path conditions:
  autocopyright-python: any of: \.py$
  autocopyright-typescript: any of: \.(ts|tsx)$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.css$, \.scss$, \.(md|markdown|mdown)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  python-compile: any of: \.py$
  mypy: any of: \.py$
  pytest-coverage: any of: ^(services|shared|tests)/.*\.py$
  diff-coverage: any of: ^(services|shared|tests)/.*\.py$
  frontend-build: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|html)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  vitest-coverage: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  diff-coverage-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  complexipy: any of: \.py$
  lizard-typescript: any of: ^frontend/src/.*\.(ts|tsx)$
  jscpd-generate: any of: \.py$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  jscpd-diff: any of: \.py$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$

feat(recurring): Phase 3 — implement DMFormats.recurrence_confirmation and RecurrenceConfirmationView
  .copilot-tracking/planning/changes/20260615-01-recurring-games-changes.md
  .copilot-tracking/planning/plans/20260615-01-recurring-games.plan.md
  services/bot/views/recurrence_confirmation_view.py
  shared/message_formats.py
  tests/unit/services/bot/views/test_recurrence_confirmation_view.py
  tests/unit/shared/test_message_formats.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: add recur_rule to game_sessions (Phase 1)
  .copilot-tracking/changes/20260615-01-recurring-games-changes.md
  .copilot-tracking/planning/plans/20260615-01-recurring-games.plan.md
  alembic/versions/20260615_add_recur_rule_game_sessions.py
  services/api/routes/games.py
  services/api/services/games.py
  shared/models/game.py
  shared/schemas/game.py
  tests/unit/services/api/routes/test_games_helpers.py
  tests/unit/services/test_clone_game.py
  user-supremicy.txt
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat(recurring): Phase 6+7 — handler stubs, zombie cancel, recurrence confirmation dispatch
  .copilot-tracking/changes/20260615-01-recurring-games-changes.md
  .copilot-tracking/planning/plans/20260615-01-recurring-games.plan.md
  .copilot-tracking/planning/prompts/implement-recurring-games.prompt.md
  pyproject.toml
  services/bot/events/handlers.py
  tests/unit/bot/events/test_handlers_misc.py
  uv.lock
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat(recurring): Phase 4 — _system_clone_for_recurrence stub + RED unit tests
  .copilot-tracking/changes/20260615-01-recurring-games-changes.md
  .copilot-tracking/planning/plans/20260615-01-recurring-games.plan.md
  services/api/services/games.py
  tests/unit/services/test_system_clone_for_recurrence.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: add test environment with Caddy frontend and dev networking
  compose.test.yaml
Due: none

feat: add Caddy OTLP metrics and tracing for frontend observability
  compose.yaml
  docker/Caddyfile.prod
  docker/Caddyfile.staging
Due: none

refactor(recurring): extract clone_game_for_recurrence into shared.services.game_schedules
  .copilot-tracking/planning/plans/20260615-01-recurring-games.plan.md
  services/api/services/games.py
  services/bot/events/handlers.py
  shared/services/game_schedules.py
  tests/unit/services/test_system_clone_for_recurrence.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: add recurrence UI components for Phase 10
  frontend/src/components/GameForm.tsx
  frontend/src/components/RecurrenceSelector.tsx
  frontend/src/components/__tests__/GameForm.test.tsx
  frontend/src/components/__tests__/RecurrenceSelector.test.tsx
  frontend/src/pages/CreateGame.tsx
  frontend/src/pages/EditGame.tsx
  frontend/src/pages/__tests__/CreateGame.test.tsx
  frontend/src/pages/__tests__/EditGame.archiveBranches.test.tsx
  frontend/src/pages/__tests__/EditGame.test.tsx
  frontend/src/types/index.ts
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

docs(recurring): apply Phase 8/9 addendum corrections to plan and details
  .copilot-tracking/planning/details/20260615-01-recurring-games-details.md
  .copilot-tracking/planning/plans/20260615-01-recurring-games.plan.md
  .copilot-tracking/research/20260615-01-recurring-games-research.md
Due: prettier

fix: delete recurrence confirmation DM after button is processed
  services/bot/views/recurrence_confirmation_view.py
  tests/unit/services/bot/views/test_recurrence_confirmation_view.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: redesign RecurrenceSelector layout and add host docs
  docs/HOST-GUIDE.md
  frontend/src/components/RecurrenceSelector.tsx
  frontend/src/components/__tests__/GameForm.test.tsx
  frontend/src/components/__tests__/RecurrenceSelector.test.tsx
  frontend/src/pages/__tests__/CreateGame.test.tsx
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

feat: Phase 8 - integration tests and clear_post_at fix for recurrence clones
  .copilot-tracking/planning/changes/20260615-01-recurring-games-changes.md
  services/api/services/games.py
  tests/integration/test_recurrence_clone.py
  tests/unit/services/api/services/test_games_service.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: replace render-phase setState in RecurrenceSelector with key-based reset
  frontend/src/components/GameForm.tsx
  frontend/src/components/RecurrenceSelector.tsx
  frontend/src/components/__tests__/RecurrenceSelector.test.tsx
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

fix: wrap setLoading(false) in startTransition to prevent navigation cancellation
  frontend/src/components/GameForm.tsx
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

fix: wire recur_rule and can_manage into create/update/clone game routes
  services/api/routes/games.py
  services/api/services/games.py
  tests/unit/services/api/routes/test_games_endpoint_errors.py
  tests/unit/services/api/routes/test_games_routes.py
  tests/unit/services/api/services/test_update_game_fields_helpers.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: Phase 11 - display_status field and pending confirmation UI
  .copilot-tracking/changes/20260615-01-recurring-games-changes.md
  .copilot-tracking/planning/plans/20260615-01-recurring-games.plan.md
  .copilot-tracking/research/20260615-01-recurring-games-research.md
  frontend/src/components/GameCard.tsx
  frontend/src/components/__tests__/GameCard.test.tsx
  frontend/src/pages/GameDetails.tsx
  frontend/src/pages/__tests__/GameDetails.test.tsx
  frontend/src/types/index.ts
  services/api/routes/games.py
  shared/schemas/game.py
  tests/unit/services/api/test_games_display_status.py
  tests/unit/shared/schemas/test_game_schema.py
Due: autocopyright-python, autocopyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-generate, jscpd-diff

feat: Phase 9 - recurring games e2e tests
  .copilot-tracking/planning/plans/20260615-01-recurring-games.plan.md
  compose.e2e.yaml
  tests/e2e/test_recurring_game.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

plan: add Phase 11 — Pending Confirmation UI for recurring game clones
  .copilot-tracking/planning/details/20260615-01-recurring-games-details.md
  .copilot-tracking/planning/plans/20260615-01-recurring-games.plan.md
  .copilot-tracking/planning/prompts/implement-recurring-games.prompt.md
Due: prettier

fix: recurrence confirmation timezone error and post-restart view loss
  services/bot/bot.py
  services/bot/views/recurrence_confirmation_view.py
  tests/unit/bot/test_bot_ready.py
  tests/unit/services/bot/views/test_recurrence_confirmation_view.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

ci: add staging/develop branch container publishing
  .github/workflows/ci-cd.yml
Due: none

chore: remove recurring-games planning and research artifacts
  .copilot-tracking/planning/details/20260615-01-recurring-games-details.md
  .copilot-tracking/planning/plans/20260615-01-recurring-games.plan.md
  .copilot-tracking/planning/prompts/implement-recurring-games.prompt.md
  .copilot-tracking/research/20260615-01-recurring-games-research.md
Due: prettier

research: recurring games design
  .copilot-tracking/planning/details/20260615-01-recurring-games-details.md
  .copilot-tracking/planning/plans/20260615-01-recurring-games.plan.md
  .copilot-tracking/planning/prompts/implement-recurring-games.prompt.md
  .copilot-tracking/research/20260615-01-recurring-games-research.md
Due: prettier

feat: add recur_rule DM + view stubs and RED tests (Phase 2)
  .copilot-tracking/changes/20260615-01-recurring-games-changes.md
  .copilot-tracking/planning/plans/20260615-01-recurring-games.plan.md
  services/bot/views/recurrence_confirmation_view.py
  shared/message_formats.py
  tests/unit/services/bot/views/test_recurrence_confirmation_view.py
  tests/unit/shared/test_message_formats.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix(frontend): resolve prefix-collision ambiguity by storing resolved Discord ID on suggestion select
  frontend/src/components/EditableParticipantList.tsx
  frontend/src/components/GameForm.tsx
  frontend/src/components/__tests__/EditableParticipantList.test.tsx
  frontend/src/pages/CreateGame.tsx
  frontend/src/pages/EditGame.tsx
  frontend/src/pages/__tests__/CreateGame.test.tsx
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

feat(recurring): Phase 5 — implement _system_clone_for_recurrence GREEN
  .copilot-tracking/changes/20260615-01-recurring-games-changes.md
  .copilot-tracking/planning/plans/20260615-01-recurring-games.plan.md
  services/api/services/games.py
  tests/unit/services/test_system_clone_for_recurrence.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

docs(planner): add commit message template and no-auto-commit rule
  .github/agents/task-planner.agent.md
Due: prettier

refactor: give each noisy logger its own minimum level floor
  shared/utils/logging.py
  tests/unit/shared/utils/test_logging.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix(frontend): render URL locations as clickable links in GameDetails
  frontend/src/pages/GameDetails.tsx
  frontend/src/pages/__tests__/GameDetails.where_display.test.tsx
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

plan: add remove-rabbitmq planning documents
  .copilot-tracking/planning/details/20260704-01-remove-rabbitmq-details.md
  .copilot-tracking/planning/plans/20260704-01-remove-rabbitmq.plan.md
  .copilot-tracking/planning/prompts/implement-remove-rabbitmq.prompt.md
  .copilot-tracking/research/20260408-02-remove-rabbitmq-research.md
Due: prettier

docs: add planning files for remove-scheduler task (20260706-01)
  .copilot-tracking/planning/details/20260706-01-remove-scheduler-details.md
  .copilot-tracking/planning/plans/20260706-01-remove-scheduler.plan.md
  .copilot-tracking/planning/prompts/implement-remove-scheduler.prompt.md
Due: prettier

chore: remove completed remove-rabbitmq planning and research files
  .copilot-tracking/planning/details/20260704-01-remove-rabbitmq-details.md
  .copilot-tracking/planning/plans/20260704-01-remove-rabbitmq.plan.md
  .copilot-tracking/planning/prompts/implement-remove-rabbitmq.prompt.md
  .copilot-tracking/research/20260408-02-remove-rabbitmq-research.md
Due: prettier

feat: Phase 1 — add BotActionQueue model and Alembic migration
  .copilot-tracking/changes/20260704-01-remove-rabbitmq-changes.md
  .copilot-tracking/planning/plans/20260704-01-remove-rabbitmq.plan.md
  alembic/versions/20260704_add_bot_action_queue.py
  shared/models/__init__.py
  shared/models/bot_action_queue.py
  tests/unit/shared/models/test_bot_action_queue.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

chore: suppress complexipy verbose output via failed=true config
  .pre-commit-config.yaml
  pyproject.toml
Due: none

feat: Phase 4 - wire SchedulerLoop into bot.py on_ready
  .copilot-tracking/changes/20260706-01-remove-scheduler-changes.md
  .copilot-tracking/planning/plans/20260706-01-remove-scheduler.plan.md
  services/bot/bot.py
  tests/unit/services/bot/test_bot.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff
