Repository bretmckee/game-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: autocopyright-python, autocopyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-generate, jscpd-diff

Path conditions:
  autocopyright-python: any of: \.py$
  autocopyright-typescript: any of: \.(ts|tsx)$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.css$, \.scss$, \.(md|markdown|mdown)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  python-compile: any of: \.py$
  mypy: any of: \.py$
  pytest-coverage: any of: ^(services|shared|tests)/.*\.py$
  diff-coverage: any of: ^(services|shared|tests)/.*\.py$
  frontend-build: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|html)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  vitest-coverage: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  diff-coverage-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  complexipy: any of: \.py$
  lizard-typescript: any of: ^frontend/src/.*\.(ts|tsx)$
  jscpd-generate: any of: \.py$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  jscpd-diff: any of: \.py$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$

Update Discord webhook plan to follow corrected TDD methodology
  .copilot-tracking/details/20260214-01-discord-webhook-events-automatic-sync-details.md
  .copilot-tracking/plans/20260214-01-discord-webhook-events-automatic-sync.plan.md
Due: prettier

Add pre-commit hook to validate copyright headers
  .copilot-tracking/changes/20260215-01-copyright-validation-precommit-changes.md
  .copilot-tracking/plans/20260215-01-copyright-validation-precommit.plan.md
  .copilot-tracking/prompts/implement-copyright-validation-precommit.prompt.md
  .gitignore
  .pre-commit-config.yaml
  docker/test.Dockerfile
  scripts/check-copyright-precommit.sh
  scripts/check-copyright.py
  scripts/generate-copyright-references.sh
  tests/unit/test_check_copyright.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

refactor: simplify guild sync architecture - bot owns its startup sync
  .copilot-tracking/details/20260214-01-discord-webhook-events-automatic-sync-details.md
  .copilot-tracking/plans/20260214-01-discord-webhook-events-automatic-sync.plan.md
  .copilot-tracking/research/20260214-01-discord-webhook-events-automatic-sync-research.md
Due: prettier

Fix TDD methodology: use xfail/failing markers instead of expecting NotImplementedError
  .github/agents/task-planner.agent.md
  .github/agents/task-researcher.agent.md
  .github/instructions/coding-best-practices.instructions.md
  .github/instructions/integration-tests.instructions.md
  .github/instructions/python.instructions.md
  .github/instructions/reactjs.instructions.md
  .github/instructions/task-implementation.instructions.md
  .github/instructions/test-driven-development.instructions.md
  .github/instructions/typescript-5-es2022.instructions.md
Due: prettier

feat: implement Discord webhook Ed25519 signature validation
  .copilot-tracking/changes/20260214-01-discord-webhook-events-automatic-sync-changes.md
  .copilot-tracking/plans/20260214-01-discord-webhook-events-automatic-sync.plan.md
  services/api/dependencies/__init__.py
  services/api/dependencies/discord_webhook.py
  tests/services/api/dependencies/test_discord_webhook.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

Add planning and research for copyright validation pre-commit hook
  .copilot-tracking/details/20260215-01-copyright-validation-precommit-details.md
  .copilot-tracking/plans/20260215-01-copyright-validation-precommit.plan.md
  .copilot-tracking/prompts/implement-copyright-validation-precommit.prompt.md
  .copilot-tracking/research/20260215-01-copyright-validation-precommit-research.md
Due: prettier

feat: Add E2E test for bot startup guild sync with pytest-order
  .copilot-tracking/changes/20260214-01-discord-webhook-events-automatic-sync-changes.md
  .copilot-tracking/plans/20260214-01-discord-webhook-events-automatic-sync.plan.md
  .copilot-tracking/research/20260214-01-discord-webhook-events-automatic-sync-research.md
  compose.e2e.yaml
  compose.yaml
  docker/bot.Dockerfile
  pyproject.toml
  services/api/routes/channels.py
  services/api/services/guild_service.py
  services/bot/bot.py
  services/bot/guild_sync.py
  shared/data_access/guild_queries.py
  tests/e2e/conftest.py
  tests/e2e/test_00_bot_startup_sync.py
  tests/services/api/routes/test_channels.py
  tests/services/api/services/test_guild_service.py
  tests/services/bot/test_guild_sync.py
  uv.lock
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

chore: Remove guild sync e2e test coverage tracking files
  .copilot-tracking/details/20260201-guild-sync-e2e-test-coverage-details.md
  .copilot-tracking/plans/20260201-guild-sync-e2e-test-coverage-plan.instructions.md
  .copilot-tracking/prompts/implement-guild-sync-e2e-test-coverage.prompt.md
  .copilot-tracking/research/20260201-guild-sync-e2e-test-coverage-research.md
Due: prettier

Add autocopyright official repository migration planning files
  .copilot-tracking/details/20260204-autocopyright-official-repository-migration-details.md
  .copilot-tracking/plans/20260204-autocopyright-official-repository-migration-plan.instructions.md
  .copilot-tracking/prompts/implement-autocopyright-official-repository-migration.prompt.md
  .copilot-tracking/research/20260204-autocopyright-precommit-direct-integration-research.md
Due: prettier

Remove unused root conftest.py and test_oauth.py
  conftest.py
  docs/developer/TESTING.md
  pyproject.toml
  test_oauth.py
Due: autocopyright-python, prettier, python-compile, mypy, complexipy, jscpd-generate, jscpd-diff

Fix TDD workflow in game form validation task plan
  .copilot-tracking/details/20260207-01-game-form-validation-details.md
  .copilot-tracking/plans/20260207-01-game-form-validation-plan.instructions.md
  .copilot-tracking/research/20260207-01-game-form-validation-research.md
Due: prettier

Add DurationSelector component with TDD
  .copilot-tracking/changes/20260207-01-game-form-validation-changes.md
  .copilot-tracking/plans/20260207-01-game-form-validation-plan.instructions.md
  frontend/src/components/DurationSelector.tsx
  frontend/src/components/__tests__/DurationSelector.test.tsx
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

Remove deprecated authenticated image endpoints
  .copilot-tracking/changes/20260207-02-public-image-endpoints-changes.md
  .copilot-tracking/plans/20260207-02-public-image-endpoints-plan.instructions.md
  .copilot-tracking/prompts/implement-public-image-endpoints.prompt.md
  docs/developer/README.md
  docs/developer/public-image-architecture.md
  services/api/routes/games.py
  tests/services/api/routes/conftest.py
  tests/services/api/routes/test_games_image_serving.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: add updated_channels to sync response and filter inactive channels
  .copilot-tracking/changes/20260205-channel-sync-via-guild-sync-button-changes.md
  .copilot-tracking/plans/20260205-channel-lazy-loading-guild-setup-plan.instructions.md
  .copilot-tracking/plans/20260205-channel-sync-via-guild-sync-button-plan.instructions.md
  services/api/routes/guilds.py
  shared/schemas/guild.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

Add research and planning for secure public image architecture
  .copilot-tracking/details/20260207-02-public-image-endpoints-details.md
  .copilot-tracking/plans/20260207-02-public-image-endpoints-plan.instructions.md
  .copilot-tracking/prompts/implement-public-image-endpoints.prompt.md
  .copilot-tracking/research/20260207-02-public-image-endpoints-research.md
Due: prettier

Add ReminderSelector component with chip UI (Phase 0)
  .copilot-tracking/changes/20260208-01-reminder-time-selector-changes.md
  .copilot-tracking/plans/20260208-01-reminder-time-selector-plan.instructions.md
  frontend/src/components/ReminderSelector.tsx
  frontend/src/components/__tests__/ReminderSelector.test.tsx
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

feat: complete game form validation implementation
  .copilot-tracking/changes/20260207-01-game-form-validation-changes.md
  .copilot-tracking/plans/20260207-01-game-form-validation-plan.instructions.md
  .copilot-tracking/prompts/implement-game-form-validation.prompt.md
  frontend/src/components/GameForm.tsx
  frontend/src/components/__tests__/GameForm.error-handling.test.tsx
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

Fix TDD instructions to write tests for actual behavior, not NotImplementedError
  .github/instructions/test-driven-development.instructions.md
Due: prettier

Fix SSE real-time sync with BYPASSRLS and keepalive detection
  .copilot-tracking/changes/20260205-01-web-join-game-ux-changes.md
  .copilot-tracking/plans/20260205-01-web-join-game-ux-plan.instructions.md
  .copilot-tracking/prompts/implement-web-join-game-ux.prompt.md
  compose.yaml
  docker/frontend-nginx.conf
  frontend/src/components/GameCard.tsx
  frontend/src/components/__tests__/GameCard.test.tsx
  frontend/src/hooks/__tests__/useGameUpdates.test.ts
  frontend/src/hooks/useGameUpdates.ts
  services/api/routes/sse.py
  services/api/services/games.py
  services/api/services/sse_bridge.py
  services/bot/events/handlers.py
  services/bot/handlers/join_game.py
  services/bot/handlers/leave_game.py
  shared/database.py
  tests/services/api/services/conftest.py
  tests/services/api/services/test_games.py
  tests/services/api/services/test_sse_bridge.py
  tests/services/bot/events/test_handlers.py
Due: autocopyright-python, autocopyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-generate, jscpd-diff

Integrate Test-Driven Development (TDD) methodology across instruction system
  .github/chatmodes/task-planner.chatmode.md
  .github/instructions/coding-best-practices.instructions.md
  .github/instructions/integration-tests.instructions.md
  .github/instructions/python.instructions.md
  .github/instructions/reactjs.instructions.md
  .github/instructions/task-implementation.instructions.md
  .github/instructions/test-driven-development.instructions.md
  .github/instructions/typescript-5-es2022.instructions.md
Due: prettier

Add autocopyright wrapper for extensionless shell scripts
  .pre-commit-config.yaml
  docker/api-entrypoint.sh
  docker/bot-entrypoint.sh
  docker/frontend-entrypoint.sh
  frontend/vite.config.ts
  frontend/vitest.config.ts
  scripts/autocopyright-wrapper.sh
  scripts/check_commit_duplicates.py
  scripts/data_migration_create_default_templates.py
  scripts/init_rabbitmq.py
  scripts/verify_button_states.py
Due: autocopyright-python, autocopyright-typescript, prettier, eslint, python-compile, mypy, frontend-build, typescript, diff-coverage-frontend, complexipy, jscpd-generate, jscpd-diff

Add copyright headers to shell scripts
  .pre-commit-config.yaml
  scripts/coverage-report.sh
  scripts/generate_trace_record.sh
  scripts/migrate_postgres_15_to_17.sh
  scripts/run-e2e-tests.sh
  scripts/run-integration-tests.sh
  scripts/show_trace_counts.sh
Due: none

feat: extend sync_user_guilds to refresh channels for existing guilds
  .copilot-tracking/changes/20260205-channel-sync-via-guild-sync-button-changes.md
  .copilot-tracking/plans/20260205-channel-sync-via-guild-sync-button-plan.instructions.md
  services/api/services/guild_service.py
  tests/services/api/services/test_guild_service.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: ensure pytest-timeout plugin loads in coverage-report.sh
  scripts/coverage-report.sh
Due: none

Add test randomization with pytest-randomly and Vitest shuffle
  frontend/vitest.config.ts
  pyproject.toml
  tests/integration/services/api/routes/test_public_images.py
  tests/integration/services/api/routes/test_public_images_rate_limit.py
  uv.lock
Due: autocopyright-python, autocopyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, diff-coverage-frontend, complexipy, jscpd-generate, jscpd-diff

Complete ReminderSelector implementation (Phase 3: Cleanup)
  .copilot-tracking/changes/20260208-01-reminder-time-selector-changes.md
  .copilot-tracking/plans/20260208-01-reminder-time-selector-plan.instructions.md
  .copilot-tracking/prompts/implement-reminder-time-selector.prompt.md
  frontend/src/utils/__tests__/fieldValidation.test.ts
  frontend/src/utils/fieldValidation.ts
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

Add backend template schema max_length constraints
  .copilot-tracking/changes/20260207-01-game-form-validation-changes.md
  .copilot-tracking/plans/20260207-01-game-form-validation-plan.instructions.md
  shared/schemas/template.py
  tests/integration/test_template_creation.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: implement guild-based routing for game.updated events
  .copilot-tracking/changes/20260205-01-web-join-game-ux-changes.md
  .copilot-tracking/plans/20260205-01-web-join-game-ux-plan.instructions.md
  services/api/services/games.py
  services/bot/events/publisher.py
  services/bot/handlers/join_game.py
  services/bot/handlers/leave_game.py
  shared/messaging/infrastructure.py
  tests/services/bot/events/test_publisher.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

Fix SSE integration test flakiness and add comprehensive test coverage
  .copilot-tracking/changes/20260205-01-web-join-game-ux-changes.md
  services/api/routes/sse.py
  services/api/services/sse_bridge.py
  shared/messaging/publisher.py
  tests/integration/test_sse_bridge.py
  tests/unit/services/api/services/test_sse_bridge.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

Add planning files for reminder time selector component
  .copilot-tracking/details/20260208-01-reminder-time-selector-details.md
  .copilot-tracking/plans/20260208-01-reminder-time-selector-plan.instructions.md
  .copilot-tracking/prompts/implement-reminder-time-selector.prompt.md
  .copilot-tracking/research/20260208-01-reminder-time-selector-research.md
Due: prettier

Implement image storage service with SHA256 deduplication (Phase 1)
  .copilot-tracking/changes/20260207-02-public-image-endpoints-changes.md
  .copilot-tracking/plans/20260207-02-public-image-endpoints-plan.instructions.md
  shared/models/game_image.py
  shared/services/__init__.py
  shared/services/image_storage.py
  tests/integration/shared/__init__.py
  tests/integration/shared/services/__init__.py
  tests/integration/shared/services/test_image_storage.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

Align test timeout settings with pre-commit hooks
  frontend/vitest.config.ts
  pyproject.toml
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, diff-coverage-frontend, jscpd-generate, jscpd-diff
