Repository bretmckee/game-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: autocopyright-python, autocopyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-generate, jscpd-diff

Path conditions:
  autocopyright-python: any of: \.py$
  autocopyright-typescript: any of: \.(ts|tsx)$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.css$, \.scss$, \.(md|markdown|mdown)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  python-compile: any of: \.py$
  mypy: any of: \.py$
  pytest-coverage: any of: ^(services|shared|tests)/.*\.py$
  diff-coverage: any of: ^(services|shared|tests)/.*\.py$
  frontend-build: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|html)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  vitest-coverage: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  diff-coverage-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  complexipy: any of: \.py$
  lizard-typescript: any of: ^frontend/src/.*\.(ts|tsx)$
  jscpd-generate: any of: \.py$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  jscpd-diff: any of: \.py$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$

fix(channel-resolver): accept emoji/Unicode names and <#id> tokens
  .copilot-tracking/planning/changes/20260401-01-channel-recognition-bugs-changes.md
  .copilot-tracking/planning/plans/20260401-01-channel-recognition-bugs.plan.md
  services/api/services/channel_resolver.py
  tests/unit/services/api/services/test_channel_resolver.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: reduce frontend test flakiness and noise
  frontend/src/hooks/__tests__/useGameUpdates.test.ts
  frontend/src/test/setup.ts
  frontend/vitest.config.ts
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

fix: add channel resolver to update_game edit path
  .copilot-tracking/planning/changes/20260401-01-channel-recognition-bugs-changes.md
  .copilot-tracking/planning/plans/20260401-01-channel-recognition-bugs.plan.md
  services/api/services/games.py
  tests/unit/services/api/services/test_games_service.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: add channel 422 handling to EditGame matching CreateGame
  .copilot-tracking/planning/changes/20260401-01-channel-recognition-bugs-changes.md
  .copilot-tracking/planning/plans/20260401-01-channel-recognition-bugs.plan.md
  frontend/src/pages/EditGame.tsx
  frontend/src/pages/__tests__/EditGame.test.tsx
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

chore: increase Docker log retention to 50m x 5 files
  compose.yaml
Due: none

Remove accidentally added config symlink
  config
Due: none

feat: add jump link and dual Hammertime to reminder DMs
  services/bot/events/handlers.py
  shared/message_formats.py
  tests/e2e/helpers/discord.py
  tests/unit/services/bot/events/test_handlers.py
  tests/unit/shared/test_message_formats.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

plan: add playwright browser e2e planning files
  .copilot-tracking/planning/details/20260402-01-playwright-browser-e2e-details.md
  .copilot-tracking/planning/plans/20260402-01-playwright-browser-e2e.plan.md
  .copilot-tracking/planning/prompts/implement-playwright-browser-e2e.prompt.md
  .copilot-tracking/research/20260402-01-playwright-browser-e2e-research.md
Due: prettier

refactor: reduce cognitive complexity of _get_added_lines
  scripts/check_lint_suppressions.py
Due: autocopyright-python, python-compile, mypy, complexipy, jscpd-generate, jscpd-diff

feat: add --compare-branch to check_commit_duplicates.py
  .copilot-tracking/planning/changes/20260329-01-github-actions-ci-cd-changes.md
  .copilot-tracking/planning/plans/20260329-01-github-actions-ci-cd.plan.md
  pyproject.toml
  scripts/check_commit_duplicates.py
  tests/unit/scripts/test_check_commit_duplicates.py
  uv.lock
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

docs: document running published images locally
  Makefile
  docs/developer/SETUP.md
Due: prettier

fix: correct retry-daemon remote image name in publish step
  .github/workflows/ci-cd.yml
Due: none

chore: mount uv and npm caches in dev container
  .devcontainer/devcontainer.json
Due: prettier

feat(bot): add embed deletion detection and startup sweep
  .copilot-tracking/planning/changes/20260402-01-embed-deletion-detection-changes.md
  .copilot-tracking/planning/plans/20260402-01-embed-deletion-detection.plan.md
  services/bot/bot.py
  services/bot/events/publisher.py
  tests/unit/services/api/services/test_embed_deletion_consumer.py
  tests/unit/services/bot/events/test_publisher.py
  tests/unit/services/bot/test_bot.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: add EMBED_DELETED consumer and extract _delete_game_internal (Phase 2)
  .copilot-tracking/planning/changes/20260402-01-embed-deletion-detection-changes.md
  .copilot-tracking/planning/plans/20260402-01-embed-deletion-detection.plan.md
  services/api/app.py
  services/api/services/embed_deletion_consumer.py
  services/api/services/games.py
  tests/unit/services/api/services/test_embed_deletion_consumer.py
  tests/unit/services/api/services/test_games_service.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

chore: remove completed embed-deletion-detection tracking files
  .copilot-tracking/planning/details/20260402-01-embed-deletion-detection-details.md
  .copilot-tracking/planning/plans/20260402-01-embed-deletion-detection.plan.md
  .copilot-tracking/planning/prompts/implement-embed-deletion-detection.prompt.md
  .copilot-tracking/research/20260402-01-embed-deletion-detection-research.md
Due: prettier

feat: add Alembic migration for game_sessions.message_id index
  .copilot-tracking/changes/20260402-01-embed-deletion-detection-changes.md
  .copilot-tracking/planning/plans/20260402-01-embed-deletion-detection.plan.md
  alembic/versions/fd0d4f43e53a_add_message_id_index.py
Due: autocopyright-python, prettier, python-compile, mypy, complexipy, jscpd-generate, jscpd-diff

ci: pin uv version via UV_VERSION workflow variable
  .github/workflows/ci-cd.yml
Due: none

refactor: replace fetch_channel with get_channel in _validate_discord_channel
  .copilot-tracking/planning/changes/20260411-01-gateway-cache-enhancement-changes.md
  .copilot-tracking/planning/plans/20260411-01-gateway-cache-enhancement.plan.md
  services/bot/events/handlers.py
  tests/unit/bot/events/test_handlers_lifecycle_events.py
  tests/unit/services/bot/events/test_handlers.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: correct _make_api_request guard and remove TTLs for gateway-maintained keys
  .copilot-tracking/planning/changes/20260411-01-gateway-cache-enhancement-changes.md
  .copilot-tracking/planning/plans/20260411-01-gateway-cache-enhancement.plan.md
  shared/cache/ttl.py
  shared/discord/client.py
  tests/unit/shared/discord/test_discord_api_client.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: add Redis caching for get_guild_member and wire role_checker to use it
  .copilot-tracking/planning/changes/20260411-01-gateway-cache-enhancement-changes.md
  .copilot-tracking/planning/plans/20260411-01-gateway-cache-enhancement.plan.md
  services/bot/auth/role_checker.py
  shared/cache/keys.py
  shared/cache/ttl.py
  shared/discord/client.py
  tests/unit/services/bot/auth/test_role_checker.py
  tests/unit/shared/discord/test_discord_api_client.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: add e2e tests for gateway cache population at startup
  .copilot-tracking/planning/changes/20260411-01-gateway-cache-enhancement-changes.md
  .copilot-tracking/planning/plans/20260411-01-gateway-cache-enhancement.plan.md
  tests/e2e/test_gateway_cache_e2e.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: use per-test RedisClient fixture in test_gateway_cache_e2e.py
  services/bot/bot.py
  tests/e2e/test_gateway_cache_e2e.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

chore: remove completed gateway cache enhancement planning artifacts
  .copilot-tracking/planning/details/20260411-01-gateway-cache-enhancement-details.md
  .copilot-tracking/planning/plans/20260411-01-gateway-cache-enhancement.plan.md
  .copilot-tracking/planning/prompts/implement-gateway-cache-enhancement.prompt.md
  .copilot-tracking/research/20260410-01-gateway-cache-enhancement-research.md
Due: prettier

fix: filter import-only duplicates in jscpd-diff check
  scripts/check_commit_duplicates.py
Due: autocopyright-python, python-compile, mypy, complexipy, jscpd-generate, jscpd-diff

chore: remove completed cache-metrics-and-wrappers tracking files
  .copilot-tracking/changes/20260411-02-cache-metrics-and-wrappers-changes.md
  .copilot-tracking/planning/details/20260411-02-cache-metrics-and-wrappers-details.md
  .copilot-tracking/planning/plans/20260411-02-cache-metrics-and-wrappers.plan.md
  .copilot-tracking/planning/prompts/implement-cache-metrics-and-wrappers.prompt.md
  .copilot-tracking/research/20260411-02-cache-metrics-and-wrappers-research.md
Due: prettier

fix: rewrite guild channel/role list cache in gateway event handlers
  services/bot/bot.py
  tests/unit/bot/test_bot_events.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: add CacheOperation StrEnum and cache_get helper
  .copilot-tracking/changes/20260411-02-cache-metrics-and-wrappers-changes.md
  .copilot-tracking/planning/plans/20260411-02-cache-metrics-and-wrappers.plan.md
  shared/cache/operations.py
  tests/unit/scripts/test_check_lint_suppressions.py
  tests/unit/shared/cache/test_operations.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

ci: skip all jobs on tag pushes from forks
  .github/workflows/ci-cd.yml
Due: none

plan: add backup and restore planning files
  .copilot-tracking/planning/details/20260408-01-backup-restore-details.md
  .copilot-tracking/planning/plans/20260408-01-backup-restore.plan.md
  .copilot-tracking/planning/prompts/implement-backup-restore.prompt.md
  .copilot-tracking/research/20260408-01-backup-restore-research.md
Due: prettier
