Repository bretmckee/game-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: autocopyright-python, autocopyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-generate, jscpd-diff

Path conditions:
  autocopyright-python: any of: \.py$
  autocopyright-typescript: any of: \.(ts|tsx)$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.css$, \.scss$, \.(md|markdown|mdown)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  python-compile: any of: \.py$
  mypy: any of: \.py$
  pytest-coverage: any of: ^(services|shared|tests)/.*\.py$
  diff-coverage: any of: ^(services|shared|tests)/.*\.py$
  frontend-build: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|html)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  vitest-coverage: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  diff-coverage-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  complexipy: any of: \.py$
  lizard-typescript: any of: ^frontend/src/.*\.(ts|tsx)$
  jscpd-generate: any of: \.py$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  jscpd-diff: any of: \.py$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$

feat: add INIT_ROLES_ONLY flag to init service
  .copilot-tracking/planning/changes/20260408-01-backup-restore-changes.md
  .copilot-tracking/planning/plans/20260408-01-backup-restore.plan.md
  services/init/main.py
  tests/unit/services/init/test_main_roles_only.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: add backup/restore pipeline with e2e tests
  .copilot-tracking/planning/plans/20260408-01-backup-restore.plan.md
  compose.e2e.yaml
  docker/backup-entrypoint.sh
  docker/backup-script.sh
  docker/backup.Dockerfile
  docker/restore-script.sh
  scripts/backup-now.sh
  scripts/run-backup-tests.sh
  services/init/main.py
  tests/backup/conftest.py
  tests/backup/test_backup_create_game_b.py
  tests/unit/services/init/test_main_roles_only.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: add backup image to cicd tagged build and push
  .github/workflows/ci-cd.yml
Due: none

feat: parameterize global_max in rate limit infrastructure
  .copilot-tracking/changes/20260413-01-discord-member-fetch-performance-changes.md
  .copilot-tracking/planning/plans/20260413-01-discord-member-fetch-performance.plan.md
  shared/cache/client.py
  shared/discord/client.py
  tests/unit/shared/cache/test_claim_global_and_channel_slot.py
  tests/unit/shared/discord/test_discord_api_client.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: add Discord rate limit budget constants
  .copilot-tracking/changes/20260413-01-discord-member-fetch-performance-changes.md
  .copilot-tracking/planning/plans/20260413-01-discord-member-fetch-performance.plan.md
  shared/cache/ttl.py
  tests/unit/shared/cache/test_rate_limit_constants.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

research: Discord member fetch performance improvements
  .copilot-tracking/planning/details/20260413-01-discord-member-fetch-performance-details.md
  .copilot-tracking/planning/plans/20260413-01-discord-member-fetch-performance.plan.md
  .copilot-tracking/planning/prompts/implement-discord-member-fetch-performance.prompt.md
  .copilot-tracking/research/20260413-01-discord-member-fetch-performance-research.md
Due: prettier

feat: add OTel metrics for Discord member batch fetches
  config.template/grafana-alloy/dashboards/cache-metrics-dashboard.json
  shared/discord/client.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: thread global_max and parallelize Discord member batch fetch
  .copilot-tracking/changes/20260413-01-discord-member-fetch-performance-changes.md
  .copilot-tracking/planning/plans/20260413-01-discord-member-fetch-performance.plan.md
  shared/discord/client.py
  tests/unit/shared/discord/test_discord_api_client.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

perf: parallel host fetch and prefetched display data in list_games
  .copilot-tracking/changes/20260413-01-discord-member-fetch-performance-changes.md
  .copilot-tracking/planning/plans/20260413-01-discord-member-fetch-performance.plan.md
  services/api/routes/games.py
  tests/unit/services/api/routes/test_games_helpers.py
  tests/unit/services/api/routes/test_games_routes.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: add UserDisplayName model and migration
  alembic/versions/20260414_add_user_display_names.py
  shared/models/__init__.py
  shared/models/user_display_name.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: add UserDisplayNameService with DB-backed display name cache
  services/api/services/user_display_names.py
  tests/unit/services/api/services/test_user_display_names.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: wire UserDisplayNameService into games API routes (phase 5)
  services/api/routes/games.py
  tests/unit/services/api/routes/test_games_endpoint_errors.py
  tests/unit/services/api/routes/test_games_routes.py
  tests/unit/services/api/services/test_user_display_names.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: remove redundant Redis display_name_avatar cache layer (phase 7)
  services/api/services/display_names.py
  shared/cache/keys.py
  shared/cache/operations.py
  tests/unit/services/api/services/test_avatar_resolver.py
  tests/unit/services/api/services/test_display_names.py
  tests/unit/shared/cache/test_operations.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: move UserDisplayNameService to shared so bot can import it
  services/api/services/user_display_names.py
  services/bot/handlers/utils.py
  shared/services/user_display_names.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: replace sentinel-key workaround in claim_global_slot with dedicated Lua script
  shared/cache/client.py
  tests/unit/shared/cache/test_claim_global_and_channel_slot.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

perf: pre-populate user_roles cache from login member data
  services/api/services/login_refresh.py
  tests/unit/services/api/routes/test_auth_routes.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

Fix unit tests: consolidate Redis fixtures to shared conftest
  .copilot-tracking/changes/20260418-01-gateway-intent-redis-projection-changes.md
  .copilot-tracking/planning/plans/20260418-01-gateway-intent-redis-projection.plan.md
  services/api/dependencies/permissions.py
  services/api/routes/guilds.py
  services/api/services/member_projection.py
  services/bot/guild_projection.py
  shared/cache/keys.py
  tests/unit/services/api/conftest.py
  tests/unit/services/api/dependencies/test_api_permissions.py
  tests/unit/services/api/dependencies/test_permissions_migration.py
  tests/unit/services/api/routes/test_guilds_routes.py
  tests/unit/services/api/test_negative_authorization.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

Add CLAUDE.md instruction file index
  CLAUDE.md
Due: prettier

docs: expand runner pattern comments in test scripts
  scripts/run-e2e-tests.sh
  scripts/run-integration-tests.sh
Due: none

chore: remove completed persistent display name cache tracking files
  .copilot-tracking/planning/details/20260414-01-persistent-display-name-cache-details.md
  .copilot-tracking/planning/plans/20260414-01-persistent-display-name-cache.plan.md
  .copilot-tracking/planning/prompts/implement-persistent-display-name-cache.prompt.md
  .copilot-tracking/research/20260414-01-persistent-display-name-cache-research.md
Due: prettier

Fix integration tests: seed Redis projection keys for bot freshness checks
  tests/conftest.py
  tests/integration/conftest.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

Phase 2: Bot-side writer for Discord member projection
  .copilot-tracking/changes/20260418-01-gateway-intent-redis-projection-changes.md
  .copilot-tracking/planning/plans/20260418-01-gateway-intent-redis-projection.plan.md
  services/bot/bot.py
  services/bot/guild_projection.py
  tests/unit/bot/test_bot_ready.py
  tests/unit/bot/test_guild_projection.py
  tests/unit/services/bot/test_bot.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

test: fix Redis singleton stale event loop in game image integration tests
  pyproject.toml
  tests/conftest.py
  uv.lock
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

Phase 3: API-side projection reader with gen-rotation retry
  .copilot-tracking/changes/20260418-01-gateway-intent-redis-projection-changes.md
  .copilot-tracking/planning/plans/20260418-01-gateway-intent-redis-projection.plan.md
  services/api/services/member_projection.py
  tests/unit/api/services/test_member_projection.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

Implement gateway intent Redis projection for bot-to-API member data
  .copilot-tracking/changes/20260418-01-gateway-intent-redis-projection-changes.md
  .copilot-tracking/planning/plans/20260418-01-gateway-intent-redis-projection.plan.md
  scripts/run-e2e-tests.sh
  scripts/run-integration-tests.sh
  services/api/dependencies/permissions.py
  services/api/routes/auth.py
  services/api/routes/games.py
  services/api/services/display_names.py
  services/api/services/login_refresh.py
  services/bot/auth/role_checker.py
  services/bot/guild_projection.py
  shared/cache/operations.py
  shared/cache/projection.py
  tests/unit/api/services/test_login_refresh.py
  tests/unit/bot/test_guild_projection.py
  tests/unit/services/api/routes/test_auth_routes.py
  tests/unit/services/api/routes/test_games_endpoint_errors.py
  tests/unit/services/api/routes/test_games_routes.py
  tests/unit/services/api/services/test_avatar_resolver.py
  tests/unit/services/api/services/test_display_names.py
  tests/unit/services/bot/auth/test_role_checker.py
  tests/unit/shared/cache/test_projection.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

plan: add Phases 6–9 for remaining REST call elimination
  .copilot-tracking/planning/details/20260418-01-gateway-intent-redis-projection-details.md
  .copilot-tracking/planning/plans/20260418-01-gateway-intent-redis-projection.plan.md
  .copilot-tracking/planning/prompts/implement-gateway-intent-redis-projection.prompt.md
  .copilot-tracking/research/20260418-01-gateway-intent-redis-projection-research.md
Due: prettier

Phase 1: Enable GUILD_MEMBERS intent and add projection key constants
  .copilot-tracking/changes/20260418-01-gateway-intent-redis-projection-changes.md
  .copilot-tracking/planning/plans/20260418-01-gateway-intent-redis-projection.plan.md
  services/bot/bot.py
  shared/cache/keys.py
  tests/unit/shared/cache/test_keys.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: repair 8 e2e test failures caused by gateway-only cache changes
  services/api/services/games.py
  services/bot/bot.py
  tests/e2e/test_guild_sync_e2e.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

chore: add bot REST API elimination research and planning
  .copilot-tracking/planning/details/20260421-02-bot-rest-api-elimination-details.md
  .copilot-tracking/planning/plans/20260421-02-bot-rest-api-elimination.plan.md
  .copilot-tracking/planning/prompts/implement-bot-rest-api-elimination.prompt.md
  .copilot-tracking/research/20260421-02-bot-rest-api-elimination-research.md
Due: prettier

feat(bot): add gateway-aware guild sync functions to guild_sync.py
  .copilot-tracking/changes/20260421-02-bot-rest-api-elimination-changes.md
  .copilot-tracking/planning/plans/20260421-02-bot-rest-api-elimination.plan.md
  services/bot/guild_sync.py
  tests/unit/services/bot/test_guild_sync.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat(bot): eliminate REST calls from bot.py startup, join, and sweep worker
  .copilot-tracking/changes/20260421-02-bot-rest-api-elimination-changes.md
  .copilot-tracking/planning/plans/20260421-02-bot-rest-api-elimination.plan.md
  services/bot/bot.py
  tests/unit/bot/test_bot_ready.py
  tests/unit/services/bot/test_bot.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

plan: discord REST elimination phase 2
  .copilot-tracking/planning/details/20260422-01-discord-rest-elimination-phase2-details.md
  .copilot-tracking/planning/plans/20260422-01-discord-rest-elimination-phase2.plan.md
  .copilot-tracking/planning/prompts/implement-discord-rest-elimination-phase2.prompt.md
  .copilot-tracking/research/20260422-01-discord-rest-elimination-phase2-research.md
Due: prettier

fix: store owner_id in guild cache; grant guild owners bot manager permission
  .copilot-tracking/changes/20260422-01-discord-rest-elimination-phase2-changes.md
  .copilot-tracking/planning/plans/20260422-01-discord-rest-elimination-phase2.plan.md
  frontend/src/pages/GuildListPage.tsx
  frontend/src/pages/__tests__/GuildListPage.test.tsx
  frontend/src/types/index.ts
  services/api/auth/roles.py
  services/api/database/queries.py
  services/api/routes/auth.py
  services/api/routes/guilds.py
  services/api/services/sse_bridge.py
  services/bot/bot.py
  services/bot/handlers/participant_drop.py
  services/bot/utils/discord_format.py
  shared/schemas/auth.py
  tests/unit/bot/handlers/test_participant_drop_handler.py
  tests/unit/bot/test_bot_ready.py
  tests/unit/services/api/auth/test_roles.py
  tests/unit/services/api/database/test_queries.py
  tests/unit/services/api/dependencies/test_api_permissions.py
  tests/unit/services/api/routes/test_auth_routes.py
  tests/unit/services/api/routes/test_guilds_routes.py
  tests/unit/services/api/services/test_sse_bridge_unit.py
  tests/unit/services/bot/handlers/test_participant_drop.py
  tests/unit/services/bot/utils/test_discord_format.py
Due: autocopyright-python, autocopyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-generate, jscpd-diff

refactor(guild-sync): remove dead REST functions and tests from guild_sync.py
  .copilot-tracking/planning/changes/20260422-01-discord-rest-elimination-phase2-changes.md
  .copilot-tracking/planning/plans/20260422-01-discord-rest-elimination-phase2.plan.md
  services/bot/guild_sync.py
  tests/unit/services/bot/test_guild_sync.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix(tests): update tests after Discord REST elimination phase 2
  services/bot/bot.py
  tests/e2e/test_00_bot_startup_sync.py
  tests/e2e/test_channel_refresh_e2e.py
  tests/e2e/test_guild_isolation_e2e.py
  tests/e2e/test_guild_sync_e2e.py
  tests/integration/test_rls_enforcement.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

plan: guild dashboard UX simplification
  .copilot-tracking/planning/details/20260424-01-guild-dashboard-ux-simplification-details.md
  .copilot-tracking/planning/plans/20260424-01-guild-dashboard-ux-simplification.plan.md
  .copilot-tracking/planning/prompts/implement-guild-dashboard-ux-simplification.prompt.md
  .copilot-tracking/research/20260424-01-guild-dashboard-ux-simplification-research.md
Due: prettier

feat: simplify guild dashboard UX by removing fake tab pattern
  .copilot-tracking/changes/20260424-01-guild-dashboard-ux-simplification-changes.md
  .copilot-tracking/planning/plans/20260424-01-guild-dashboard-ux-simplification.plan.md
  frontend/src/App.tsx
  frontend/src/pages/BrowseGames.tsx
  frontend/src/pages/CreateGame.tsx
  frontend/src/pages/GuildDashboard.tsx
  frontend/src/pages/__tests__/CreateGame.test.tsx
  frontend/src/pages/__tests__/GuildDashboard.test.tsx
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

chore: remove completed planning files for guild-dashboard-ux-simplification
  .copilot-tracking/planning/details/20260424-01-guild-dashboard-ux-simplification-details.md
  .copilot-tracking/planning/plans/20260424-01-guild-dashboard-ux-simplification.plan.md
  .copilot-tracking/planning/prompts/implement-guild-dashboard-ux-simplification.prompt.md
  .copilot-tracking/research/20260424-01-guild-dashboard-ux-simplification-research.md
Due: prettier

feat: add file:// backup support via BACKUP_DEST scheme dispatch
  .copilot-tracking/changes/20260424-01-local-file-backup-changes.md
  .copilot-tracking/planning/plans/20260424-01-local-file-backup.plan.md
  compose.e2e.yaml
  compose.restore.yaml
  compose.yaml
  config.template/env.template
  docker/backup-script.sh
  docker/restore-script.sh
  scripts/restore.sh
  scripts/run-backup-tests.sh
Due: prettier
