Repository bretmckee/game-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: autocopyright-python, autocopyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-generate, jscpd-diff

autocopyright-python:
  name: Add copyright headers (Python)
  entry: scripts/autocopyright-wrapper.sh -s "#" -l ./templates/mit-template.jinja2
  language: script
  require_serial: true

autocopyright-typescript:
  name: Add copyright headers (TypeScript)
  entry: scripts/autocopyright-wrapper.sh -s "//" -l ./templates/mit-template.jinja2
  language: script
  require_serial: true

prettier:
  name: Prettier format
  entry: prettier --write --config frontend/.prettierrc
  language: node
  additional_dependencies:
  - prettier@^3.7.4

eslint:
  name: ESLint
  entry: eslint --config frontend/eslint.config.js frontend/src/ --fix
  language: node
  pass_filenames: false
  additional_dependencies:
  - eslint@^9.0.0
  - '@eslint/js@^9.39.2'
  - typescript-eslint@^8.49.0
  - '@typescript-eslint/eslint-plugin@^8.0.0'
  - '@typescript-eslint/parser@^8.0.0'
  ...

python-compile:
  name: Python compilation check
  entry: python -m compileall -q
  language: python
  args:
  - services
  - shared
  - tests
  pass_filenames: false

mypy:
  name: mypy type check
  entry: uv run mypy
  language: system
  pass_filenames: false
  args:
  - shared/
  - services/

pytest-coverage:
  name: Python unit tests with coverage
  entry: bash -c 'output=$(uv run pytest --timeout=30 --cov --cov-report=xml --cov-report= -qq 2>&1); if [ $? -ne 0 ]; then echo "$output"; exit 1; fi'
  language: system
  pass_filenames: false
  verbose: true

diff-coverage:
  name: Python diff coverage check
  ...

frontend-build:
  name: Frontend build check
  entry: bash -c 'cd frontend && npm run build'
  language: system
  pass_filenames: false

typescript:
  name: TypeScript check
  entry: tsc --project frontend/tsconfig.json --noEmit
  language: node
  pass_filenames: false
  additional_dependencies:
  - typescript@^5.9.3

vitest-coverage:
  name: Frontend unit tests with coverage
  entry: scripts/run-frontend-coverage.sh
  language: system
  pass_filenames: false
  verbose: true

diff-coverage-frontend:
  name: Frontend diff coverage check
  ...

complexipy:
  name: complexipy cognitive complexity check
  entry: complexipy
  language: python
  pass_filenames: false
  additional_dependencies:
  - complexipy~=4.2.0

lizard-typescript:
  name: lizard typescript complexity check
  entry: lizard -l typescript frontend/src/ --CCN 15 --warnings_only
  language: python
  pass_filenames: false
  additional_dependencies:
  - lizard~=1.20.0

jscpd-generate:
  name: Generate duplicate code report
  entry: jscpd services shared frontend/src --config .jscpd.json --threshold 100 --reporters json --output .jscpd-report
  language: node
  pass_filenames: false
  additional_dependencies:
  - jscpd

jscpd-diff:
  name: Check for duplicates in changed lines
  entry: python scripts/check_commit_duplicates.py .jscpd-report/jscpd-report.json
  language: python
  pass_filenames: false
  verbose: true

chore: remove completed test-coverage-gaps planning artifacts
  .copilot-tracking/planning/details/20260308-03-test-coverage-gaps-details.md
  .copilot-tracking/planning/plans/20260308-03-test-coverage-gaps.plan.md
  .copilot-tracking/planning/prompts/implement-test-coverage-gaps.prompt.md
  .copilot-tracking/research/20260308-03-test-coverage-gaps-research.md
Due: prettier

docs: add coverage infrastructure fix research and planning files
  .copilot-tracking/planning/details/20260316-01-coverage-gaps-update-details.md
  .copilot-tracking/planning/plans/20260316-01-coverage-gaps-update.plan.md
  .copilot-tracking/planning/prompts/implement-coverage-gaps-update.prompt.md
  .copilot-tracking/research/20260316-01-coverage-gaps-update-research.md
Due: prettier

fix: rename test runner COVERAGE_FILE to non-hidden names
  .copilot-tracking/changes/20260316-01-coverage-gaps-update-changes.md
  .copilot-tracking/planning/plans/20260316-01-coverage-gaps-update.plan.md
  compose.e2e.yaml
  compose.int.yaml
Due: prettier

test: Phase 5 utility and minor gap fill tests
  .copilot-tracking/planning/plans/20260316-03-coverage-gaps-priority.plan.md
  tests/unit/services/bot/utils/test_discord_format.py
  tests/unit/services/scheduler/test_postgres_listener.py
  tests/unit/shared/discord/test_discord_api_client.py
  tests/unit/shared/messaging/test_consumer.py
  tests/unit/shared/messaging/test_sync_publisher.py
  tests/unit/shared/utils/test_discord_tokens.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

chore: remove completed coverage-gaps-priority tracking files
  .copilot-tracking/planning/details/20260316-03-coverage-gaps-priority-details.md
  .copilot-tracking/planning/plans/20260316-03-coverage-gaps-priority.plan.md
  .copilot-tracking/planning/prompts/implement-coverage-gaps-priority.prompt.md
  .copilot-tracking/research/20260316-03-coverage-gaps-priority-research.md
Due: prettier

plan: discord channel link resolution in game location
  .copilot-tracking/planning/details/20260318-01-discord-channel-link-location-details.md
  .copilot-tracking/planning/plans/20260318-01-discord-channel-link-location.plan.md
  .copilot-tracking/planning/prompts/implement-discord-channel-link-location.prompt.md
  .copilot-tracking/research/20260318-01-discord-channel-link-location-research.md
Due: prettier

chore: raise diff-cover threshold from 80% to 90%
  .pre-commit-config.yaml
Due: none

chore: remove self-deletion instruction from implement prompt template
  .github/agents/task-planner.agent.md
Due: prettier

fix: copy .build_version into production Docker stage
  docker/api.Dockerfile
Due: none

docs: add integration test addendum to rate limit redesign
  .copilot-tracking/planning/plans/20260319-01-discord-embed-rate-limit.plan.md
  .copilot-tracking/research/20260319-01-discord-embed-rate-limit-research.md
Due: prettier

plan: add Phase 7 UPSERT redesign for message_refresh_queue
  .copilot-tracking/planning/details/20260319-01-discord-embed-rate-limit-details.md
  .copilot-tracking/planning/plans/20260319-01-discord-embed-rate-limit.plan.md
  .copilot-tracking/research/20260319-01-discord-embed-rate-limit-research.md
Due: prettier

test: add Phase 6 integration tests for message_refresh_queue
  .copilot-tracking/planning/changes/20260319-01-discord-embed-rate-limit-changes.md
  .copilot-tracking/planning/plans/20260319-01-discord-embed-rate-limit.plan.md
  tests/integration/test_message_refresh_queue.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: add message_refresh_queue DB foundation (Phase 1)
  .copilot-tracking/changes/20260319-01-discord-embed-rate-limit-changes.md
  .copilot-tracking/planning/plans/20260319-01-discord-embed-rate-limit.plan.md
  alembic/versions/b1d2e3f4a5c6_add_message_refresh_queue.py
  shared/models/__init__.py
  shared/models/message_refresh_queue.py
  tests/unit/shared/models/test_message_refresh_queue.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

plan: Discord embed rate limit redesign
  .copilot-tracking/planning/details/20260319-01-discord-embed-rate-limit-details.md
  .copilot-tracking/planning/plans/20260319-01-discord-embed-rate-limit.plan.md
  .copilot-tracking/planning/prompts/implement-discord-embed-rate-limit.prompt.md
  .copilot-tracking/research/20260319-01-discord-embed-rate-limit-research.md
Due: prettier

feat: add _channel_worker per-channel DB-queue drain loop
  .copilot-tracking/changes/20260319-01-discord-embed-rate-limit-changes.md
  .copilot-tracking/planning/plans/20260319-01-discord-embed-rate-limit.plan.md
  services/bot/events/handlers.py
  tests/unit/services/bot/events/test_channel_worker.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: replace throttle with DB queue insert and add recovery on reconnect
  .copilot-tracking/changes/20260319-01-discord-embed-rate-limit-changes.md
  .copilot-tracking/planning/plans/20260319-01-discord-embed-rate-limit.plan.md
  services/bot/bot.py
  services/bot/events/handlers.py
  tests/unit/bot/events/test_handlers_game_events.py
  tests/unit/services/bot/events/test_handlers.py
  tests/unit/services/bot/test_bot.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: preserve status schedules for IN_PROGRESS and COMPLETED games
  .copilot-tracking/changes/20260321-01-status-schedule-bug-fix-changes.md
  .copilot-tracking/planning/plans/20260321-01-status-schedule-bug-fix.plan.md
  services/api/services/games.py
  tests/integration/test_status_schedule_updates.py
  tests/unit/services/api/services/test_games_service.py
  tests/unit/services/api/services/test_update_game_fields_helpers.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

chore: remove planning and research files for status-schedule-bug-fix
  .copilot-tracking/planning/details/20260321-01-status-schedule-bug-fix-details.md
  .copilot-tracking/planning/plans/20260321-01-status-schedule-bug-fix.plan.md
  .copilot-tracking/planning/prompts/implement-status-schedule-bug-fix.prompt.md
  .copilot-tracking/research/20260321-01-status-schedule-bug-fix-research.md
Due: prettier

feat: add rewards and remind_host_rewards fields to models, schemas, and routes
  .copilot-tracking/planning/changes/20260321-02-rewards-feature-changes.md
  .copilot-tracking/planning/plans/20260321-02-rewards-feature.plan.md
  services/api/routes/games.py
  shared/models/game.py
  shared/models/template.py
  shared/schemas/game.py
  shared/schemas/template.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: align VS Code format-on-save with ruff formatter
  .devcontainer/devcontainer.json
Due: prettier

feat: add rewards feature frontend (Phase 5)
  .copilot-tracking/planning/changes/20260321-02-rewards-feature-changes.md
  .copilot-tracking/planning/plans/20260321-02-rewards-feature.plan.md
  frontend/src/components/GameCard.tsx
  frontend/src/components/GameForm.tsx
  frontend/src/components/__tests__/GameForm.rewards.test.tsx
  frontend/src/pages/EditGame.tsx
  frontend/src/pages/GameDetails.tsx
  frontend/src/pages/__tests__/EditGame.archiveBranches.test.tsx
  frontend/src/pages/__tests__/EditGame.test.tsx
  frontend/src/pages/__tests__/GameDetails.test.tsx
  frontend/src/types/index.ts
  frontend/src/utils/__tests__/fieldValidation.test.ts
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

fix: send remind_host_rewards in CreateGame form submission
  frontend/src/pages/CreateGame.tsx
  frontend/src/pages/__tests__/CreateGame.test.tsx
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

chore: remove rewards feature planning and research files
  .copilot-tracking/planning/details/20260321-02-rewards-feature-details.md
  .copilot-tracking/planning/plans/20260321-02-rewards-feature.plan.md
  .copilot-tracking/planning/prompts/implement-rewards-feature.prompt.md
  .copilot-tracking/research/20260321-02-rewards-feature-research.md
Due: prettier

fix: validate date against picker's new value, not stale closure
  frontend/src/components/GameForm.tsx
  frontend/src/components/__tests__/GameForm.validation.test.tsx
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

fix: save and archive now immediately completes and archives in-progress games
  frontend/src/pages/EditGame.tsx
  frontend/src/pages/__tests__/EditGame.archiveBranches.test.tsx
  services/api/services/games.py
Due: autocopyright-python, autocopyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-generate, jscpd-diff

feat: archive reward games with confirmed player @mentions
  .copilot-tracking/changes/20260322-01-archive-reward-player-mentions-changes.md
  .copilot-tracking/planning/plans/20260322-01-archive-reward-player-mentions.plan.md
  services/bot/events/handlers.py
  tests/e2e/test_game_rewards.py
  tests/unit/bot/events/test_handlers_misc.py
  tests/unit/services/bot/events/test_handlers.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: add combined Int + E2E coverage line to summary
  scripts/coverage-report.sh
Due: none

feat: role-based scheduling phases 1 and 2
  .copilot-tracking/planning/changes/20260324-01-role-based-scheduling-changes.md
  .copilot-tracking/planning/plans/20260324-01-role-based-scheduling.plan.md
  alembic/versions/b7c8d9e0f1a2_add_signup_priority_role_ids.py
  frontend/src/types/index.ts
  services/api/routes/templates.py
  shared/models/participant.py
  shared/models/template.py
  shared/schemas/template.py
  tests/unit/schemas/test_schemas_template_schema.py
  tests/unit/shared/models/test_signup_method.py
  tests/unit/shared/utils/test_participant_sorting.py
Due: autocopyright-python, autocopyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-generate, jscpd-diff

feat: add role priority section to TemplateForm
  .copilot-tracking/changes/20260324-01-role-based-scheduling-changes.md
  .copilot-tracking/planning/plans/20260324-01-role-based-scheduling.plan.md
  frontend/src/components/TemplateForm.tsx
  frontend/src/components/__tests__/TemplateForm.test.tsx
  frontend/src/constants/ui.ts
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

fix: handle non-JSON Discord API responses gracefully
  shared/discord/client.py
  tests/unit/shared/discord/test_discord_api_client.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

test: remove orphaned xfail stubs for unimplemented designs
  tests/unit/services/api/services/test_guild_service.py
  tests/unit/services/bot/test_bot_main.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: pass signup_priority_role_ids and signup method fields when creating templates
  services/api/routes/templates.py
  tests/integration/test_template_creation.py
  tests/unit/services/api/routes/test_templates.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: exempt game host from allowed_player_role_ids check
  services/api/dependencies/permissions.py
  tests/unit/services/api/dependencies/test_permissions_migration.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

chore: remove role-based scheduling planning artifacts
  .copilot-tracking/planning/details/20260324-01-role-based-scheduling-details.md
  .copilot-tracking/planning/plans/20260324-01-role-based-scheduling.plan.md
  .copilot-tracking/planning/prompts/implement-role-based-scheduling.prompt.md
  .copilot-tracking/research/20260324-01-role-based-scheduling-research.md
Due: prettier

sort guild roles alphabetically (case-insensitive) in API response
  services/api/routes/guilds.py
  tests/unit/services/api/routes/test_guilds_routes.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

plan: replace nginx frontend with Caddy for SSL termination
  .copilot-tracking/planning/details/20260328-01-caddy-frontend-details.md
  .copilot-tracking/planning/plans/20260328-01-caddy-frontend.plan.md
  .copilot-tracking/planning/prompts/implement-caddy-frontend.prompt.md
  .copilot-tracking/research/20260328-01-reverse-proxy-ssl-termination-research.md
Due: prettier

chore: suppress 100% covered files and sort by missed lines in coverage report
  pyproject.toml
Due: none

feat: improve game creation/edit screen UI text and field behavior
  frontend/src/components/GameForm.tsx
  frontend/src/components/ReminderSelector.tsx
  frontend/src/components/TemplateForm.tsx
  frontend/src/components/__tests__/GameForm.test.tsx
  frontend/src/components/__tests__/ReminderSelector.test.tsx
  frontend/src/components/__tests__/TemplateForm.test.tsx
  frontend/src/utils/__tests__/fieldValidation.test.ts
  frontend/src/utils/fieldValidation.ts
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

plan: add channel recognition bug fix research and planning
  .copilot-tracking/planning/details/20260401-01-channel-recognition-bugs-details.md
  .copilot-tracking/planning/plans/20260401-01-channel-recognition-bugs.plan.md
  .copilot-tracking/planning/prompts/implement-channel-recognition-bugs.prompt.md
  .copilot-tracking/research/20260401-01-channel-recognition-bugs-research.md
Due: prettier

Path conditions:
  autocopyright-python: any of: \.py$
  autocopyright-typescript: any of: \.(ts|tsx)$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.css$, \.scss$, \.(md|markdown|mdown)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  python-compile: any of: \.py$
  mypy: any of: \.py$
  pytest-coverage: any of: ^(services|shared|tests)/.*\.py$
  diff-coverage: any of: ^(services|shared|tests)/.*\.py$
  frontend-build: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|html)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  vitest-coverage: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  diff-coverage-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  complexipy: any of: \.py$
  lizard-typescript: any of: ^frontend/src/.*\.(ts|tsx)$
  jscpd-generate: any of: \.py$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  jscpd-diff: any of: \.py$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
