Repository bretmckee/game-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: autocopyright-python, autocopyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-generate, jscpd-diff

Path conditions:
  autocopyright-python: any of: \.py$
  autocopyright-typescript: any of: \.(ts|tsx)$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.css$, \.scss$, \.(md|markdown|mdown)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  python-compile: any of: \.py$
  mypy: any of: \.py$
  pytest-coverage: any of: ^(services|shared|tests)/.*\.py$
  diff-coverage: any of: ^(services|shared|tests)/.*\.py$
  frontend-build: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|html)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  vitest-coverage: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  diff-coverage-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  complexipy: any of: \.py$
  lizard-typescript: any of: ^frontend/src/.*\.(ts|tsx)$
  jscpd-generate: any of: \.py$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  jscpd-diff: any of: \.py$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$

fix: install complexity checkers via dev dependency group
  pyproject.toml
  uv.lock
Due: none

fix: apply in-place edits to existing participants on game edit
  frontend/src/components/EditableParticipantList.tsx
  frontend/src/components/GameForm.tsx
  frontend/src/pages/EditGame.tsx
  frontend/src/pages/__tests__/EditGame.test.tsx
  tests/integration/test_games_crud.py
Due: autocopyright-python, autocopyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-generate, jscpd-diff

feat: add participant-seats endpoint and seat positions page
  frontend/src/App.tsx
  frontend/src/pages/GameDetails.tsx
  frontend/src/pages/ParticipantSeatsPage.tsx
  frontend/src/pages/__tests__/GameDetails.participant_seats.test.tsx
  frontend/src/pages/__tests__/ParticipantSeatsPage.test.tsx
  frontend/src/types/index.ts
  services/api/routes/games.py
  services/api/services/display_names.py
  shared/schemas/game.py
  tests/integration/test_participant_seats_endpoint.py
  tests/unit/services/api/routes/test_games_participant_seats.py
  tests/unit/services/api/services/test_display_names.py
Due: autocopyright-python, autocopyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-generate, jscpd-diff

chore(deps): consolidate dev tooling into a single dependency group
  .github/workflows/ci-cd.yml
  pyproject.toml
  uv.lock
Due: none

fix: adopt existing seats when host mentions an already-seated user
  services/api/services/games.py
  tests/integration/test_games_crud.py
  tests/unit/api/services/test_games.py
  tests/unit/services/api/services/test_games_edit_participants.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

Adds precommit check for commit message line length
  .claude/config-sync-manifest.json
  .github/instructions/commit-messages.instructions.md
  .pre-commit-config.yaml
  scripts/check_commit_message_lines.py
  tests/unit/scripts/test_check_commit_message_lines.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: card weekday + relative time + seating borders
  frontend/src/components/GameCard.tsx
  frontend/src/components/__tests__/GameCard.test.tsx
  frontend/src/pages/BrowseGames.tsx
  frontend/src/pages/MyGames.tsx
  frontend/src/utils/__tests__/dateDisplay.test.ts
  frontend/src/utils/__tests__/seating.test.ts
  frontend/src/utils/dateDisplay.ts
  frontend/src/utils/seating.ts
  tests/integration/test_games_list_seating.py
Due: autocopyright-python, autocopyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-generate, jscpd-diff

fix(frontend): move game form submit errors next to the save buttons
  frontend/src/components/GameForm.tsx
  frontend/src/components/__tests__/GameForm.errors-location.test.tsx
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

chore(mutmut): get mutation testing working repo-wide
  .gitignore
  pyproject.toml
  scripts/mutmut-logic-survivors.py
  scripts/run-mutmut.py
  tests/unit/services/api/test_api_config.py
  tests/unit/services/bot/test_bot_config.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat(mutmut): function-scoped mutation gate with ratchet debt ledger
  .pre-commit-config.yaml
  .prettierignore
  mutmut-baseline.json
  scripts/mutmut_ledger.py
Due: autocopyright-python, prettier, python-compile, mypy, complexipy, jscpd-generate, jscpd-diff

feat(mutmut): detect weakened tests via kill-regression ratchet
  .pre-commit-config.yaml
  mutmut-baseline.json
  scripts/mutmut_ledger.py
Due: autocopyright-python, prettier, python-compile, mypy, complexipy, jscpd-generate, jscpd-diff

chore(mutmut): upgrade to >=3.7.0,<4 and migrate config keys
  .copilot-tracking/research/20260901-01-mutmut-upgrade-validation-research.md
  pyproject.toml
  uv.lock
Due: prettier

chore(mutmut): set timeout_constant=4.0 to eliminate spurious SIGXCPU timeouts
  .copilot-tracking/research/20260901-01-mutmut-upgrade-validation-research.md
  pyproject.toml
Due: prettier

chore(mutmut): raise large-file limit to 2MB and regenerate debt ledger v8
  .pre-commit-config.yaml
  mutmut-baseline.json
  scripts/mutmut-logic-survivors.py
  scripts/mutmut_ledger.py
Due: autocopyright-python, prettier, python-compile, mypy, complexipy, jscpd-generate, jscpd-diff

docs(research): record kill_regressions scope-guard defect and its fix
  .copilot-tracking/research/20260901-01-mutmut-upgrade-validation-research.md
Due: prettier

chore(mutmut): add make restamp target and refresh v2 baseline from cold run
  Makefile
  mutmut-baseline.json
Due: prettier

fix(bot): pace projection heartbeat outside its error guard
  .copilot-tracking/research/20260901-01-mutmut-upgrade-validation-research.md
  scripts/mutmut_ledger.py
  services/bot/bot.py
  tests/unit/scripts/test_mutmut_ledger.py
  tests/unit/services/bot/test_bot.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

chore(mutmut): restamp ratchet baseline from cold pass on develop
  .copilot-tracking/testing/mutation-census/20260904-restamp-on-develop.json
  .prettierignore
  mutmut-baseline.json
Due: prettier

fix(mutmut): scope gate vs push-upstream; drop L-numbers from entry identity
  .pre-commit-config.yaml
  scripts/mutmut_ledger.py
  tests/unit/scripts/test_mutmut_ledger.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix(mutmut): scope entry dedup per function family; restamp ledger
  mutmut-baseline.json
  scripts/mutmut_ledger.py
  tests/unit/scripts/test_mutmut_ledger.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

chore(mutmut): restamp ledger stamps and archive v3 cold-pass census
  .copilot-tracking/research/20260901-01-mutmut-upgrade-validation-research.md
  .copilot-tracking/testing/mutation-census/20260905-restamp-v3-on-develop.json
  mutmut-baseline.json
Due: prettier

fix(bot): pace projection heartbeat outside its error guard
  services/bot/bot.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix(e2e): cache DM channel IDs to avoid Discord's open-DM limit
  tests/e2e/helpers/discord.py
  tests/shared/e2e_fixtures/helpers/test_discord_helpers.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

devcontainer: bypass VS Code's credential helpers for real ssh shells
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: prettier

devcontainer: forward SSH agent via real sshd
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: prettier

fix: resend the stable channel token on unchanged game Location
  frontend/src/pages/EditGame.tsx
  frontend/src/pages/__tests__/EditGame.test.tsx
  tests/integration/test_games_where_display.py
Due: autocopyright-python, autocopyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-generate, jscpd-diff

fix(e2e): make test_game_reminder.py claim Player A cleanup
  tests/e2e/conftest.py
  tests/e2e/test_game_reminder.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

docs: research and plan notify-role ping suppression
  .claude/commands/implement-notify-role-self-signup.md
  .copilot-tracking/planning/details/20260913-01-notify-role-self-signup-details.md
  .copilot-tracking/planning/plans/20260913-01-notify-role-self-signup.plan.md
  .copilot-tracking/research/20260913-01-notify-role-self-signup-research.md
Due: prettier

feat: Phase 1 (1.1-1.2) - suppress notify-role ping for HOST_SELECTED
  .copilot-tracking/changes/20260913-01-notify-role-self-signup-changes.md
  .copilot-tracking/planning/plans/20260913-01-notify-role-self-signup.plan.md
  services/bot/formatters/game_message.py
  tests/unit/services/bot/formatters/test_game_message.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: Phase 1 (1.3-1.4) - regression + e2e for notify-role suppression
  .copilot-tracking/changes/20260913-01-notify-role-self-signup-changes.md
  .copilot-tracking/planning/plans/20260913-01-notify-role-self-signup.plan.md
  tests/e2e/test_signup_methods.py
  tests/unit/services/bot/formatters/test_game_message.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

chore: remove notify-role self-signup tracking docs
  .copilot-tracking/changes/20260913-01-notify-role-self-signup-changes.md
  .copilot-tracking/planning/details/20260913-01-notify-role-self-signup-details.md
  .copilot-tracking/planning/plans/20260913-01-notify-role-self-signup.plan.md
  .copilot-tracking/research/20260913-01-notify-role-self-signup-research.md
Due: prettier

feat: add release-notes skill
  .claude/skills/release-notes/SKILL.md
Due: prettier

docs: add v1.2.12 release notes
  README.md
  docs/RELEASE-NOTES.md
Due: prettier

fix(mutmut): Fixes an end-to-end: kill_regressions
  .copilot-tracking/research/20260901-01-mutmut-upgrade-validation-research.md
  scripts/mutmut_ledger.py
  tests/unit/scripts/test_mutmut_ledger.py
  tests/unit/services/bot/test_bot.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff
