Repository bretmckee/game-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: autocopyright-python, autocopyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-generate, jscpd-diff

autocopyright-python:
  name: Add copyright headers (Python)
  entry: scripts/autocopyright-wrapper.sh -s "#" -l ./templates/mit-template.jinja2
  language: script
  require_serial: true

autocopyright-typescript:
  name: Add copyright headers (TypeScript)
  entry: scripts/autocopyright-wrapper.sh -s "//" -l ./templates/mit-template.jinja2
  language: script
  require_serial: true

prettier:
  name: Prettier format
  entry: prettier --write --config frontend/.prettierrc
  language: node
  additional_dependencies:
  - prettier@^3.7.4

eslint:
  name: ESLint
  entry: eslint --config frontend/eslint.config.js frontend/src/ --fix
  language: node
  pass_filenames: false
  additional_dependencies:
  - eslint@^9.0.0
  - '@eslint/js@^9.39.2'
  - typescript-eslint@^8.49.0
  - '@typescript-eslint/eslint-plugin@^8.0.0'
  - '@typescript-eslint/parser@^8.0.0'
  ...

python-compile:
  name: Python compilation check
  entry: python -m compileall -q
  language: python
  args:
  - services
  - shared
  - tests
  pass_filenames: false

mypy:
  name: mypy type check
  entry: uv run mypy
  language: system
  pass_filenames: false
  args:
  - shared/
  - services/

pytest-coverage:
  name: Python unit tests with coverage
  entry: bash -c 'output=$(uv run pytest --timeout=30 --cov --cov-report=xml --cov-report= -qq 2>&1); if [ $? -ne 0 ]; then echo "$output"; exit 1; fi'
  language: system
  pass_filenames: false
  verbose: true

diff-coverage:
  name: Python diff coverage check
  ...

frontend-build:
  name: Frontend build check
  entry: bash -c 'cd frontend && npm run build'
  language: system
  pass_filenames: false

typescript:
  name: TypeScript check
  entry: tsc --project frontend/tsconfig.json --noEmit
  language: node
  pass_filenames: false
  additional_dependencies:
  - typescript@^5.9.3

vitest-coverage:
  name: Frontend unit tests with coverage
  entry: scripts/run-frontend-coverage.sh
  language: system
  pass_filenames: false
  verbose: true

diff-coverage-frontend:
  name: Frontend diff coverage check
  ...

complexipy:
  name: complexipy cognitive complexity check
  entry: complexipy
  language: python
  pass_filenames: false
  additional_dependencies:
  - complexipy~=4.2.0

lizard-typescript:
  name: lizard typescript complexity check
  entry: lizard -l typescript frontend/src/ --CCN 15 --warnings_only
  language: python
  pass_filenames: false
  additional_dependencies:
  - lizard~=1.20.0

jscpd-generate:
  name: Generate duplicate code report
  entry: jscpd services shared frontend/src --config .jscpd.json --threshold 100 --reporters json --output .jscpd-report
  language: node
  pass_filenames: false
  additional_dependencies:
  - jscpd

jscpd-diff:
  name: Check for duplicates in changed lines
  entry: python scripts/check_commit_duplicates.py .jscpd-report/jscpd-report.json
  language: python
  pass_filenames: false
  verbose: true

plan: integration tests using admin_db bypass RLS
  .copilot-tracking/planning/details/20260427-01-integration-tests-admin-db-rls-bypass-details.md
  .copilot-tracking/planning/plans/20260427-01-integration-tests-admin-db-rls-bypass.plan.md
  .copilot-tracking/planning/prompts/implement-integration-tests-admin-db-rls-bypass.prompt.md
  .copilot-tracking/research/20260427-01-integration-tests-admin-db-rls-bypass-research.md
Due: prettier

chore: remove planning files for admin_db RLS bypass task
  .copilot-tracking/planning/details/20260427-01-integration-tests-admin-db-rls-bypass-details.md
  .copilot-tracking/planning/plans/20260427-01-integration-tests-admin-db-rls-bypass.plan.md
  .copilot-tracking/planning/prompts/implement-integration-tests-admin-db-rls-bypass.prompt.md
  .copilot-tracking/research/20260427-01-integration-tests-admin-db-rls-bypass-research.md
Due: prettier

fix: update stale player_deadline date in test
  tests/unit/api/services/test_games.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: scope complexipy to configured paths by removing explicit '.' argument
  .github/workflows/ci-cd.yml
  .pre-commit-config.yaml
Due: none

style: apply ruff formatting to check_diff_coverage scripts
  scripts/check_diff_coverage.py
  scripts/check_diff_coverage_frontend.py
Due: autocopyright-python, python-compile, mypy, complexipy, jscpd-generate, jscpd-diff

chore: always lint/format all Python files in CI, drop diff-based scoping
  .github/workflows/ci-cd.yml
Due: none

fix: resolve ruff lint violations exposed by full-repo check
  pyproject.toml
  tests/unit/test_check_copyright.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: remove stale scheduler service refs from CI and scripts
  .github/workflows/ci-cd.yml
  scripts/run-backup-tests.sh
Due: none

chore: remove /etc/timezone bind mount from devcontainer
  .devcontainer/devcontainer.json
Due: prettier

chore: add local ignore rule and pin Python version
  .gitignore
  .python-version
Due: none

fix: downscale oversized banner/thumbnail images before storing
  pyproject.toml
  shared/services/image_storage.py
  tests/unit/shared/services/test_image_storage_unit.py
  uv.lock
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: Phase 5 - wire bot leave path to shared promotion detection
  .copilot-tracking/changes/20260714-01-waitlist-promotion-notification-gap-changes.md
  .copilot-tracking/planning/plans/20260714-01-waitlist-promotion-notification-gap.plan.md
  services/bot/handlers/leave_game.py
  tests/integration/test_leave_game.py
  tests/unit/bot/handlers/test_leave_game_handler.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

test: Phase 6 - add e2e coverage for leave-triggers-promotion DM delivery
  .copilot-tracking/changes/20260714-01-waitlist-promotion-notification-gap-changes.md
  .copilot-tracking/planning/plans/20260714-01-waitlist-promotion-notification-gap.plan.md
  tests/e2e/test_waitlist_promotion.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: Phase 1 - extract shared waitlist transition detection
  .copilot-tracking/changes/20260714-01-waitlist-promotion-notification-gap-changes.md
  .copilot-tracking/planning/plans/20260714-01-waitlist-promotion-notification-gap.plan.md
  shared/services/waitlist_transitions.py
  tests/unit/shared/services/test_waitlist_transitions.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: add Grafana MCP server config and stack-selection docs
  .devcontainer/devcontainer.json
  .github/instructions/grafana-observability-debugging.instructions.md
  .mcp.json
  CLAUDE.md
Due: prettier

chore: remove completed planning/research docs for waitlist promotion fix
  .copilot-tracking/planning/details/20260714-01-waitlist-promotion-notification-gap-details.md
  .copilot-tracking/planning/plans/20260714-01-waitlist-promotion-notification-gap.plan.md
  .copilot-tracking/planning/prompts/implement-waitlist-promotion-notification-gap.prompt.md
  .copilot-tracking/research/20260714-01-waitlist-promotion-notification-gap-research.md
Due: prettier

feat: Phase 2 - delegate update_game promotion/demotion to shared module
  .copilot-tracking/changes/20260714-01-waitlist-promotion-notification-gap-changes.md
  .copilot-tracking/planning/plans/20260714-01-waitlist-promotion-notification-gap.plan.md
  services/api/services/games.py
  tests/unit/api/services/test_games.py
  tests/unit/services/api/services/test_games_promotion.py
  tests/unit/services/api/services/test_games_service.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

docs: add research and plan for waitlist promotion DM leave-path gap
  .copilot-tracking/planning/details/20260714-01-waitlist-promotion-notification-gap-details.md
  .copilot-tracking/planning/plans/20260714-01-waitlist-promotion-notification-gap.plan.md
  .copilot-tracking/planning/prompts/implement-waitlist-promotion-notification-gap.prompt.md
  .copilot-tracking/research/20260714-01-waitlist-promotion-notification-gap-research.md
Due: prettier

feat: Phase 3 - create shared leave-game core
  .copilot-tracking/changes/20260714-01-waitlist-promotion-notification-gap-changes.md
  .copilot-tracking/planning/plans/20260714-01-waitlist-promotion-notification-gap.plan.md
  shared/services/leave_game.py
  tests/unit/shared/services/test_leave_game_shared.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: Phase 4 - wire API leave path to shared promotion detection
  .copilot-tracking/changes/20260714-01-waitlist-promotion-notification-gap-changes.md
  .copilot-tracking/planning/plans/20260714-01-waitlist-promotion-notification-gap.plan.md
  services/api/services/games.py
  tests/integration/test_leave_game_promotion.py
  tests/unit/api/services/test_games.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

Add Copilot-to-Claude AI config sync mechanism
  .claude/agents/task-planner.md
  .claude/agents/task-researcher.md
  .claude/commands/brainstorm.md
  .claude/commands/commit.md
  .claude/commands/verify-code.md
  .claude/config-sync-manifest.json
  .claude/skills/sync-claude-config/SKILL.md
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  scripts/check_ai_config_sync.py
  tests/unit/scripts/test_check_ai_config_sync.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

Remove dangling RabbitMQ artifacts from removal migration
  scripts/init_rabbitmq.py
  services/init/__init__.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

Have native task-planner write implement command to .claude/commands
  .claude/agents/task-planner.md
  .claude/config-sync-manifest.json
Due: prettier

fix: stop bundling services/bot/ in api production image
  docker/api.Dockerfile
Due: none

Fix silent hang in Postgres LISTEN reconnect
  services/api/services/sse_bridge.py
  services/bot/bot_action_listener.py
  services/bot/message_refresh_listener.py
  shared/pg_listen.py
  tests/unit/bot/test_bot_action_listener.py
  tests/unit/services/api/services/test_sse_bridge_unit.py
  tests/unit/services/bot/test_message_refresh_listener.py
  tests/unit/shared/test_pg_listen.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

docs: add research and plan for background-task silent-failure fix
  .claude/commands/implement-background-task-silent-failure-fix.md
  .copilot-tracking/planning/details/20260715-01-background-task-silent-failure-fix-details.md
  .copilot-tracking/planning/plans/20260715-01-background-task-silent-failure-fix.plan.md
  .copilot-tracking/research/20260715-02-background-task-silent-failure-audit-research.md
Due: prettier

feat: Phase 1 - SchedulerLoop reconnect + per-iteration exception handling
  .copilot-tracking/changes/20260715-01-background-task-silent-failure-fix-changes.md
  .copilot-tracking/planning/plans/20260715-01-background-task-silent-failure-fix.plan.md
  services/bot/scheduler_loop.py
  tests/unit/bot/test_bot_ready.py
  tests/unit/services/bot/test_scheduler_loop.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: Phase 2 - AnnouncementLoop reconnect migration
  .copilot-tracking/changes/20260715-01-background-task-silent-failure-fix-changes.md
  .copilot-tracking/planning/plans/20260715-01-background-task-silent-failure-fix.plan.md
  services/bot/announcement_loop.py
  tests/unit/bot/test_announcement_loop.py
  tests/unit/services/bot/test_bot.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: Phase 3 - _channel_worker per-iteration exception handling
  .copilot-tracking/changes/20260715-01-background-task-silent-failure-fix-changes.md
  .copilot-tracking/planning/plans/20260715-01-background-task-silent-failure-fix.plan.md
  services/bot/events/handlers.py
  tests/unit/services/bot/events/test_handlers_channel_worker.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: pace retries in all three self-healing loops
  .copilot-tracking/changes/20260715-01-background-task-silent-failure-fix-changes.md
  services/bot/announcement_loop.py
  services/bot/events/handlers.py
  services/bot/scheduler_loop.py
  tests/unit/bot/test_announcement_loop.py
  tests/unit/services/bot/events/test_handlers_channel_worker.py
  tests/unit/services/bot/test_scheduler_loop.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

chore: remove background-task-silent-failure-fix planning artifacts
  .claude/commands/implement-background-task-silent-failure-fix.md
  .copilot-tracking/planning/details/20260715-01-background-task-silent-failure-fix-details.md
  .copilot-tracking/planning/plans/20260715-01-background-task-silent-failure-fix.plan.md
  .copilot-tracking/research/20260715-02-background-task-silent-failure-audit-research.md
Due: prettier

Reword waitlist promotion DM text
  shared/message_formats.py
  tests/shared/e2e_fixtures/helpers/test_discord_helpers.py
  tests/unit/services/api/services/test_games_promotion.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

docs: add research and plan for participant reposition bug
  .claude/commands/implement-participant-reposition-bug.md
  .copilot-tracking/planning/details/20260716-01-participant-reposition-bug-details.md
  .copilot-tracking/planning/plans/20260716-01-participant-reposition-bug.plan.md
  .copilot-tracking/research/20260716-01-participant-reposition-bug-research.md
Due: prettier

fix: default diff-coverage base branch to origin/develop
  scripts/check_diff_coverage.py
  scripts/check_diff_coverage_frontend.py
Due: autocopyright-python, python-compile, mypy, complexipy, jscpd-generate, jscpd-diff

feat: Phase 1 - sentinel default for self-added/role-based participants
  .copilot-tracking/changes/20260716-01-participant-reposition-bug-changes.md
  .copilot-tracking/planning/plans/20260716-01-participant-reposition-bug.plan.md
  alembic/versions/77f802eecfc5_backfill_self_added_position_sentinel.py
  services/api/routes/games.py
  services/bot/handlers/join_game.py
  shared/models/participant.py
  shared/utils/participant_sorting.py
  tests/unit/api/services/test_games.py
  tests/unit/services/api/routes/test_games_helpers.py
  tests/unit/services/bot/handlers/test_join_game.py
  tests/unit/shared/utils/test_participant_sorting.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: Phase 2 - generalize backend position-update matching
  .copilot-tracking/changes/20260716-01-participant-reposition-bug-changes.md
  .copilot-tracking/planning/plans/20260716-01-participant-reposition-bug.plan.md
  services/api/services/games.py
  tests/unit/services/api/services/test_games_edit_participants.py
  tests/unit/shared/utils/test_participant_sorting.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: Phase 3 - frontend disturbed-prefix payload extension
  .copilot-tracking/changes/20260716-01-participant-reposition-bug-changes.md
  .copilot-tracking/planning/plans/20260716-01-participant-reposition-bug.plan.md
  frontend/src/pages/EditGame.tsx
  frontend/src/pages/__tests__/EditGame.test.tsx
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

feat: Phase 4 - end-to-end verification
  .copilot-tracking/changes/20260716-01-participant-reposition-bug-changes.md
  .copilot-tracking/planning/plans/20260716-01-participant-reposition-bug.plan.md
  tests/integration/test_games_crud.py
  tests/unit/shared/services/test_leave_game_shared.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: update stale sentinel expectation in role-based signup e2e test
  tests/e2e/test_role_based_signup.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: widen e2e timeouts for Discord-rate-limited announcement flow
  tests/conftest.py
  tests/e2e/test_game_image_display.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

Path conditions:
  autocopyright-python: any of: \.py$
  autocopyright-typescript: any of: \.(ts|tsx)$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.css$, \.scss$, \.(md|markdown|mdown)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  python-compile: any of: \.py$
  mypy: any of: \.py$
  pytest-coverage: any of: ^(services|shared|tests)/.*\.py$
  diff-coverage: any of: ^(services|shared|tests)/.*\.py$
  frontend-build: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|html)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  vitest-coverage: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  diff-coverage-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  complexipy: any of: \.py$
  lizard-typescript: any of: ^frontend/src/.*\.(ts|tsx)$
  jscpd-generate: any of: \.py$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  jscpd-diff: any of: \.py$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
