Repository bretmckee/game-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: autocopyright-python, autocopyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-generate, jscpd-diff

Path conditions:
  autocopyright-python: any of: \.py$
  autocopyright-typescript: any of: \.(ts|tsx)$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.css$, \.scss$, \.(md|markdown|mdown)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  python-compile: any of: \.py$
  mypy: any of: \.py$
  pytest-coverage: any of: ^(services|shared|tests)/.*\.py$
  diff-coverage: any of: ^(services|shared|tests)/.*\.py$
  frontend-build: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|html)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  vitest-coverage: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  diff-coverage-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  complexipy: any of: \.py$
  lizard-typescript: any of: ^frontend/src/.*\.(ts|tsx)$
  jscpd-generate: any of: \.py$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  jscpd-diff: any of: \.py$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$

feat: Phase 2 — add cancel_game service and update GameService
  .copilot-tracking/changes/20260704-01-remove-rabbitmq-changes.md
  .copilot-tracking/planning/plans/20260704-01-remove-rabbitmq.plan.md
  services/api/services/games.py
  shared/services/game_cancellation.py
  tests/unit/services/api/services/test_games_service.py
  tests/unit/shared/services/test_game_cancellation.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

chore: remove planning artifacts for host-added dropout notification
  .copilot-tracking/planning/details/20260531-01-host-added-dropout-notification-details.md
  .copilot-tracking/planning/plans/20260531-01-host-added-dropout-notification.plan.md
  .copilot-tracking/planning/prompts/implement-host-added-dropout-notification.prompt.md
  .copilot-tracking/research/20260531-01-host-added-dropout-notification-research.md
Due: prettier

feat: Phase 3 - implement SchedulerLoop (GREEN)
  .copilot-tracking/changes/20260706-01-remove-scheduler-changes.md
  .copilot-tracking/planning/plans/20260706-01-remove-scheduler.plan.md
  services/bot/scheduler_loop.py
  tests/integration/test_scheduler_loop.py
  tests/unit/services/bot/test_scheduler_loop.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: replace publish_game_updated with direct DB writes in bot handlers
  .copilot-tracking/changes/20260704-01-remove-rabbitmq-changes.md
  .copilot-tracking/planning/plans/20260704-01-remove-rabbitmq.plan.md
  services/bot/events/handlers.py
  services/bot/events/publisher.py
  services/bot/handlers/button_handler.py
  services/bot/handlers/join_game.py
  services/bot/handlers/leave_game.py
  services/bot/handlers/participant_drop.py
  services/bot/handlers/utils.py
  services/bot/views/clone_confirmation_view.py
  tests/integration/test_button_handler.py
  tests/integration/test_join_game.py
  tests/integration/test_leave_game.py
  tests/integration/test_participant_drop_event.py
  tests/unit/bot/events/test_handlers_lifecycle_events.py
  tests/unit/bot/handlers/test_join_game_handler.py
  tests/unit/bot/handlers/test_leave_game_handler.py
  tests/unit/bot/handlers/test_participant_drop_handler.py
  tests/unit/bot/views/test_clone_confirmation_view.py
  tests/unit/services/bot/events/test_publisher.py
  tests/unit/services/bot/handlers/test_participant_drop.py
  tests/unit/services/bot/handlers/test_utils.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: Phase 10 - Docker, config, and dependency cleanup
  .copilot-tracking/planning/changes/20260704-01-remove-rabbitmq-changes.md
  .copilot-tracking/planning/plans/20260704-01-remove-rabbitmq.plan.md
  compose.e2e.yaml
  compose.int.yaml
  compose.override.yaml
  compose.prod.yaml
  compose.staging.yaml
  compose.test.yaml
  compose.yaml
  config.template/env.template
  config.template/rabbitmq/enabled_plugins
  config.template/rabbitmq/rabbitmq.conf
  docker/retry.Dockerfile
  pyproject.toml
  shared/setup.py
  shared/telemetry.py
  shared/utils/logging.py
  tests/unit/shared/test_telemetry.py
  tests/unit/shared/utils/test_logging.py
  uv.lock
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: wrap setLoading(false) in startTransition to prevent navigation cancellation
  frontend/src/components/GameForm.tsx
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

fix: delete recurrence confirmation DM after button is processed
  services/bot/views/recurrence_confirmation_view.py
  tests/unit/services/bot/views/test_recurrence_confirmation_view.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat(scheduler): replace RabbitMQ publisher with bot_action_queue inserts (Phase 6)
  .copilot-tracking/changes/20260704-01-remove-rabbitmq-changes.md
  .copilot-tracking/planning/plans/20260704-01-remove-rabbitmq.plan.md
  services/scheduler/config.py
  services/scheduler/event_builders.py
  services/scheduler/generic_scheduler_daemon.py
  services/scheduler/participant_action_event_builder.py
  services/scheduler/scheduler_daemon_wrapper.py
  tests/integration/test_clone_confirmation_notification.py
  tests/integration/test_notification_daemon.py
  tests/integration/test_participant_action_daemon.py
  tests/integration/test_status_transitions.py
  tests/unit/services/scheduler/test_event_builders.py
  tests/unit/services/scheduler/test_generic_scheduler_daemon.py
  tests/unit/services/test_participant_action_event_builder.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

docs: update all documentation for RabbitMQ removal and scheduler consolidation
  docs/deployment/README.md
  docs/deployment/configuration.md
  docs/deployment/docker.md
  docs/deployment/quickstart.md
  docs/developer/README.md
  docs/developer/SETUP.md
  docs/developer/TESTING.md
  docs/developer/architecture.md
  docs/developer/compose-dependencies.md
  docs/developer/deferred-events.md
  docs/developer/local-act-testing.md
  docs/grafana-alloy/TESTING_PHASE6.md
  docs/grafana-alloy/TESTING_PHASE7.md
Due: prettier

fix: use three-dot diff and convert integration tests to use app_db under RLS
  .copilot-tracking/changes/20260427-01-integration-tests-admin-db-rls-bypass-changes.md
  .copilot-tracking/planning/plans/20260427-01-integration-tests-admin-db-rls-bypass.plan.md
  scripts/check_commit_duplicates.py
  scripts/check_lint_suppressions.py
  tests/integration/services/api/services/test_game_image_integration.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: Phase 11 - display_status field and pending confirmation UI
  .copilot-tracking/changes/20260615-01-recurring-games-changes.md
  .copilot-tracking/planning/plans/20260615-01-recurring-games.plan.md
  .copilot-tracking/research/20260615-01-recurring-games-research.md
  frontend/src/components/GameCard.tsx
  frontend/src/components/__tests__/GameCard.test.tsx
  frontend/src/pages/GameDetails.tsx
  frontend/src/pages/__tests__/GameDetails.test.tsx
  frontend/src/types/index.ts
  services/api/routes/games.py
  shared/schemas/game.py
  tests/unit/services/api/test_games_display_status.py
  tests/unit/shared/schemas/test_game_schema.py
Due: autocopyright-python, autocopyright-typescript, prettier, eslint, python-compile, mypy, pytest-coverage, diff-coverage, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, complexipy, lizard-typescript, jscpd-generate, jscpd-diff

feat: Phase 8 - integration tests and clear_post_at fix for recurrence clones
  .copilot-tracking/planning/changes/20260615-01-recurring-games-changes.md
  services/api/services/games.py
  tests/integration/test_recurrence_clone.py
  tests/unit/services/api/services/test_games_service.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: Phase 5 - BotActionListener + Embed Deletion Migration
  .copilot-tracking/changes/20260704-01-remove-rabbitmq-changes.md
  .copilot-tracking/planning/plans/20260704-01-remove-rabbitmq.plan.md
  services/api/app.py
  services/api/services/embed_deletion_consumer.py
  services/bot/bot.py
  services/bot/bot_action_listener.py
  services/bot/events/publisher.py
  shared/services/game_cancellation.py
  tests/integration/test_embed_deletion_consumer.py
  tests/unit/bot/test_bot_action_listener.py
  tests/unit/bot/test_sweep_metrics.py
  tests/unit/services/api/services/test_embed_deletion_consumer.py
  tests/unit/services/bot/events/test_publisher.py
  tests/unit/services/bot/test_bot.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: add recurrence UI components for Phase 10
  frontend/src/components/GameForm.tsx
  frontend/src/components/RecurrenceSelector.tsx
  frontend/src/components/__tests__/GameForm.test.tsx
  frontend/src/components/__tests__/RecurrenceSelector.test.tsx
  frontend/src/pages/CreateGame.tsx
  frontend/src/pages/EditGame.tsx
  frontend/src/pages/__tests__/CreateGame.test.tsx
  frontend/src/pages/__tests__/EditGame.archiveBranches.test.tsx
  frontend/src/pages/__tests__/EditGame.test.tsx
  frontend/src/types/index.ts
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

feat: Phase 4 - Migrate SSEGameUpdateBridge to asyncpg LISTEN
  .copilot-tracking/planning/changes/20260704-01-remove-rabbitmq-changes.md
  .copilot-tracking/planning/plans/20260704-01-remove-rabbitmq.plan.md
  services/api/services/sse_bridge.py
  tests/integration/test_sse_bridge_integration.py
  tests/unit/services/api/services/test_sse_bridge_unit.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

chore: remove completed task artifacts for remove-scheduler
  .copilot-tracking/planning/details/20260706-01-remove-scheduler-details.md
  .copilot-tracking/planning/plans/20260706-01-remove-scheduler.plan.md
  .copilot-tracking/planning/prompts/implement-remove-scheduler.prompt.md
  .copilot-tracking/research/20260706-01-remove-scheduler-research.md
Due: prettier

docs: add addendum to remove-scheduler research — future ScheduleBase refactoring
  .copilot-tracking/research/20260706-01-remove-scheduler-research.md
Due: prettier

plan: insert Phase 9 for missing integration and e2e tests
  .copilot-tracking/planning/details/20260704-01-remove-rabbitmq-details.md
  .copilot-tracking/planning/plans/20260704-01-remove-rabbitmq.plan.md
  .copilot-tracking/research/20260408-02-remove-rabbitmq-research.md
Due: prettier

chore: remove recurring-games planning and research artifacts
  .copilot-tracking/planning/details/20260615-01-recurring-games-details.md
  .copilot-tracking/planning/plans/20260615-01-recurring-games.plan.md
  .copilot-tracking/planning/prompts/implement-recurring-games.prompt.md
  .copilot-tracking/research/20260615-01-recurring-games-research.md
Due: prettier

feat: Phase 9 - Add missing integration and e2e tests
  .copilot-tracking/changes/20260704-01-remove-rabbitmq-changes.md
  .copilot-tracking/planning/plans/20260704-01-remove-rabbitmq.plan.md
  tests/e2e/test_game_updated_sse_e2e.py
  tests/integration/test_embed_deletion_integration.py
  tests/integration/test_game_cancellation_queue.py
  tests/integration/test_game_updated_sse_bot.py
  tests/integration/test_player_removed_queue.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

plan: add Phase 11 — Pending Confirmation UI for recurring game clones
  .copilot-tracking/planning/details/20260615-01-recurring-games-details.md
  .copilot-tracking/planning/plans/20260615-01-recurring-games.plan.md
  .copilot-tracking/planning/prompts/implement-recurring-games.prompt.md
Due: prettier

refactor: reduce cognitive complexity in 6 functions
  scripts/check_test_assertions.py
  services/api/routes/games.py
  services/api/services/channel_resolver.py
  services/api/services/games.py
  services/api/services/guild_service.py
  tests/e2e/helpers/discord.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

docs: rename grafana-alloy TESTING_PHASE files to descriptive names
  docs/grafana-alloy/verify-alloy-cloud-connection.md
  docs/grafana-alloy/verify-api-instrumentation.md
  docs/grafana-alloy/verify-bot-instrumentation.md
  docs/grafana-alloy/verify-postgres-metrics.md
  docs/grafana-alloy/verify-redis-metrics.md
Due: prettier

feat: Phase 5 - delete scheduler service
  .copilot-tracking/changes/20260706-01-remove-scheduler-changes.md
  .copilot-tracking/planning/plans/20260706-01-remove-scheduler.plan.md
  compose.e2e.yaml
  compose.int.yaml
  compose.override.yaml
  compose.prod.yaml
  compose.staging.yaml
  compose.test.yaml
  compose.yaml
  docker/scheduler.Dockerfile
  services/scheduler/__init__.py
  services/scheduler/config.py
  services/scheduler/daemon_runner.py
  services/scheduler/generic_scheduler_daemon.py
  services/scheduler/scheduler_daemon_wrapper.py
  services/scheduler/services/__init__.py
  services/scheduler/tasks/__init__.py
  services/scheduler/utils/__init__.py
  tests/integration/test_clone_confirmation_notification.py
  tests/integration/test_message_refresh_queue.py
  tests/integration/test_notification_daemon.py
  tests/integration/test_participant_action_daemon.py
  tests/integration/test_status_transitions.py
  tests/shared/sync_pg_listener.py
  tests/unit/services/scheduler/test_daemon_runner_run.py
  tests/unit/services/scheduler/test_daemon_runner_signals.py
  tests/unit/services/scheduler/test_event_builders.py
  tests/unit/services/scheduler/test_generic_scheduler_daemon.py
  tests/unit/services/scheduler/test_postgres_listener.py
  tests/unit/services/scheduler/test_scheduler_daemon_wrapper.py
  tests/unit/services/scheduler/test_scheduler_status_transitions.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

refactor(recurring): extract clone_game_for_recurrence into shared.services.game_schedules
  .copilot-tracking/planning/plans/20260615-01-recurring-games.plan.md
  services/api/services/games.py
  services/bot/events/handlers.py
  shared/services/game_schedules.py
  tests/unit/services/test_system_clone_for_recurrence.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: Phase 3 - Migrate API to BotActionQueue (Flows 1-4) + SSE NOTIFY
  .copilot-tracking/changes/20260704-01-remove-rabbitmq-changes.md
  .copilot-tracking/planning/plans/20260704-01-remove-rabbitmq.plan.md
  services/api/routes/games.py
  services/api/services/embed_deletion_consumer.py
  services/api/services/games.py
  shared/services/game_cancellation.py
  tests/integration/services/api/services/test_game_image_integration.py
  tests/integration/test_clone_game_endpoint.py
  tests/integration/test_embed_deletion_consumer.py
  tests/integration/test_game_signup_methods.py
  tests/integration/test_games_route_guild_isolation.py
  tests/integration/test_recurrence_clone.py
  tests/unit/api/services/test_games.py
  tests/unit/services/api/services/conftest.py
  tests/unit/services/api/services/test_embed_deletion_consumer.py
  tests/unit/services/api/services/test_games_promotion.py
  tests/unit/services/api/services/test_games_service.py
  tests/unit/services/test_clone_game.py
  tests/unit/services/test_game_service_persist_and_publish.py
  tests/unit/services/test_system_clone_for_recurrence.py
  tests/unit/shared/services/test_game_cancellation.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

chore: remove RabbitMQ scraper from Grafana Alloy config template
  config.template/grafana-alloy/config.alloy
Due: none

feat: redesign RecurrenceSelector layout and add host docs
  docs/HOST-GUIDE.md
  frontend/src/components/RecurrenceSelector.tsx
  frontend/src/components/__tests__/GameForm.test.tsx
  frontend/src/components/__tests__/RecurrenceSelector.test.tsx
  frontend/src/pages/__tests__/CreateGame.test.tsx
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

fix: replace render-phase setState in RecurrenceSelector with key-based reset
  frontend/src/components/GameForm.tsx
  frontend/src/components/RecurrenceSelector.tsx
  frontend/src/components/__tests__/RecurrenceSelector.test.tsx
Due: autocopyright-typescript, prettier, eslint, frontend-build, typescript, vitest-coverage, diff-coverage-frontend, lizard-typescript, jscpd-generate, jscpd-diff

fix: wire recur_rule and can_manage into create/update/clone game routes
  services/api/routes/games.py
  services/api/services/games.py
  tests/unit/services/api/routes/test_games_endpoint_errors.py
  tests/unit/services/api/routes/test_games_routes.py
  tests/unit/services/api/services/test_update_game_fields_helpers.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

feat: Phase 2 - SchedulerLoop stub + xfail unit tests
  .copilot-tracking/changes/20260706-01-remove-scheduler-changes.md
  .copilot-tracking/planning/plans/20260706-01-remove-scheduler.plan.md
  services/bot/scheduler_loop.py
  tests/unit/services/bot/test_scheduler_loop.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

chore: remove Daemon Service Configuration section from env.template
  config.template/env.template
Due: none

chore: remove dead rabbitmq_url config fields
  services/api/config.py
  services/bot/config.py
  tests/unit/services/api/test_api_config.py
  tests/unit/services/bot/test_bot_config.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: recurrence confirmation timezone error and post-restart view loss
  services/bot/bot.py
  services/bot/views/recurrence_confirmation_view.py
  tests/unit/bot/test_bot_ready.py
  tests/unit/services/bot/views/test_recurrence_confirmation_view.py
Due: autocopyright-python, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

docs: strengthen unit test philosophy in instructions
  .github/instructions/test-driven-development.instructions.md
  .github/instructions/unit-tests.instructions.md
Due: prettier

docs(recurring): apply Phase 8/9 addendum corrections to plan and details
  .copilot-tracking/planning/details/20260615-01-recurring-games-details.md
  .copilot-tracking/planning/plans/20260615-01-recurring-games.plan.md
  .copilot-tracking/research/20260615-01-recurring-games-research.md
Due: prettier

feat: Phase 1 - move event builders to shared/services/
  .copilot-tracking/changes/20260706-01-remove-scheduler-changes.md
  .copilot-tracking/planning/plans/20260706-01-remove-scheduler.plan.md
  docker/scheduler.Dockerfile
  services/scheduler/scheduler_daemon_wrapper.py
  shared/services/event_builders.py
  shared/services/participant_action_event_builder.py
  tests/unit/services/scheduler/test_event_builders.py
  tests/unit/services/test_participant_action_event_builder.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff

fix: CI script sync
  .github/instructions/agents.instructions.md
  .github/instructions/api-authorization.instructions.md
  .github/instructions/containerization-docker-best-practices.instructions.md
  .github/instructions/fastapi-transaction-patterns.instructions.md
  .github/instructions/github-actions-ci-cd-best-practices.instructions.md
  .github/instructions/instructions.instructions.md
  .github/instructions/self-explanatory-code-commenting.instructions.md
  .github/instructions/taming-copilot.instructions.md
  .pre-commit-config.yaml
  scripts/check_commit_duplicates.py
  scripts/check_diff_coverage.py
  scripts/check_diff_coverage_frontend.py
  scripts/check_lint_suppressions.py
  scripts/check_test_assertions.py
Due: autocopyright-python, prettier, python-compile, mypy, complexipy, jscpd-generate, jscpd-diff

feat: Phase 9 - recurring games e2e tests
  .copilot-tracking/planning/plans/20260615-01-recurring-games.plan.md
  compose.e2e.yaml
  tests/e2e/test_recurring_game.py
Due: autocopyright-python, prettier, python-compile, mypy, pytest-coverage, diff-coverage, complexipy, jscpd-generate, jscpd-diff
